/* COLOR REFERENCE

Aqua:		#29dcd9
Dark-gray:  #3d3d3d
White:      #FFFFFF

*/

/* ==== GLOBAL ================================================================  GLOBAL =================== */  

body {
	padding-top: 50px;
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 13px;
	color: #3d3d3d;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}


h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
	
}

a:link {
	color: #29dcd9;
}

a:visited{
	color: #29dcd9;
    text-decoration: underline;

}

a:hover {
	text-decoration: underline;
	color: #29dcd9;
}

img {
	max-width: 100%;
}

p {
	margin: 0;
}


.container{
	padding: 0 70px;
}

.container-all-edges {
	background: white;
	padding-right: 80px;
	border-right: solid 1px #dedede;
}



.lead {
	font-size: medium;
}

hr {
        display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: 1px; 
}

ul {
   list-style: none;
}

ol {
	list-style: none;
}


#separator {
    padding-top: 30px;
    margin-bottom: 30px;
	border-bottom: 1px solid #dddddd;
}

.separator-solid{
	position: relative;
	background-color: #29dcd9;
	height: 45px;
	padding-left: 15px;
	padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 50px;	
}

.separator-solid h3 {
	color: white;
	padding: 0px;
	margin: 0px;
	position: relative;
	z-index: 1000;
}

#separator-solid-read-more {
	color: white;
	padding: 0px;
	margin: 0px;
	position: relative;
    text-align: right;
    padding-top: 5px;
    padding-right: 30px;
	z-index: 1000;
}


#separator-pages-top {
	margin-bottom: 30px;
	border-bottom: 1px solid #dddddd;
	
}

#separator-pages-bottom {
    padding-top: 30px;
    margin-bottom: 30px;
	border-bottom: 1px solid #dddddd;
	
}


iframe {
    max-width: 100%; 
}


/* ========== Ribbon ======== */

/*Beta Ribbon */

.ribbon {
  position: absolute;
  left: 10px; top: 10px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #003399;
  position: absolute;
  top: 19px; left: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #000000;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #000000;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #000000;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #000000;
}

/* ==== Navigation =============================================================  Navigation =============== */ 

.navbar{
	font-size: 13.5px;
	border-radius: 0;

}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.87);
    border-top: 1px solid #0e0e0e ;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}
.navbar-fixed-top {
    top: 0px;
    border-width: 0px 0px 0px;
}

.navbar-brand {
    padding: 12px;
}

.navbar-brand > img {
	height: 28px;

}

.navbar-nav > li > .dropdown-menu {
    margin-top: 5.4px;
 }

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open > a:hover {
	background-color: transparent;
	border: none;
	color: #ffffff;	
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.87);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

.dropdown-menu > li > a {
	color: #fff
	}

.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
    color: #29dcd9;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus, 
.dropdown-menu > .active > a:hover {
	color: #29dcd9;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 20px;
    -webkit-border-radius: 0px ;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
 

.navbar-nav > li > a {
    margin: 12px 0 0px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color:  #d630cb;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #29DCD9;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #29DCD9;
  background-color: transparent;
}

.navbar-wrapper .message-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0px;
    height: 20px;
    background-color: #f1c40f;
    border-width: 0px 0px 0px;
}

.navbar-wrapper .message-fixed-top p{
    position: relative;
    text-align: center;
    margin-top: 0px auto;
    font-weight: bold;
}



/* ======= collaborations ======== */



#collaborations {
	padding-top: 10px;
	padding-bottom: 60px;

}

#collaborations-text {
	padding-left: 70px;
	margin-top: 105px;	
}

@media (min-width: 661px) and (max-width: 991px) {
	
	#collaborations-text {
	padding-left: 0px;
	margin-top: 65px;	
    }

	#collaborations-text h2{
		font-size: 1.8em;	
	}

}




/* ======= Suscribe newsletter ======== */



#subscribe {
	background: url('../img/banner_pages/subscribe_banner.jpg') no-repeat; 
	background-size: cover ;
	margin-top: 30px;

}

#subscribe-row {
	padding-top: 50px;
	padding-bottom: 30px;
}


#mc_embed_signup form {
	display:block; 
	position:relative; 
	text-align:center; 
	padding:10px 0 10px 0;
}

#mc_embed_signup h2 {
	font-weight:bold; 
	color: white;
	padding:0; 
	margin: 15px 0 20px 0;
    font-size: 1.9em;
}

#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}

#mc_embed_signup .button {
	clear:both; 
	background-color: #29dcd9; 
	border: 0 none; 
	border-radius:4px; 
	color: #FFFFFF; 
	cursor: hand; 
	display: inline-block; 
	font-size:15px; 
	font-weight: bold; 
	height: 32px; 
	line-height: 32px; 
	margin: 0 0 10px 0; 
	padding: 0 42px; 
	text-align: center; 
	text-decoration: none; 
	vertical-align: top; 
	white-space: nowrap; 
	width: auto;}
	
#mc_embed_signup .button:hover {
	background-color:#2fb5b2;
	
}

#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {
	clear:left; 
	position:relative; 
	width:100%; 
	padding-bottom:25px; 
	min-height:50px;
}
	
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}

* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}

#mc_embed_signup .mc-field-group label {
	display:block; 
	margin-left: auto;
    margin-right: auto;
	margin-bottom:3px;}

#mc_embed_signup .mc-field-group input {
	display:block; 
	margin-left: auto;
    margin-right: auto;
	width:90%; 
	padding:8px 0; 
	text-indent:2%;
	text-align: center;
}

#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}

#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}

#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}

#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}

#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}

#mc_embed_signup .asterisk {color:#c60; font-size:200%;}

#mc_embed_signup .mc-field-group .asterisk {position:absolute; top:25px; right:10px;}   
     
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}

#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}

#mc_embed_signup .mc-field-group.input-group label {display:inline;}

#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}


#mc_embed_signup div#mce-responses {
	float:center; 
	top:-1.4em; 
	padding:0em .5em 0em .5em; 
	overflow:hidden; 
	width:90%;
	margin: 0 15%; 
	clear: both;
}

#mc_embed_signup div.response {
	display:block; 
	margin-left: auto;
    margin-right: auto;
	margin: 0 0 25px 0;
	padding: 0px; 
	font-weight:bold; 
	top: 20px; 
	z-index:1; 
	width:80%;
}

#mc_embed_signup #mce-error-response {display:none;}

#mc_embed_signup #mce-success-response {
	color:#ffffff; 
	display:block ;}

#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:center; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}


/* ======= Partners ================ */

#partners {
	color: white;
    margin-top: 30px;
    padding-top: 23px;
	background: rgba(0, 0, 0, 0.87);
}

#partners a {
	color: white;
}



/* ======= Footer ================== */

#footer {
	text-align: center;
	background: white;
	padding: 30px 0 30px 0;
	
}

/* ====== Contact ==================================================== Contact ============ */

#contact img {
	padding-bottom: 40px;
}

#contact-col-txt-1 {
	font-size: 1.2em;
    padding-top: 10px;

}

#contact-col-txt-2 {
	font-size: 1.2em;
    padding-top: 0px;

}

#map-info {
	padding: 30px 0;
}

#map-container { 
	 height: 300px;  
	
}


/* ==== Pages Layout ============================================================= Pages Layout =============== */ 


#header-pages-blog-title {
	background: url('../img/banner_pages/header_1.jpg') no-repeat; 
	background-size: cover ;
	text-align: center;
}

#header-pages-about-us-title {
	background: url('../img/banner_pages/header_1.jpg') no-repeat; 
	background-size: cover ;
	text-align: center;
}

#header-pages-contact-title {
	background: url('../img/banner_pages/header_3.jpg') no-repeat; 
	background-size: cover ;
	text-align: center;
}


#header-pages-blog-title h2, #header-pages-about-us-title h2,  #header-pages-contact-title h2 {
	padding: 30px 0 30px 0px;
	vertical-align: middle;
	text-align: center; 
    color: white;

}


#pages-social-icons {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 1.5em;
	list-style: none;
}


#pages-social-icons li a{
    color: #3d3d3d !important;
}

#pages-social-icons li a:hover{
    color: #29dcd9 !important;
}



/* ==== Home ==================================================== Home ============ */

#latest-news{
	padding-top: 0px; 
	padding-bottom: 0px;
}

#read-more-button {
	margin-top: 30px;
}

.btn-lg {
    border-radius: 2px;
}


#job-openings .row {
	padding: 0px 30px 50px 30px;
}

#job-openings .col-md-6 {
	padding: 0px;
}



/* ==== Banner ==================== */ 


#news h2{
	text-align: left;
}

#latest-news-banner {
	padding-top: 30px;
	padding-bottom: 30px;
}

#banner-background {
	color: white;
	background-color: #FFC300;
	z-index: -1;	
}

#banner-text {
	padding: 30px 0 0 60px;
}

#banner-background {
	padding: 0 30px 0 0;
}

#banner-background a {
	color: white;
}

#banner-background a:hover {
	text-decoration: underline;
}

/* ======= content blocks ================== */

#main-menu-button{
	padding-top: 15px;
	padding-bottom: 15px;
}

.image-fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.image-fade:hover {
    opacity: 0.5;

}


#content-blocks {
	padding-bottom: 30px;
	width: auto;	
	text-align: center;
}

#content-blocks-row {
	padding-top: 30px;
}
 

.content-blocks-button {
	background: #000000;    
}

#latest-news-picture {
	background: #000000;
}

.image-fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.image-fade:hover {
    opacity: 0.5;

}


#content-blocks h2 {
	position: absolute;
	top: 110px;  
    width: 90%;
    color: white;

}

@media (min-width: 661px) and (max-width: 991px) {

/* ======= Carousel ========= */


/* ======= Content menu ======= */

 
#content-blocks h2 {
	position: absolute;
	top: 70px;  
    width: 90%;
    color: white;
    font-size: 2em;
}

}


/* ==== Carousel ============================================================= Carousel =============== */ 

.carousel-caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    font-weight: 500;
    bottom: 130px;
    font-size: 1.4em;
    text-shadow: none;
    color: white;
}

.carousel-caption li{
	font-size: 1.6em;
    list-style: none;
    color: white;

}

.carousel-caption li a:link{
    color: white;

}

.carousel-caption .fa {
	color: white;
}


/* ============= medium devices  ========================================= */

 
@media (min-width: 992px) and (max-width: 1199px) { 
	
/* ======= Carrousel ========= */

.carousel-caption {
        bottom: 100px;
        width: 350px;
    }

}



/* ========= small devices -tablet- ============== */


@media (min-width: 661px) and (max-width: 991px) {

    .carousel-caption {
        bottom: 40px;
        width: 350px;
    }

}


/* ============= extra small devices ===================================== */


@media (min-width: 240px) and (max-width: 660px) { 
	
	
	#carousel-container {
	padding-top: 40px;
	margin-bottom: 20px;
	height: 350px;
	background-image: url('../img/hero_slider/a_slider_5.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 800px;
}

#slider-img {
	display: none;
}

#main-logo {
	width: 300px;
} 

.carousel-caption {
	display: block;	
	width: 250px;
	padding-top: 0px;
	font-weight: 500;
	top: 40px;
	font-size: 1.2em;

}

.carousel-caption li a {
	font-size: 0.7em;
	list-style: none;
}

#job-openings .col-md-6 {
	padding: 0px 20px 0px 20px;
}

	
}

/* ======= Carrousel ========= */






/* ==== About us ============================================== About us ============ */ 

/* ======= About us menu ================== */


#about-us-menu-row-1 {
	padding: 10px 0 10px 0;
}

#about-us-menu-row-2 {
	padding: 10px 0 10px 0;
}

.team-item {
	min-height: 310px;
}
.team-social{
  padding-top:10px;
}

#team h3{
	padding-bottom: 30px;
}

#team li{
	list-style: none;
}

#team-item li a{
	color: #3d3d3d;
}

#team-item li a:hover{
	color: #29dcd9;
}

/* ====== Calendar ============================================================ Calendar ============ */ 

#calendar-frame {
	display: block;
	align-content: center;
}



/* ====== Blog ============================================================ Blog ============ */ 

.form-control:focus {
    border-color: #29dcd9;
    outline: 0px none;
    box-shadow: none;
}


.well {
	background-color: #f3f3f3;
	border-radius: 2px;
    margin-left: 15px;
    box-shadow: none;
}

.pager li > a {
	font-size: 1.3em;
	border-radius: 2px;
}

.pager li > a:hover {
	background-color: #FFF;
}


/* ====== Blog Post ====================================================== Blog Post ========== */


#blog-post img {
	padding-top: 30px;
	padding-bottom: 30px;
} 

#comment-input {
	margin-top: 40px;
	margin-bottom: 40px;
}

#comment-input btn{
	padding-left: -20px;
}

/* ====== Fab Academy ================================================ Fab Academy ============ */

#fab-academy {
	padding: 20px 0 0 0;
}


#fab-academy-text {
	padding-left: 50px;
}

#fab-academy img {
	padding-top: 15px;
}

#fab-academy-video-embed{
	padding: 80px 0 0 50px;
}
#fab-academy-info {
	padding-bottom: 60px;
}

#fab-academy-info ul{
	list-style: disc;
}

/* ====== Fab Kids ==================================================== Fab Kids ============ */

#fab-kids-col-pic {
    padding-top: 30px;
    padding-bottom: 30px;
}

#fab-kids-col-txt-1 {
	font-size: 1.2em;
    padding-top: 80px;

}

#fab-kids-col-txt-2 {
	font-size: 1.2em;
    padding-top: 150px;

}

/* ====== Fab Pro ==================================================== Fab Pro ============ */

#fab-pro {
	padding: 0 0 30px 0;
	font-size: medium;
}

#fabpro-description {
	padding-bottom: 15px;
}

#fabpro-description-2 {
	border-left: solid 1px #dedede;
	padding-left: 50px;
}

#fabpro-hr {
	display: none;
}

#fabpro-our-clients {
	padding-top: 10px;
}

#fabpro-our-clients h3 {
	text-align: center;
}

#fabpro-our-clients img {
	width: 100px;
}


@media (min-width: 668px) and (max-width: 991px) {
	
	#fabpro-hr {
	display: block;
	padding: 20px 20px 20px 15px;
    }
    
    #fabpro-description-2 {
	border-left: none;
	padding-left: 15px;
	}
} 

@media (min-width: 240px) and (max-width: 660px) { 

    #fabpro-hr {
	display: block;
	padding: 10px 20px 10px 15px;
    }
    
    #fabpro-description-2 {
	border-left: none;
	padding-left: 15px;
	}
	
	

}

#fab-pro-machine-list{
	text-align: center;
	margin-bottom: 50px;
}

#tech-assistance {
	text-align: left;
	padding-top: 5px;
}

/* ====== Pop Up Fab Lab ============================================= Pop Up Fab Lab  ============ */

#pop-up-fab-lab-content {
	padding-bottom: 30px;
}

#pop-up-fab-lab-content h3 {
	padding-bottom: 15px;
}

#pop_up_fab_lab_text {
	padding: 40px 0 30px 0;
}

/* ====== projects showcase ==================================== projects showcase ====== */

.project-item {
    margin-bottom: 30px;
}

.pagination > li:first-child > a, 
.pagination > li:first-child > span {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: none;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857;
    color: #3d3d3d;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #DDD;
}

.pagination > li > a:hover {
	background: transparent;
	color: #29dcd9; 
}

.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    z-index: 2;
    color: #FFF;
    cursor: default;
    background-color: #3d3d3d;
    border-color: #3d3d3d;
}

/* ====== project post ================================================ project post ====== */


/* Grid */

#grid[data-columns]::before {
	content: '4 .column.size-1of4';
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of4 { width: 25%; }


.menu-item {
	padding: 10px;
}

.menu-item h3 a{
	color: #3d3d3d !important;
}

.menu-item h3 a:hover{
	color: #29dcd9 !important;
}

/* Grid */

#projects-menu {
	padding-bottom: 30px;

}

#project-body .claim {
	font-size: 16px;
	margin-bottom: 0;
}

#project-body .project-link {
	margin: 5px 0 5px 0;
	font-size: 18px;
	font-weight: bold;;
}

#project-body  img {
	display: block;
    margin-left: auto;
    margin-right: auto;
   	margin-bottom: 30px;
	margin-top: 30px;
}

#project-body  p {
	margin-bottom: 7px;
}

#project-body  iframe {
	margin-bottom: 30px;
	margin-top: 30px;
}

#project-body  h1, #project-body  h2, #project-body  h3 {
	color: #3d3d3d !important;
	background: none !important;

}


@media (min-width: 668px) and (max-width: 991px) {
	
#grid[data-columns]::before {
		content: '4 .column.size-1of4';
	}	
	
/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 100%; }


.menu-item {

	padding-bottom: 30px;
    }

} 



@media (min-width: 240px) and (max-width: 667px) {

#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}	
	
/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of1 { width: 100%; }


.menu-item {
	padding-bottom: 30px;
    }

}

#project-body {
	padding: 0px 200px 50px 200px;
	text-align: left;
}


@media (min-width: 1200px) {
	#project-body {
		padding: 0px 200px 50px 200px; 
	}	
}

@media (min-width: 992px) and (max-width: 1199px) { 
	#project-body {
        padding: 0px 130px 50px 130px;
    }	
}


@media (min-width: 668px) and (max-width: 991px) {
	#project-body {
        padding: 0px 50px 50px 50px;
    }
} 

@media (min-width: 240px) and (max-width: 667px) { 

    #project-body {
	    padding: 0px 10px 0px 10px;
	    text-align: center;
    }
}





/* ====== Workshops ================================================ Workshops ============ */

#post-body {
	font-size: 1.1em;
	padding: 0px 200px 50px 200px;
	text-align: left;
}

#post-body img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#workshops-body {
	padding: 0px 10px 0px 10px;
	text-align: left;
    }
}

#workshops img {
	padding-bottom: 40px;
}

#workshops-description {
	font-size: 1.1em;
	padding-top: 10px;
	padding-bottom: 60px;
}


.btn-success a,
.btn-success a:hover {
	color: white;
}

@media (min-width: 1200px) {
	#workshops-body {
		padding: 0px 200px 50px 200px; 
	}	
}

@media (min-width: 992px) and (max-width: 1199px) { 
	#workshops-body {
        padding: 0px 130px 50px 130px;
        }	
}


@media (min-width: 668px) and (max-width: 991px) {
	#workshops-body {
        padding: 0px 50px 50px 50px;
        }
} 

@media (min-width: 240px) and (max-width: 667px) { 



/* ====== workshop post ================================================ workshop post ====== */



#workshop-post-row {
	padding-top: 30px;
}

#carousel-example-generic {
	margin-bottom: 60px;
}

.carousel-control.right {
    right: 0px;
    left: auto;
    background-image: none;
    background-repeat: none;
}

.carousel-control.left {
    left: 0px;
    right: auto;
    background-image: none;
    background-repeat: none;
}

#workshop-post-description {
	padding-top: 20px;
}

#workshop-post-description p {
	font-size: 1.2em;
}

#workshop-post-text {
	padding-top: 30px;
	padding-bottom: 50px;
}


/* ====== Join Us ====================================================  Join Us ============ */

#join-us {
	padding: 30px 0 60px 0;
}

#join-us ul{
	list-style: disc;
}

#join-us-text {
	padding-left: 60px;
}


/* ====== Open Days ==================================================== Open Days ============ */

#open-days {
	margin: 30px 0 60px 0;
}

#open-days-text-1{
	padding: 30px 0px 30px 50px !important;
}

#open-days-text-2{
	padding: 30px 0px;
}


/* ============= media queries ========================================= media queries ======================= */



/* ============= medium devices  ========================================= */

 
@media (min-width: 992px) and (max-width: 1199px) { 
	


.container {
    width: 850px;
}


/* ======= Carrousel ========= */

/* === Collaborations ======== */

/* === Suscribe newsletter === */

}

/* ============= small devices -tablet- ==================================== */


@media (min-width: 661px) and (max-width: 991px) {

/* ======= Carousel ========= */


/* ======= Content menu ======= */

 
#content-blocks h2 {
	position: absolute;
	top: 70px;  
    width: 90%;
    color: white;
}

#fab-labs-world h2{
	top: 55px;    
}



/* === Collaborations ======== */

#collaborations-text {
	padding-left: 10px;
	margin-top: 80px;	
}

#collaborations-text h2{
	font-size: 1.8em;	
}

/* === Suscribe newsletter === */
	
	
	#subscribe-row {
	padding-top: 40px;
	padding-bottom: 25px;
}


    #subscribe-text {
	font-size: 1.3em;
	font-weight: bold;
	text-align: right;
	color: #ffffff;
}

/* ======= Partners ============ */


#partners {
	padding-bottom: 25px;	
}

#partners-visit-us,
#partners-visit-us p a {
	color: white;
}


} 

/* ============= extra small devices ===================================== */


@media (min-width: 240px) and (max-width: 660px) { 

header {
    margin-right: 0px;
    margin-left: 0px;
}


.container {
    padding: 0 15px 0 15px;
}

.navbar-brand {
	padding-left: 25px;
}

.separator-solid {
    margin-top: 10px;
    margin-bottom: 30px;
}

#job-openings .row {
	padding: 0 0px 40px 0px;
}

.col-sm-3 {
	padding-left: 5px;
	padding-right: 5px;
}

#banner-text {
    padding: 20px 15px 0px 50px;
}

#content-blocks h2 {
    position: absolute;
    font-size: 3em;
    top: 160px;
    width: 90%;
    color: #FFF;
}



/* === Suscribe newsletter === */

#mc_embed_signup h2 {
	font-weight:bold; 
	color: white;
	padding:0; 
	margin: 15px 0px 20px 0px;
    font-size: 1.7em;
}

#mc_embed_signup .mc-field-group {

    width: 100%;
    padding-bottom: 5px;

}


#mc_embed_signup .button {
	
	margin: 0px 20px 10px 0px; 
	
}

#mc_embed_signup div#mce-responses {
	float:center; 
	top:-1.4em; 
	padding:0em .5em 0em .5em; 
	overflow:hidden; 
	width:90%;
	margin: margin: 0px 0px 0px 40px; 
	clear: both;
}


/* ======= Partners ============ */


/* === Maps =================== */


#google-maps {
	width= 200px;
	height: 50px;
}


}



