/* COLOR REFERENCE

Aqua:		#29dcd9
Dark-gray:  #3d3d3d
White:      #FFFFFF

*/

/* ==== GLOBAL ================================================================  GLOBAL =================== */  

body {
  font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

hr{
  border: 1px solid #262626;
  margin-top: 40px;
  margin-bottom: 40px;
}

p{
  font-size: 18px;
}

.fablab-form-input{
  border:0;
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 30px;
}
a{
  font-weight: bold;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

img{
  max-width: 100%;
}

/* navbar-dark is not dark enough */
.bg-black{
  background-color: #000;
  color: white;
}
.bg-black a{
  color:white;
}

.navbar .dropdown-menu{
  background-color: #222;
}
.navbar .dropdown-menu a{
  color: white;
}
.navbar .dropdown-menu a:hover{
  background-color: #444;
}

.btn{
  border-radius: 0px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-fablab-blue{
  color: #fff;
  background-color: #0c1fd6;
  border-color: #0c1fd6;
}

.btn-fablab-blue:hover{
  color: #fff;
  background-color: #3041DC;
  border-color: #fff;
}

.btn-fablab-blue-2{
  color: #0c1fd6;
  background-color: #fff;
  border-color: #0c1fd6;
}

.btn-fablab-blue-2:hover{
  color: #fff;
  background-color: #0c1fd6;
  border-color: #0c1fd6;
}

.btn-dark{
  background-color: #000;
}
.btn-outline-dark:hover{
  background-color: #000;
}

/* Google Search */
.gsc-control-cse{
  padding: 0px 20px 0px 0px !important;
}

.lead {
  font-size: medium;
}

/* EU RESEARCH Ribbon on frontpage */
.ribbon {
  position: absolute;
  left: 10px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #003399;
  position: absolute;
  top: 19px; left: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #000000;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #000000;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #000000;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #000000;
}

/* Sharing Buttons for Social Media */
.box-btn-media{
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box-btn-media,
.box-btn-media ul,
.box-btn-media li {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  list-style: none;
}

ul li:first-of-type .sm-btn {
  border-top-right-radius : 5px;
}

ul li:last-of-type .sm-btn {
  border-bottom-right-radius : 5px;
}

.sm-link,
.sm-btn-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.sm-link {
  width: fit-content;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}

.sm-link:hover {
  text-decoration: none;
  color: #fff;
}

.sm-btn {
  padding: 0.5em 0.75em;
  height: 40px;
  width: 40px;
  background: #000;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: "Helvetica nue",Helvetica,Arial,sans-serif;
  transition: 0.2s;
}

li:hover .sm-btn {
  border-top-right-radius : 5px;
  border-bottom-right-radius : 5px;
  width: fit-content;
  transition: 0.2s;
}

.sm-btn-icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

.sm-btn-icon {
  fill: #fff;
  stroke: none
}

.sm-btn-facebook:hover,
.sm-btn-facebook:active {
  background-color: #3b5998;
  border-color: #3b5998;
}

.sm-btn-twitter:hover,
.sm-btn-twitter:active {
  background-color: #55acee;
  border-color: #55acee;
}

.sm-btn-email:hover,
.sm-btn-email:active {
  background-color: #777777;
  border-color: #777777;
}

.box-btn-media span{
  margin-left: 3px;
  font-size: .9rem;
}
/* [END] Sharing Buttons for Social Media */

@media (max-width: 992px) {

  .fabLab-header{
    font-size: 3rem;
  }

  .fablab-subheader{
    font-size: 1.6rem;
  }
}