/* COLOR REFERENCE

Aqua:		#29dcd9
Dark-gray:  #3d3d3d
White:      #FFFFFF

*/

/* ==== GLOBAL ================================================================  GLOBAL =================== */  

body {
	padding-top: 80px;
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 13px;
	color: #3d3d3d;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}


h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
	
}

a {
	color: #3d3d3d; 
}

a:link {
	color: #3d3d3d;
}

a:visited{
	color: #3d3d3d;
}

a:hover {
	text-decoration: none;
	color: #29dcd9;
}

img {
	max-width: 100%;
}

p {
	margin: 0;
}


.container{
	padding: 0 30px 0 30px;
}

.container-all-edges {
	background: white;
	padding-right: 80px;
	border-right: solid 1px #dedede;
}

.lead {
	font-size: medium;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #dedede; 
}

ul {
   list-style: none;
}

ol {
	list-style: none;
}

.row {
	padding: 15px 0 15px;
}

#separator {
    padding-top: 30px;
    margin-bottom: 30px;
	border-bottom: 1px solid #dddddd;
}


/* ==== Nav ======================================================================  Nav =================== */


.navbar-default {
    background-color: white;
    border-color: #E7E7E7;
    
}

.navbar {
    position: fixed;
    background-color: rgba(255,   255,   255, 0.9);
    min-height: 50px;
    border-top: 1px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
    margin-bottom: 0px;

}


.navbar-text {
	margin: 0;
	padding-top: 7px;
    font-size: 3em;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-right {
    float: right !important;
    padding: 20px 0 0 0 ;
    font-size: medium;
}

.navbar-default 
.navbar-text {
	color: black;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

#shop-social-top {
	text-align: right;
	font-size: 1.5em;
	
}

#shop-back-to-web {
	font-size: 1.3em;
}


#go-back-to-fablabbcn {
	text-align: right;	
}

#social-instagram {
	padding-right: 10px; 
}

#cart {
	text-align: right;
	padding-left: 10px; 
}

/* ==== Shop featured ====================================================================== Shop featured =================== */

#store-featured {
	padding: 10px 0;
	
}

.mask{
	position: absolute;
    top: 0;
    width: 92%;
    height: 100%;
	margin-left: 0px;
    margin-right: 0px;
	color: white;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.76);
    transition: all 0.4s ease-in-out;
    z-index: 1000;
}

#mask-text {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	top: 150px;
	right: 55px;
}

#mask-text p {
	font-size: 1.3em;
}

.button-info {
	position: absolute;
	bottom: -30px;
	right: 50px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	color: white;
	font-size: 2em;
}

.button-fade a.button-info {
    position:absolute;

    width: 100%;
    opacity: 0;
    transition: opacity 0.5s 0s ease-in-out;
    background-color: solid rgba(0,0,0,0.7);
}

.button-fade:hover .mask {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.76);
}

.button-fade:hover a.button-info {
   opacity:1;
   transition-delay: 0.3s;
}


/* ==== Product ======================================================== Product ============= */



#product-description {
	padding: 0 0 30px 0;
}

.slides {
	padding-left: 0;
	padding-right: 30px;
}

#product-info {

	padding: 30px 0 30px 0;
}

#product-info-col{

	padding-bottom: 30px;
}

#product-info-col-text {

	padding-bottom: 30px;
	padding: 50px 50px 30px 50px;
}


/* ==== Footer ======================================================== Footer ============= */



/* ==== Media Queries ========================================================== Media Queries ============= */

/* ============= large devices ======================================= */


@media (min-width: 1200px) { 
	


}


/* ============= medium devices  ======================================= */


@media (min-width: 992px) and (max-width: 1199px) { 

.navbar > .container-fluid .navbar-brand {
    margin-left: 80px;
    margin-top: 20px;
}

.navbar-right {
    float: right !important;
    padding: 20px 85px 0 0 ;
    font-size: medium;
}
	
}


/* ============= small devices ======================================= */


@media (min-width: 668px) and (max-width: 991px) {
	
.navbar > .container-fluid .navbar-brand {
    margin-left: 100px;
    margin-top: 20px;
}

.navbar-right {
    float: right !important;
    padding: 20px 85px 0 0 ;
    font-size: medium;
}

} 

/* ============= extra small devices ======================================= */


@media (min-width: 240px) and (max-width: 667px) { 
	
	

}





