---
layout: default
title: About Us
---

<!-- ==== About Fablab ==== -->

<section class="container mt-5">
  <h3> Fab Lab Barcelona </h3>

  <div class="row">
    <div class="col-md-4 col-sm-4">
      <p>Fab Lab Barcelona is part of the <a target="_blank" href="http://iaac.net/"><strong>Institute for Advanced Architecture of Catalonia</strong></a>, where it support different educational and research programs related with the multiple scales of the human habitat. It is also the headquarters of the global coordination of the Fab Academy program in collaboration with the <a target="_blank" href="http://www.fabfoundation.org/"><strong>Fab Foundation</strong></a> and the <a target="_blank" href="http://cba.mit.edu/"><strong>MIT’s Center for Bits and Atoms</strong></a>; the Fab Academy is a distributed platform of education and research in which each Fab Labs operates as  a classroom and the planet as the campus of the largest University in construction in the world, where students learn about the principles, applications and implications of digital manufacturing technology.</p><br>
      <p>The Fab Lab Barcelona has produced projects such as <a target="_blank" href="https://www.youtube.com/watch?t=15&v=SK0vvBRN8R0"><strong>Hyper habitat IAAC</strong></a> (official selection for the Venice Biennale XXI) or the <a target="_blank" href="https://www.youtube.com/watch?v=bO-Dvm5OTuU"><strong>Fab Lab House</strong></a> (Audience Award in the first Solar Decathlon Europe in Madrid).</p><br>
    </div> <!-- col -->
    <div class="col-md-4 col-sm-4">
      <p>It is currently developing projects in different scales, from smart devices for data collection by individuals (Smart Citizen innovative project award in the Smart City Expo and World Congress in Barcelona), the development of the new generation of Fab Labs in the <a target="_blank" href="http://www.valldaura.net/"><strong>Green Fab Lab</strong></a> project, to the new production models for cities with the <a target="_blank" href="http://fabcity.cc/"><strong>Fab City</strong></a> project being implemented in Barcelona.</p>
      <p>Our mission as a Fab Lab is to provide access to the tools, the knowledge and the financial means to educate, innovate and invent using technology and digital fabrication to allow anyone to make (almost) anything, and thereby creating opportunities to improve lives and livelihoods around the world.</p><br>
      <p>Community organizations, educational institutions and non-profit concerns are our primary beneficiaries.</p><br>
      <p>Find a Fab Lab near you: <a target="_blank" href="https://www.fablabs.io/"><strong>www.fablabs.io</strong></a></p><br>
    </div> <!-- col -->
    <div class="col-md-4 col-sm-4">
      <img class="img-fluid" src="{{site.baseurl}}/img/about_us/about_us_main.jpg" height="330">
    </div> <!-- col -->
  </div> <!-- row -->
</section> <!-- section -->

{% include about_us_menu.html %}

<section class="container mt-5">
  <h3>What is a Fab Lab?</h3><br>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <p>A Fab Lab (or fabrication laboratory) is a small-scale workshop for personal digital fabrication, equipped with an array of flexible computer controlled tools and various materials, with the aim to make “almost anything”.</p>
      <br>
      <img class="img-fluid" src="{{site.baseurl}}/img/about_us/fablab-services.jpg"/> <br><br>
    </div> <!-- col -->

    <div class="col-md-4 col-sm-4">
      <p>A Fab Lab is a technical prototyping platform for education, innovation and invention. To be a Fab Lab means connecting to a global community of learners, educators, technologists, researchers, makers and innovators- -a knowledge sharing network that spans 50 countries and 24 time zones. Because all Fab Labs share common tools and processes, the program is building a global network, a distributed laboratory for research and invention.</p><br>
      <p>Activities in fab labs range from technological empowerment to peer-to-peer project-based technical training to local problem-solving to small-scale high-tech business incubation to grass-roots research. Projects being developed and produced in fab labs include solar and wind-powered turbines, thin-client computers and wireless data networks, analytical instrumentation for agriculture and healthcare, custom housing, and rapid-prototyping of rapid-prototyping machines.</p><br>
      <p>Fab Labs include the following machines: a laser cutter that makes 2D and 3D structures, a sign cutter that plots in copper to make antennas and flex circuits, a high-resolution CNC milling machine that makes circuit boards and precision parts, a large wood router for building furniture and housing, and a suite of electronic components and programming tools for low-cost, high-speed microcontrollers for on-site rapid circuit prototyping.</p><br>
    </div> <!-- col -->

    <div class="col-md-4 col-sm-4">
      <p>Originally designed for communities as prototyping platforms for local entrepreneurship, Fab Labs are increasingly being adopted byschools as platforms for project-based, hands-on STEM education. Users learn by designing and creating objects of personal interest or import. Empowered by the experience of making something themselves, they both learn and mentor each other, gaining deep knowledge about the machines, the materials, the design process, and the engineering that goes into invention and innovation. In educational settings, rather than relying on a fixed curriculum, learning happens in an authentic, engaging, personal context, one in which students go through a cycle of imagination, design, prototyping, reflection, and iteration as they find solutions to challenges or bring their ideas to life.</p><br>
      <p>Fab Lab is the educational outreach component of MIT’s Center for Bits and Atoms (CBA), an extension of its research into digital fabrication and computation, and continues to be closely aligned to it. CBA is charting a research road map that traverses the frontier of digital fabrication: from machines in a Fab Lab that make things, to machines that make parts of machines, to machines that self-reproduce, to building with digital materials, to materials that are programmable and can turn themselves into parts. As we progress along that research path, knowledge and best practices are disseminated throughout the Fab Lab network, making it a cutting edge laboratory for R&D.</p><br>
    </div> <!-- col -->
  </div> <!-- row -->

</section> <!-- section-->

<section class="container mt-5">
  <div class="row">

    <div class="col-lg-12">
      <h3>Fab Lab Barcelona team</h3>
    </div>
    <!-- If you need to add or remove an employee, it is done in this repos _data/employees.yml file! -->
    {% include employees.html %}

  </div> <!-- row -->
</section> <!-- team -->

{% include footer.html %}
