---
layout: default
---

<header>

	{% include nav.html %}

</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">

            <a href="about_us.html"> <h2 class="page-title">About Us</h2> </a>

	    </div> <!-- container -->
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->


    {% include social.html %}

<!-- =============================================================================================================-->

<div class="container" id="separator-pages-top"></div>

<!-- ======== About Fablab ======================================================= About Fablab =============-->

<section id="fablab-bcn">

<div class="container" id="separator-blog"></div>

	    <div class="container">
		    <br>
		    <h3> Fab Lab Barcelona </h3>
		    <br><br>
		        <div class="row">

			        <div class="col-md-4 col-sm-4">

				        <p>Fab Lab Barcelona is part of the <a target="_blank" href="http://iaac.net/"><strong>Institute for Advanced Architecture of Catalonia</strong></a>, where it support different educational and research programs related with the multiple scales of the human habitat. It is also the headquarters of the global coordination of the Fab Academy program in collaboration with the <a target="_blank" href="http://www.fabfoundation.org/"><strong>Fab Foundation</strong></a> and the <a target="_blank" href="http://cba.mit.edu/"><strong>MIT’s Center for Bits and Atoms</strong></a>; the Fab Academy is a distributed platform of education and research in which each Fab Labs operates as  a classroom and the planet as the campus of the largest University in construction in the world, where students learn about the principles, applications and implications of digital manufacturing technology.</p><br>

				        <p>The Fab Lab Barcelona has produced projects such as <a target="_blank" href="https://www.youtube.com/watch?t=15&v=SK0vvBRN8R0"><strong>Hyper habitat IAAC</strong></a> (official selection for the Venice Biennale XXI) or the <a target="_blank" href="https://www.youtube.com/watch?v=bO-Dvm5OTuU"><strong>Fab Lab House</strong></a> (Audience Award in the first Solar Decathlon Europe in Madrid).</p><br>

			        </div> <!-- col -->

			        <div class="col-md-4 col-sm-4">



					<p>It is currently developing projects in different scales, from smart devices for data collection by individuals (Smart Citizen innovative project award in the Smart City Expo and World Congress in Barcelona), the development of the new generation of Fab Labs in the <a target="_blank" href="http://www.valldaura.net/"><strong>Green Fab Lab</strong></a> project, to the new production models for cities with the <a target="_blank" href="http://fabcity.cc/"><strong>Fab City</strong></a> project being implemented in Barcelona.</p>

					<p>Our mission as a Fab Lab is to provide access to the tools, the knowledge and the financial means to educate, innovate and invent using technology and digital fabrication to allow anyone to make (almost) anything, and thereby creating opportunities to improve lives and livelihoods around the world.</p><br>

<p>Community organizations, educational institutions and non-profit concerns are our primary beneficiaries.</p><br>

<p>Find a Fab Lab near you: <a target="_blank" href="https://www.fablabs.io/"><strong>www.fablabs.io</strong></a></p><br>

				    </div> <!-- col -->

			        <div class="col-md-4 col-sm-4">


				       <img class="img-responsive" src="{{site.baseurl}}/img/about_us/about_us_main.jpg" height="330px">


				    </div> <!-- col -->


			    </div> <!-- row -->
	    </div> <!-- container -->
	</section> <!-- section -->

<!-- =============================================================================================================-->

<div class="container" id="separator"></div>

<!-- ======== About us menu ========================================================= About us menu  ============-->

    <section id="about-us-menu">
	    <div class="container">
	        <div class="row" id="about-us-menu-row-1">


	            <div class="col-md-4">
		            <a href="fab_academy.html" class="btn btn-default btn-lg btn-block"><h4>Fab Academy</h4></a>

	            </div>

	            <div class="col-md-4">
		            <a href="fab_pro.html" class="btn btn-default btn-lg btn-block"><h4>Fab Pro</h4></a>

	            </div>

	            <div class="col-md-4">
		            <a href="fab_kids.html" class="btn btn-default btn-lg btn-block"><h4>Fab Kids</h4></a>

	            </div>

	        </div> <!-- row -->


	        <div class="row" id="about-us-menu-row-2">

	            <div class="col-md-4">
		             <a href="#" class="btn btn-default btn-lg btn-block"><h4>Pop-up Fab Lab</h4></a>

	            </div>

	            <div class="col-md-4">
		            <a target="blank" href="https://docs.google.com/a/iaac.net/forms/d/1MJAREBja3GWx8qnD0lgA_QXMdN3wVR_UNkfZn3Ms-sU/viewform" class="btn btn-default btn-lg btn-block"><h4>Open Days</h4></a>

	            </div>

	            <div class="col-md-4">
		            <a href="http://fab.city/" class="btn btn-default btn-lg btn-block"><h4>Fab City</h4></a>

	            </div>


	        </div> <!-- row -->
	    </div> <!-- container -->
    </section> <!-- about us menu -->

<!-- =============================================================================================================-->

<div class="container" id="separator"></div>


<!-- ======== Content Blocks ========================================================= Content Blocks ============-->

    <section id="what-is-a-fablab">
	    <div class="container">

		    <h3>What is a Fab Lab?</h3><br>
		    <br>
		    <div class="row">
			    <div class="col-md-4 col-sm-4">

				    <p>A Fab Lab (or fabrication laboratory) is a small-scale workshop for personal digital fabrication, equipped with an array of flexible computer controlled tools and various materials, with the aim to make “almost anything”.</p>
				    <br>
				    <img class="img-responsive" src="{{site.baseurl}}/img/about_us/fablab-services.jpg"/> <br><br>


			    </div> <!-- col -->

			    <div class="col-md-4 col-sm-4">

				    <p>A Fab Lab is a technical prototyping platform for education, innovation and invention. To be a Fab Lab means connecting to a global community of learners, educators, technologists, researchers, makers and innovators- -a knowledge sharing network that spans 50 countries and 24 time zones. Because all Fab Labs share common tools and processes, the program is building a global network, a distributed laboratory for research and invention.</p><br>

				    <p>Activities in fab labs range from technological empowerment to peer-to-peer project-based technical training to local problem-solving to small-scale high-tech business incubation to grass-roots research. Projects being developed and produced in fab labs include solar and wind-powered turbines, thin-client computers and wireless data networks, analytical instrumentation for agriculture and healthcare, custom housing, and rapid-prototyping of rapid-prototyping machines.</p><br>


				    <p>Fab Labs include the following machines: a laser cutter that makes 2D and 3D structures, a sign cutter that plots in copper to make antennas and flex circuits, a high-resolution CNC milling machine that makes circuit boards and precision parts, a large wood router for building furniture and housing, and a suite of electronic components and programming tools for low-cost, high-speed microcontrollers for on-site rapid circuit prototyping.</p><br>

			    </div> <!-- col -->

			    <div class="col-md-4 col-sm-4">

				    <p>Originally designed for communities as prototyping platforms for local entrepreneurship, Fab Labs are increasingly being adopted byschools as platforms for project-based, hands-on STEM education. Users learn by designing and creating objects of personal interest or import. Empowered by the experience of making something themselves, they both learn and mentor each other, gaining deep knowledge about the machines, the materials, the design process, and the engineering that goes into invention and innovation. In educational settings, rather than relying on a fixed curriculum, learning happens in an authentic, engaging, personal context, one in which students go through a cycle of imagination, design, prototyping, reflection, and iteration as they find solutions to challenges or bring their ideas to life.</p><br>

				    <p>Fab Lab is the educational outreach component of MIT’s Center for Bits and Atoms (CBA), an extension of its research into digital fabrication and computation, and continues to be closely aligned to it. CBA is charting a research road map that traverses the frontier of digital fabrication: from machines in a Fab Lab that make things, to machines that make parts of machines, to machines that self-reproduce, to building with digital materials, to materials that are programmable and can turn themselves into parts. As we progress along that research path, knowledge and best practices are disseminated throughout the Fab Lab network, making it a cutting edge laboratory for R&D.</p><br>

			    </div> <!-- col -->
		    </div> <!-- row -->

	    </div> <!-- container-->
	</section> <!-- section-->

<!-- =============================================================================================================-->

<div class="container" id="separator"></div>

<!-- ======== Team ================================================================= Team ======================= -->
	<section id="team">
	    <div class="container">
	        <div class="row">


	            <div class="col-lg-12">

	                <h3>Fab Lab Barcelona team</h3>
	            </div>


	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/tomas.jpg" alt="">

	                <h4>Tomas Diez
		            <br>
	                <small>Fab City Research Lab Director / Smart Citizen Co-founder / MaCT Senior Faculty</small></h4>
                    <li>

                    <a target="_blank" href="https://www.facebook.com/tomasdiez77?hc_ref=NEWSFEED"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href="https://twitter.com/tomasdiez"><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href="https://es.linkedin.com/pub/tomas-diez/11/7aa/2b3"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->


	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/luciana.jpg" alt="">

	                <h4>Luciana Asinari
		            <br>
	                <small>Fab Lab Barcelona Coordinator / Fab Academy Global Coordinator</small></h4>
                    <li>

                    <a target="_blank" href="https://www.facebook.com/luciana.asinari?fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href="https://es.linkedin.com/in/lucianaasinari"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->


	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/guillem.jpg" alt="">

	                <h4>Guillem Camprodon
		            <br>
	                <small>Smart Citizen Project Leader / MAA, MAI Faculty / Expert in Physical Computing</small></h4>
                    <li>

                    <a target="_blank" href="https://www.facebook.com/guillem.camprodon?fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    
                    <a target="_blank" href="https://es.linkedin.com/in/guillemcamprodon"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
	            
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/santi_.jpg" alt="">

	                <h4>Santiago Fuentemilla
		            <br>
	                <small>Fab Academy Barcelona Instructor / Fab Education Coordinator</small></h4>
                    <li>

                    <a target="_blank" href="https://www.facebook.com/santi.f.garriga?fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href="https://es.linkedin.com/in/santi-fuentemilla-garriga-7877892b"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
	            
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">

	                <h4>Jonathan Minchin
		            <br>
	                <small>Green Fab Lab Coordinator / Open Source Beehives Project Manager / MAA Senior Faculty</small></h4>
                    <li>

                    <a target="_blank" href="https://www.facebook.com/jonathan.minchin.3?fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href="https://uk.linkedin.com/pub/jonathan-minchin/23/a0b/971"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">

	                <h4>Marcel Tkocz
		            <br>
	                <small>Finance & Logistics Manager </small></h4>
                    <li>

                    <a target="_blank" href=""><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/martin.jpg" alt="">

	                <h4>Martin Seymour
		            <br>
	                <small>Fab Lab Barcelona Manager</small></h4>
                    <li>

                    <a target="_blank" href="https://www.facebook.com/martin.seymour.90?fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href="https://es.linkedin.com/in/martin-seymour-43a66032/es"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/ingi.jpg" alt="">

	                <h4>Ingi Freyr
		            <br>
	                <small>Designer at Fab Lab Barcelona</small></h4>
                    <li>

                    <a target="_blank" href="https://www.facebook.com/ingigud.jonson?fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href="https://es.linkedin.com/in/ingi-gudjonsson-8885b691/es"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">

	                <h4>Matteo Guarnaccia
		            <br>
	                <small>Fabrication Expert & Designer</small></h4>
                    <li>

                    <a target="_blank" href=""><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
	            

	            </div> <!-- col -->
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">
	                
	            <h4>Anastasia Pistofidou
		            <br>
	                <small>Fab Textiles Project Leader / MAA, MAI Faculty</small></h4>
                    <li>

                    <a target="_blank" href=""><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

					<img class="img-circle " src="img/team/mara.jpg" alt="">

					<h4>Mara Balestrini
					<br>
					<small>Making Sense Project Leader</small></h4>
					<li>

					<a target="_blank" href="https://www.facebook.com/mara.balestrini?fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
					<a target="_blank" href="https://twitter.com/marabales"><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
					<a target="_blank" href="https://uk.linkedin.com/in/marabalestrini/es"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;
	            
	            </li>

	            </div> <!-- col -->
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

					<img class="img-circle " src="img/team/massimo.jpg" alt="">

					<h4>Massimo Menichinelli
					<br>
					<small>Make-it Project Leader / Fablabs.io Coordinator</small></h4>
					<li>

					<a target="_blank" href="https://www.facebook.com/massimo.menichinelli?fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
					<a target="_blank" href="https://twitter.com/openp2pdesign"><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
					<a target="_blank" href="https://es.linkedin.com/in/massimomenichinelli"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

					</li>

				</div> <!-- col -->
				
				<div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/maria.jpg" alt="">

	                <h4>Maria Ustarroz
		            <br>
	                <small>Make-it Project staff</small></h4>
                    <li>

                    <a target="_blank" href="https://www.facebook.com/maria.ustarroz.3?fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href="https://es.linkedin.com/in/mariaustarroz/en"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
	            
	            <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">
	                
	            <h4>Victor Barberan
		            <br>
	                <small>Hardware & Software Developer at Fab Lab Barcelona</small></h4>
                    <li>

                    <a target="_blank" href=""><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

                </div> <!-- col -->
                
                <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">
	                
	            <h4>Mariana Quintero
		            <br>
	                <small>Graphic Designer at Fab Lab Barcelona</small></h4>
                    <li>

                    <a target="_blank" href=""><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

                </div> <!-- col -->
                
                <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">
	                
	            <h4>Gui Seiz
		            <br>
	                <small>Creative Director at Fab Lab Barcelona</small></h4>
                    <li>

                    <a target="_blank" href=""><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

                </div> <!-- col -->
                
                <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">
	                
	            <h4>Marco Sanalitro
		            <br>
	                <small>Communication Manager at Fab Lab Barcelona</small></h4>
                    <li>

                    <a target="_blank" href=""><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

                </div> <!-- col -->
                
                <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">
	                
	            <h4>Matias Verderau
		            <br>
	                <small>Making Sense Project Community Leader / Fablabs.io Network Manager</small></h4>
                    <li>

                    <a target="_blank" href=""><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

                </div> <!-- col -->
                
                <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/jonathan_.jpg" alt="">
	                
	            <h4>Chiara Dall'Olio
		            <br>
	                <small>Making Sense Project Community Leader / Fablabs.io Network Manager</small></h4>
                    <li>

                    <a target="_blank" href=""><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-twitter fa fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href=""><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

                </div> <!-- col -->
                
                 <div class="col-lg-3 col-sm-4 text-center" id="team-item">

	                <img class="img-circle " src="img/team/miguel1.jpg" alt="">

	                <h4>Miguel Guerrero
		            <br>
	                <small>External Collaborators - Design & Architecture Projects</small></h4>
                    <li>

                    <a target="_blank" href="https://www.facebook.com/profile.php?id=1271694801&fref=ts"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
                    <a target="_blank" href="https://es.linkedin.com/in/miguel-guerrero-p%C3%AD%C3%B1ar-4559b939/es"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;

                    </li>

	            </div> <!-- col -->
                
              
                

	        </div> <!-- row -->
	    </div> <!-- container -->
	</section> <!-- team -->


<!-- =============================================================================================================-->

<div class="container" id="separator"></div>

<!-- =============================================================================================================-->


{% include footer.html %}
