---
layout: section
title: Blog
---

<section id="blog-home">

  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->

      <div class="col-md-8">
        {% for post in site.posts limit: 10 %}
        {% if post.type == 'blog' %}
        <!-- Blog Post -->

        <h3><a href="{{ post.url }}">{{post.title}}</a></h3>

        <p class="lead">by&nbsp;<u>{{post.author}}</u>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> Posted on <u>{{post.date | date:"%B %d, %Y" }}</u></p>
        <br>
        <img class="img-responsive" src="{{site.baseurl}}/img/blog/{{post.teaserlist}}" alt="">
        <br>
        <p>{{post.meta}}</p>
        <br>
        <a href="{{ post.url }}" ><strong>read more</strong> &rarr;</a>
        <br><br>
        <hr>
        <br>
        {% endif %}
        {% endfor %}

        <!--<div id="separator"></div> -->

      </div>

      {% include blog_sidebar.html %}

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<div class="container" id="separator"></div>
