---
layout: default
title: Blog
---

<section class="container">
  <div class="row">

    <div class="col-md-8">
      {% for post in site.posts limit: 10 %}
      {% if post.type == 'blog' %}
      <!-- Blog Post -->

      <h3><a href="{{ post.url }}">{{post.title}}</a></h3>

      <p class="lead">by&nbsp;<u>{{post.author}}</u>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> Posted on <u>{{post.date | date:"%B %d, %Y" }}</u></p>

      <!-- After using Forestry, all images will be stored in uploads/ folder. Previous images were stored in img/blog/ folder -->
      {% if post.teaserlist contains '/uploads/' %}
        <img class="img-fluid" src="{{site.baseurl}}{{post.teaserlist}}"/></a>
      {% else %}
        <img class="img-fluid" src="{{site.baseurl}}/img/blog/{{post.teaserlist}}"/></a>
      {% endif %}

      <p>{{post.meta}}</p>
      <a href="{{ post.url }}" ><strong>read more</strong> &rarr;</a>

      <hr>

      {% endif %}
      {% endfor %}
    </div>

    <div class="col-md-4">
      {% include blog_sidebar.html %}
    </div> <!-- col -->

  </div> <!-- row -->
</section>
