---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-contact">
	    <div class="container" id="header-pages-contact-title">
            
            <h2 class="page-title">Contact</h2>                      
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->


    {% include social.html %} 



<!-- ======== contact ======================================================================= contact ============-->

    <section id="contact">
	    
<div class="container" id="separator-pages-top"></div>

	    <div class="container">
		    <br><br>
	        
		        <div class="row">
				        
			        <div class="col-md-6" id="contact-col-txt-1">
				    	<br><br><br>
				    	<h3>Need more information?</h3><br>    
	                    <p>About Fab Lab Barcelona:<a href="mailto:info@fablabbcn.org"><strong>&nbsp;info@fablabbcn.org</strong></a></p><br>	                    
	                    
	                    <p>About our products and services:<a href="mailto:pro@fablabbcn.org"><strong>&nbsp; pro@fablabbcn.org</strong></a></p><br>
			        
			        </div> <!-- col --> 		        
				       
	                <div class="col-md-6">
		                
		                <img src="{{site.baseurl}}/img/contact/contact_building.jpg" width="500px"/>
		                	      
	                </div> <!-- col-xs-6 col-md-4 -->
	              
		        </div> <!-- row -->
		        
<!-- =============================================================================================================-->
    
<div class="container" id="separator"></div> 

<!-- =============================================================================================================-->
		        
		        <div class="row">
			        			        
			        <div class="col-md-6">
			            <br><br><br>
			            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=C%2FPujades%20102%20baixos.%20%20Poble%20Nou%2C%20Barcelona%2008005%20Espa%C3%B1a&key=AIzaSyDUrjldaeC0nEPREGJzBMuKfTUuC6XUJWY" allowfullscreen></iframe>
			            </iframe>
			            
			        </div> <!-- col -->
			        
			        <div class="col-md-1"></div>
			        
			        <div class="col-md-5" id="contact-col-txt-2">
				        
				        <h3>Directions</h3><br>
				        
				        <p>Fab Lab Barcelona</p>
					        
					    <p>Institut d´arquitectura avançada de Catalunya</p><br>

                        <p>C/Pujades 102 baixos.</p>
                        <p>Poble Nou, Barcelona 08005 España</p><br>
                        <p>Tel: (+34) 93 3209520</p><br> 
				        			        			        
			        </div> <!-- col -->
			        
		        </div> <!-- row -->
		        
	    </div> <!-- container --->
    </section> <!--contact-->

<!-- =============================================================================================================-->

<div class="container" id="separator-pages-bottom"></div>

<!-- =============================================================================================================-->


{% include footer.html %} 