---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

 <!--   <section id="latest-news-banner">
	    <div class="container">
		    
		    <a href="https://form.jotformeu.com/71832813940356" target="blank"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy18.jpg" class="img-responsive"/> </a>
		    
		</div> 
    </section>  -->
   
 <!-- <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
             <a href="fab_academy.html"> <h2 class="page-title">Fab Academy</h2>  </a>    
							
	    </div> 								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> -->

<!-- ======== pages-social-icons ===========-->


    {% include social.html %} 


<!-- <div class="container" id="separator-pages-top"></div> -->

<!-- ======== Fab Academy =========== MOVED IMAGE BELOW INTO .header-pages-blog SECTION ABOVE / DEACTIVATED SECTION BELOW ============ -->

<!--
    
    <section id="latest-news-banner">
	    <div class="container">
		    
		    <a href="https://form.jotformeu.com/71832813940356" target="blank"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy18.jpg" class="img-responsive"/>  </a>
		    
		</div> 
    </section>  

</ul></ul></ul></ul>  REDUNDANT CODE? 

--> 

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>COOKIES POLICY</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ========  COOKIES POLICY ===========================================================  ================-->

	<section id="news">
		
	    <div class="container">
	        
	        
	        <p><strong>FAB LAB BCN</strong> website (henceforth the <strong>‘Website’</strong>) uses a technology called ‘cookies’, the purpose of which is to gather information on the use of the Website.</p>
	        
	        <br/>

<p>INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA may use cookies in order to facilitate your browsing on the Website, to distinguish you from other users, provide you with a better user experience, and identify problems to improve our website. Provided that you give your consent, we will therefore use cookies to enable us to obtain more information on your preferences and to personalize our website to suit your personal interests.</p>

<br/>

<p>The aim of this cookies policy is to provide clear and precise information on the cookies used on our Website (the <strong>‘Cookies Policy’</strong>). If you would like more information on the cookies used on the Website, please send an email to this address: <strong>info@iaac.net</strong></p>

<br/>

<p><strong>COOKIES INFORMATION</strong></p>

<br/>

<p>Due to the entry into force of the relevant amendment to the “Law on Information Society Services” (LSSICE) established by Royal Decree 13/2012, it is mandatory to obtain the express consent of the user of all web pages that use cookies dispensable, before he browses them.</p>

<br/>

<p><strong>WHAT ARE THE COOKIES?</strong></p>

<br/>

<p>Cookies and other similar technologies such as local shared objects, flash cookies or pixels, are tools used by Web servers to store and retrieve information about their visitors, as well as to provide a proper functioning of the site.</p>

<br/>

<p>Through the use of these devices, the Web server is allowed to remember some data concerning the user, such as his or her preferences for viewing the pages of this server, name and password, products that interest him or her most, etc.</p>

<br/>

<p><strong>COOKIES AFFECTED BY THE REGULATION</strong></p>

<br/>

<p>According to the EU directive, the cookies that require the user’s informed consent are the analytical cookies and the advertising and affiliation cookies, with the exception of those of a technical nature and those necessary for the operation of the website or the provision of services expressly requested by the user.</p>

<br/>

<p><strong>WHAT TYPES OF COOKIES ARE THERE?</strong></p>

<br/>

<p>On the types of cookies, there are five main groups:</p>

<br/>

<p><strong>Analytical Cookies</strong>: collect information about your use of the website.</p>
<p><strong>Social Cookies</strong>: are those necessary for external social networks.</p>
<p><strong>Affiliate Cookies</strong>: allow you to track visits from other websites, with which the website establishes an affiliation contract (affiliate companies).</p>
<p><strong>Advertising and Behavioral Cookies</strong>: collect information about your personal preferences and choices (retargeting).</p>
<p><strong>Technical and Functional Cookies</strong>: these are those strictly necessary for the use of the website and for the provision of the contracted service.</p>

<br/>

<p><strong>WITHDRAWING MY CONSENT</strong></p>

<br/>

<p>If at any time you wish to withdraw your consent regarding this Cookies Policy, you will need to delete the cookies stored on your equipment (computer or mobile device) by changing the settings of your Internet browser.</p>

<br/>

<p>Unless you change your browser settings, our system will create cookies whenever you visit our Website. Remember that all Internet browsers allow this setting to be changed. For more information on how to change your cookies settings on the following browsers, please click on the relevant link:</p>

<br/>

<p><strong>Internet Explorer</strong>: <a href="http://windows.microsoft.com/es-419/windows7/how-to-manage-cookies-in-internet-explorer-9">http://windows.microsoft.com/es-419/windows7/how-to-manage-cookies-in-internet-explorer-9</a><br/><br/>
<strong>Firefox</strong>: <a href="https://www.mozilla.org/es-ES/privacy/websites/#cookies">https://www.mozilla.org/es-ES/privacy/websites/#cookies</a><br/><br/>
<strong>Chrome</strong>: <a href="https://www.mozilla.org/es-ES/privacy/websites/#cookies">http://support.google.com/chrome/answer/95647?hl=es</a><br/><br/>
<strong>Safari</strong> & for <strong>iOS</strong>: <a href="https://support.apple.com/es-es/HT201265">https://support.apple.com/es-es/HT201265</a><br/><br/>
<strong>Opera</strong>: <a href="http://help.opera.com/Linux/10.60/es-ES/cookies.html">http://help.opera.com/Linux/10.60/es-ES/cookies.html</a></p>

<br/>

<p>The Cookies Policy was last updated on June 2018.</p>

<br/>

<p><strong>CONTACT</strong></p>

<br/>

<p>If you have any queries, comments or suggestions about the Cookies Policy, please write to <strong>info@iaac.net.</strong></p>
	        
 
 <br/><br/>
	        
        

