---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

 <!--   <section id="latest-news-banner">
	    <div class="container">
		    
		    <a href="https://form.jotformeu.com/71832813940356" target="blank"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy18.jpg" class="img-responsive"/> </a>
		    
		</div> 
    </section>  -->
   
 <!-- <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
             <a href="fab_academy.html"> <h2 class="page-title">Fab Academy</h2>  </a>    
							
	    </div> 								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> -->

<!-- ======== pages-social-icons ===========-->


    {% include social.html %} 


<!-- <div class="container" id="separator-pages-top"></div> -->

<!-- ======== Fab Academy =========== MOVED IMAGE BELOW INTO .header-pages-blog SECTION ABOVE / DEACTIVATED SECTION BELOW ============ -->

<!--
    
    <section id="latest-news-banner">
	    <div class="container">
		    
		    <a href="https://form.jotformeu.com/71832813940356" target="blank"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy18.jpg" class="img-responsive"/>  </a>
		    
		</div> 
    </section>  

</ul></ul></ul></ul>  REDUNDANT CODE? 

--> 

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
				
	
	            <h3>  LEGAL NOTICE DATA PROTECTION AND CONFIDENTIALITY</h3>
	            
			
			
		</div>
	</div>
</div>

<!-- ========  PRIVACY POLICY ===========================================================  ================-->

	<section id="news">
		
	    <div class="container">
	        
	        
	        <p><strong>LEGAL NOTICE</strong>: This message and its attachments are addressed exclusively to the addressee and may contain confidential information subject to professional secrecy. Its communication, reproduction or distribution is not allowed without the express authorization of INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA. If you are not the final recipient, please delete it and inform us by this means.</p>
<br/><br/>
<p><strong>DATA PROTECTION</strong>: In accordance with the provisions of Regulation (EU) 2016/679 of 27 April 2016 (GDPR), we inform you that personal data and e-mail address, collected from the interested party or public sources, will be processed under the responsibility of INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA to send communications about our products and services and will be kept as long as there is a mutual interest for this purpose. The data will not be communicated to third parties, unless legally obliged to do so. We inform you that you can exercise your rights of access, rectification, portability and deletion of your data and those of limitation and opposition to their processing by contacting PUJADES, 102 08005 BARCELONA (BARCELONA). Email: info@iaac.net. If you consider that the treatment does not comply with the regulations in force, you may file a complaint with the supervisory authority at <a href="https://www.aepd.es/">www.agpd.es</a>.</p>
<br/><br/>	        
———————————————————	        
<br/><br/>	        
	       <p><strong> AVÍS LEGAL</strong>: Aquest missatge i els adjunts van dirigits exclusivament al seu destinatari i pot contenir informació confidencial sotmesa a secret professional. No està permesa la seva comunicació, reproducció o distribució sense l’autorització expressa de INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA. Si vostè no és el destinatari final, si us plau elimineu-i informeu-nos per aquesta via.</p>
<br/><br/>
<p><strong>PROTECCIÓ DE DADES</strong>: De conformitat amb el que disposa el Reglament (UE) 2016/679 de 27 d’abril de 2016 (GDPR), l’informem que les dades personals i adreça de correu electrònic, recollides del propi interessat o de fonts públiques, seran tractats sota la responsabilitat de INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA per a l’enviament de comunicacions sobre els nostres productes i serveis i es conservaran mentre hi hagi un interès mutu per a això. Les dades no seran comunicades a tercers, llevat obligació legal. L’informem que pot exercir els drets d’accés, rectificació, portabilitat i supressió de les seves dades i les de limitació i oposició al seu tractament dirigint-se a PUJADES, 102 08005 BARCELONA (BARCELONA). E-mail: info@iaac.net. Si considera que el tractament no s’ajusta a la normativa vigent, podrà presentar una reclamació davant l’autoritat de control a <a href="https://www.aepd.es/">www.agpd.es</a>.</p>
<br/><br/>

———————————————————
<br/><br/>

<p><strong>AVISO LEGAL</strong>: Este mensaje y sus archivos adjuntos van dirigidos exclusivamente a su destinatario, pudiendo contener información confidencial sometida a secreto profesional. No está permitida su comunicación, reproducción o distribución sin la autorización expresa de INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA. Si usted no es el destinatario final, por favor elimínelo e infórmenos por esta vía.</p>
<br/><br/>
<p><strong>PROTECCIÓN DE DATOS</strong>: De conformidad con lo dispuesto en el Reglamento (UE) 2016/679 de 27 de abril de 2016 (GDPR), le informamos que los datos personales y dirección de correo electrónico, recabados del propio interesado o de fuentes públicas, serán tratados bajo la responsabilidad de INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA para el envío de comunicaciones sobre nuestros productos y servicios y se conservarán mientras exista un interés mutuo para ello. Los datos no serán comunicados a terceros, salvo obligación legal. Le informamos que puede ejercer los derechos de acceso, rectificación, portabilidad y supresión de sus datos y los de limitación y oposición a su tratamiento dirigiéndose a PUJADES, 102 08005 BARCELONA (BARCELONA). Email: info@iaac.net. Si considera que el tratamiento no se ajusta a la normativa vigente, podrá presentar una reclamación ante la autoridad de control en <a href="https://www.aepd.es/">www.agpd.es</a>.</p>


<br/><br/>

<p>-</p>
</div>
</section>

	        
	        
	        
        

