---
layout: default
title: Events
---

<section class="container mt-5" id="events">
  <div class="row">

    {% for post in site.posts limit: 50 %}
    {% if post.type == 'event' %}

    <div class="col-md-6 mb-5">
      <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/img/blog/{{post.teaserlist}}" alt="event"/></a>
    </div>

    <div class="col-md-6">
      <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
      <br>
      <p>{{post.meta}}</p>
      <br>
      <a class="btn btn-dark my-3" href="{{site.baseurl}}{{post.url}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    {% endif %}
    {% endfor %}

  </div> <!-- row -->
</section> <!-- workshops -->

