---
layout: default
---

<header>
  {% include nav.html %}
</header>


<section id="header-pages-blog">
  <div class="container" id="header-pages-blog-title">
            <h2 class="page-title">Workshops</h2>
  </div>
</section>

{% include social.html %}

<div class="container" id="separator-pages-top"></div>

<section id="events">
  <div class="container">
    <div class="row">

      {% for post in site.posts limit: 50 %}
        {% if post.type == 'event' %}

        <div class="col-md-6">

          <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/img/blog/{{post.teaserlatest}}" alt="event"/></a>

        </div>  <!-- col-->

        <div class="col-md-6" id="event-description">

          <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
          <br>
          <p>{{post.meta}}</p>
          <br>
          <a class="btn btn-default" id="event-join" href="{{site.baseurl}}{{post.url}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        </div>  <!-- col-->

        <div class="container" id="separator"></div>

        {% endif %}
      {% endfor %}


    </div> <!-- row -->
  </div> <!-- container -->
</section> <!-- workshops -->

{% include footer.html %}
