---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <a href="fab_pro.html"> <h2 class="page-title">Fab Pro</h2> </a>                     
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

    {% include social.html %} 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- =============================================================================================================-->

<section id="fabpro-description"> 
	<div class="container">
		<div class="row">
			
		    <div class="col-md-6" id="fabpro-description-1" >
		    <p>Fab Pro, as a department of Fab Lab Barcelona, is focused in services of digital fabrication for externals. We work in projects in the field of architecture, industrial design, product development and other services of digital production.</p> 
		    </div>
		    
		    <div id="fabpro-hr"><hr></div>
		    
		    <div class="col-md-6" id="fabpro-description-2" >
		    <p>Fab Pro es el departamento enfocado para profesionales dentro de FabLab Barcelona. Trabajamos en proyectos de fabricación digital y diseño interactivo dentro del campo de la arquitectura, diseño industrial, desarrollo de producto y servicios de producción digital.</p>
		    </div>
		    
		    <div class="col-md-12" id="fabpro-our-clients">
			   
			    <h3>Some of our clients</h3>
			    
			    <img src="{{site.baseurl}}/img/fabpro/clients-logo/client-ajuntament.png"/>
			    
			    <img src="{{site.baseurl}}/img/fabpro/clients-logo/client-moritz.png"/>
			    
			    <img src="{{site.baseurl}}/img/fabpro/clients-logo/client-endesa.png"/>
			    
			    <img src="{{site.baseurl}}/img/fabpro/clients-logo/client-damm.png"/>
			    
			    <img src="{{site.baseurl}}/img/fabpro/clients-logo/client-google.png"/>
			    
			    <img src="{{site.baseurl}}/img/fabpro/clients-logo/client-illy.png"/>
			    
			    <img src="{{site.baseurl}}/img/fabpro/clients-logo/client-cccb.png"/>
			    
			    <img src="{{site.baseurl}}/img/fabpro/clients-logo/client-corona.png"/>
			    
			    <img src="{{site.baseurl}}/img/fabpro/clients-logo/client-mit.png"/>
			    
			    
		    </div>
		    
		</div>  <!-- row -->  		
	</div>  <!-- container --> 
</section>  <!-- fabpro description --> 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- =============================================================================================================-->

<section id="projects-menu"> 
	<div class="container">
			    
		        <div id="grid" data-columns >		
			                		         
			    {% for post in site.posts limit: 600 %}
	                        {% if post.type == 'fabpro' %}    	 	            	            
		        		            
			            <div class="menu-item">
				            
				            <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/img/fabpro/{{post.fabproteaser}}" alt="fabpro"></a>
		                
		                    <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>  
			                
			                <p>{{post.meta}}</p>
			                
			            </div> <!-- menu item --> 

		           	            	        
			        {% endif %}
			    {% endfor %}
		        
	            </div> <!-- grid --> 
	            
	</div>  <!-- container --> 

</section>	


<!------------------------------------------------->
<div class="container" id="separator"></div>
<!-------------------------------------------------> 


<section id="fab-pro">
   
    <div class="container" id="tech-assistance">
	
	<h3>Professional Services for Business<br> </h3>
        
        <br>
        <p><strong>Is your company looking to engage with innovative, future-focused approaches to circular-economy, digital fabrication, design methodology, policy development or creative direction?</strong></p></br>
        <p>The Fab Lab Barcelona team offers tailored experiences, on-demand training and strategic consultancy out of our Green Fab Lab at Valldaura or Fab Lab Warehouse in the Poblenou maker district of Barcelona. 
	Engage our ten years of experience as leaders in the Fab Lab and digital fabrication movement in your next innovative project. Send us your inquiry at: <a href="mailto:pro@fablabbcn.org"><u>pro@fablabbcn.org</u></a> </p>
	</br>
	
    </div> <!-- container -->
    
    <div class="container" id="separator"></div>
    
</section> <!-- fab pro -->

<!-- =============================================================================================================-->
    
<!-- <div class="container" id="separator-pages-top"></div>   

<!-- =============================================================================================================-->


{% include footer.html %} 
