---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->


<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <h2 class="page-title">Fab Kids</h2>                      
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

    <section id="pages-social">
	    
	    <div class="container" id="pages-social-icons">

	            <li>
					<li>
							<a target="_blank" href="https://www.facebook.com/FabLab.BCN"><i class="fa fa-facebook-square fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://twitter.com/fablabbcn"><i class="fa fa-twitter fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://vimeo.com/fablabbcn"><i class="fa fa-vimeo fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://picasaweb.google.com/103318428572698589743"><i class="fa fa-camera fa"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://instagram.com/fablabbcn/"><i class="fa fa-instagram fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="http://wiki.fablabbcn.org/Main_Page"><i class="fa fa-globe fa"></i></a>
						</li>
				</li>
	    </div>
	    				
    </section>


<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- ======== Fab kids =================================================================  Fab kids  ================= -->

    <section id="fab-kids">
	    <div class="container">
		    <div class="row" id="fab-kids-row">
			    
			    
			    <div class="col-md-6" id="fab-kids-col-txt-1">
				    <h3>About Fab Kids</h3>
				    <br>
			        <p>The Fab Kids, is a creative laboratory that favors the development of intelligence, creativity and imagination of children and youth. It is a place where thinking is encouraged and innovation occurs, a space where educational and recreational activities take place, focused on design and digital fabrication.</p><br>
			      
			    </div> <!-- col -->
			    
			    <div class="col-md-6" id="fab-kids-col-pic">
				    <img src="{{site.baseurl}}/img/fab_kids/fab_kids_1.jpg"/><br><br><br>
			    </div> <!-- col -->
<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div> 

<!-- =============================================================================================================-->			    
			     <div class="col-md-6" id="fab-kids-col-pic">
				    <iframe src="https://player.vimeo.com/video/100215534" width="550" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			    </div> <!-- col -->
			    
			    <div class="col-md-6" id="fab-kids-col-txt-2">
			        <p>Children intuitively use technology daily. One of our motivations is to promote reflective, analytical and critical thinking. We believe that technological literacy will make children become creative with the use of technology, smart objects and video games instead of being passive users.</p>
			      
			    </div> <!-- col -->
	    
			</div> <!-- row --> 	    
	    </div> <!-- container--> 
	</section> <!-- section--> 
	
<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-bottom"></div>

<!-- =============================================================================================================-->


{% include footer.html %} 