---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <a href="fab_academy.html"> <h2 class="page-title">Fab Academy</h2>  </a>                    
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->


    {% include social.html %} 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div> 

<!-- ======== Fab Academy ========================================================= Fab Academy ============ -->

<!-- ======== Banner Fab Academy ================================================================= Banner ====================-->
    
    <section id="latest-news-banner">
	    <div class="container">
		    
		    <a target="_blank" href="https://form.jotformeu.com/71832813940356"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy18.jpg" class="img-responsive"/>  </a>
		    
		</div> <!-- container --> 
    </section> <!-- section -->

<!-- =============================================================================================================-->
</ul></ul></ul></ul>
<!-- =============================================================================================================-->			  

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>[WHAT IS] FAB ACADEMY?</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ======== Latest News =========================================================== Latest News ================-->

	<section id="news">
		
	    <div class="container">

<p><strong>Fab Academy</strong> is a <strong>Digital Fabrication</strong> program directed by <strong>Neil Gershenfeld</strong> of <strong>MIT’s Center For Bits and Atoms and based on MIT’s rapid prototyping course</strong>, <strong>MAS 863</strong>: <strong>How to Make (Almost) Anything</strong>.</p><br>
<p>The Fab Academy offers a 6 month program on digital fabrication, and it could be taken in any of the participating labs. The Fab Academy offers Certificates on relevant technical topics, and a Diploma aimed at vocational and technical training for employment and investment (along with assistance to its graduates in those areas). Fab Academy Certificates provide familiarity with technical options and capabilities, hands-on experience, and direction for further study. Each requires, and is evaluated by, developing and documenting projects. They are periodically renewed to reflect best practices. Each Certificate typically requires one week. They are combined in the Diploma, which is roughly comparable to completing MIT’s rapid-prototyping course ‘How To Make (almost) Anything’. Progress is evaluated by skills and projects rather than time or credits.</p><br>
<p>During this 6 month program, students learn how to envision, prototype and document their projects and ideas through many hours of hands-on experience with digital fabrication tools, taking a variety of code formats and turning them into physical objects.</p><br>

	 <p>&rarr; Fab Academy BCN tuition fee:  <strong><a href="http://fabacademy.org/application-form/prices/">6000€</a></strong></p>   

<a target="_blank" href="http://fabacademy.org/application-form/"><u><h3>APPLY</u></a> 

<h4>Need more information? Email us!<a href="mailto:admissions@fabacademy.org"><br>
	                        <strong>admissions@fabacademy.org</strong></a></p><br></h4>

	    </div> <!-- container -->	   
	      			   		 
	</section> <!-- section -->
	
	<!-- =============================================================================================================-->			  

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>[WHY] FAB ACADEMY?</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ======== Latest News =========================================================== Latest News ================-->

	<section id="news">
		
	    <div class="container">

<p>The aim of the course is to create figures capable of managing and understanding the various aspects of digital production, stimulating students with a comprehensive and multisectoral vision through a methodology focused on the transmission of concepts bound to the use and experimentation of digital tools and applications.</p><br>
<p>The movement of makers, digital artisans, fablabs or hackerspace, thanks to exponential growth in recent years, is now creating a new digital economy.</p><br>
<p>The Academy's goal is to shape and stimulate future professionals in this new digital revolution.
<p>Diploma / Individual Fab Academy Certificates:</p><br>
<p>The diploma combines 19 certificates provide familiarity with technical options and capabilities, hands-on experience, and direction for further study. The certificates are:</p><br>

<p>Digital fabrication principles and practices – 1 week</p>
<p>Computer-aided design, manufacturing, and modelling – 1 week</p>
<p>Computer-controlled cutting – 1 week</p>
<p>Electronics design and production – 2 weeks</p>
<p>Computer-controlled machining – 1 week</p>
<p>Embedded programming – 1 week</p>
<p>3D molding and casting – 1 week</p>
<p>3D scanning and printing – 1 week</p>
<p>Sensors, actuators, and displays – 2 weeks</p>
<p>Interface and application programming – 1 week</p>
<p>Embedded networking and communications – 1 week</p>
<p>Machine design – 2 weeks</p>
<p>Digital fabrication applications and implications – 1 week</p>
<p>Invention, intellectual property, and business models – 1 week</p>
<p>Digital fabrication project development – 2 weeks</p><br>

<p>Check the <a target="_blank" href="http://academy.cba.mit.edu/">Fab Academy content archive</a> for more information.</p>

		    

	    </div> <!-- container -->	   
	      			   		 
	</section> <!-- section -->
	
		<!-- =============================================================================================================-->			  

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>[WHO CAN DO] FAB ACADEMY?</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ======== Latest News =========================================================== Latest News ================-->

	<section id="news">
		
	    <div class="container">

<p>The Academy course is open to any type of professionals, students or curious individuals.</p><br>
<p>Over the years, the academy was attended by children, engineers, designers, musicians, computer scientists and students. Thanks to the open course orientation, each participant can create within the academy an own research path aimed at producing a final project that covers the topics discussed in the course.</p><br>
<p>The versatility of the program is in fact evidenced by the diversity of topics and proposals presented annually by students. All, as always, can be seen online.</p><br>
<p>To subscribe to the Fab Academy <a target="_blank" href="http://fabacademy.org/application-form/"><u><h3>APPLY HERE</u></a> .</p><br>


		    

	    </div> <!-- container -->	   
	      			   		 
	</section> <!-- section -->
	
			<!-- =============================================================================================================-->			  

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>[HOW] FAB ACADEMY [WORKS]?</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ======== Latest News =========================================================== Latest News ================-->

	<section id="news">
		
	    <div class="container">

<p>Each lab that participates in the Fab Academy program is part of a global Fab Lab / Fab Academy network. The local branches of the Fab Academy work with other participating Fab Labs and experts from around the wold via a distributed educational model in which we pool our knowledge to provide a unique educational experience.</p><br>
<p>We watch and participate in global lectures broadcasted from MIT on Wednesdays at 9:00 am – 12:00 pm EST. The lectures are recorded and available to students throughout the semester. In addition to the lectures, there are two lab days each week where students have access the digital fabrication equipment and personal help with projects.</p><br>

<p>Fab Academy faculty who are leading professionals in their respective fields provide global video lectures, supervise academic content, and guide research. Hands-on instruction in the labs is provided by instructors who supervise and evaluate Certificates, develop and disseminate instructional material, and assist with projects.</p><br>

<p>For more information please check: <a target="_blank" href="http://fabacademy.org/about/diploma/">http://www.fabacademy.org/diploma</a></p><br>
		    

	    </div> <!-- container -->	   
	      			   		 
	</section> <!-- section -->
	
	<!-- =============================================================================================================-->			  

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>[WHERE DO] FAB ACADEMY?</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ======== Latest News =========================================================== Latest News ================-->

	<section id="news">
		
	    <div class="container">
		    
<p>This year Fab Lab Barcelona, the first Fab Lab opened in Europe, celebrated ten years of innovation, participation, digital manufacturing, technology and creation. Over the last decade, the centre has helped people around the world to locally conceptualise, design, develop and fabricate, with a focus on truly world-changing open and accessible technologies. Located in the heart of the metropolitan area, in one of the youngest, artistic and innovative districts of Barcelona (Poble Nou), Fab Lab Barcelona is a pole of innovation and technology and coordinates the most important education programs of Academany (in particular Fab Academy, Fabricademy, Academany Diploma Thesis, etc).</p><br>
<p>During this 10 years our local and international community became really dense and strong: many of our fab academy students have successfully opened and run new fab labs in the world, have opened businesses and developed the their final projects or have become experts or instructor in several technology sectors. An ecosystem of widespread knowledge at your disposal during the course.</p><br>
<p>Applying to Fab Academy Barcelona you will immerse yourself in a new reality: the courses will take place at the world-renowned  Institute for Advanced Architecture of Catalonia (IAAC) and Valldaura Labs ( where our Green Fab lab is located).</p><br>
<p>IAAC is one of the most important centres in Europe for research, education, production and outreach, with the mission of envisioning the future habitat of our society and building it in the present.</p><br>
<p>This gives you the opportunity to interact with about 100-150 IAAC students coming from all over the world, with different backgrounds and cultures, you will also have free access to the monthly lectures by IAAC featuring experts from many different fields.  </p><br>
<p>If you are interested in topics like Bio, Agro-ecology or Forestry the Green Fab Lab is the place for you.  </p><br>
<p>Located in the Collserola Natural Park, just 30 minutes away from  the metropolitan area of Barcelona, the Green Fab Lab has laboratories for the production of energy, food and things, and develops projects and academic programmes in association with leading research centres around the world. </p><br>
<p>The Green Fab Lab offers an opportunity to learn directly from nature in order to bring that understanding to the regeneration of 21st-century cities.</p><br>
<p>Fab Academy Barcelona provides a unique, intensive and immersive opportunity to to increase your knowledge and creative capacity.  </p><br>
<p>To subscribe to the Fab Academy Barcelona 2018<a target="_blank" href="http://fabacademy.org/application-form/"><u><h3>APPLY HERE</u></a> .</p><br>


	    </div> <!-- container -->	   
	      			   		 
	</section> <!-- section -->

<!-- /////////////////////////////////////////////////////////////////////////////////////// -->	

{% include footer.html %} 