---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <a href="fab_academy.html"> <h2 class="page-title">Fab Academy</h2>  </a>                    
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->


    {% include social.html %} 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div> 

<!-- ======== Fab Academy ========================================================= Fab Academy ============ -->

<section id="fab-academy">
	<div class="container">
	    <div class="row">
		    
		    
	    	<div class="col-md-6">
		    	<img src="{{site.baseurl}}/img/fab_academy/nuevos2-04.png"/>
	    	</div> <!-- col -->
	    	
	    	<div class="col-md-6" id="fab-academy-text">
		    	<h3>What is Fab Academy?<br>
			    	<small>How to Make (Almost) Anything</small>
		    	</h3>
		    	<br>
		    	<p>Fab Academy is a Digital Fabrication program directed by Neil Gershenfeld of MIT’s Center For Bits and Atoms and based on MIT’s rapid prototyping course, MAS 863: How to Make (Almost) Anything.</p>
                <br>
                <p>The Fab Academy offers a 6 month program on digital fabrication, and it could be taken in any of the participating labs. The Fab Academy offers Certificates on relevant technical topics, and a Diploma aimed at vocational and technical training for employment and investment (along with assistance to its graduates in those areas). Fab Academy Certificates provide familiarity with technical options and capabilities, hands-on experience, and direction for further study. Each requires, and is evaluated by, developing and documenting projects. They are periodically renewed to reflect best practices. Each Certificate typically requires one week. They are combined in the Diploma, which is roughly comparable to completing MIT’s rapid-prototyping course ‘How To Make (almost) Anything’. Progress is evaluated by skills and projects rather than time or credits.</p>
                <br>
                <p>During this 6 month program, students learn how to envision, prototype and document their projects and ideas through many hours of hands-on experience with digital fabrication tools, taking a variety of code formats and turning them into physical objects.</p><br>
               
               <!-- <p><strong>Fab Lab Barcelona offers Fab Accademy in two locations:</strong> 
                <ul>the amazing <a target="_blank" href="http://greenfablab.org/">Green Fab Lab, located in Collserola Natural Park</a></ul>
                <ul>and the vibrant <a target="_blank" href="http://fablabbcn.org/contact.html">Fab Lab Barcelona, located in IaaC's main building in the Poblenou district.</a></ul><br> -->
               
                <p>&rarr; Fab Academy BCN tuition fee: <strong><a href="http://fabacademy.org/application-form/prices/">Here</a></strong></p>
                
                
                
                <a target="_blank" href="https://form.jotformeu.com/71832813940356"><u><h3>APPLY</u></a> 

<h4>Need more information?<br>    
	                    <p>Email us!<a href="mailto:admissions@fabacademy.org"><br>
	                        <strong>admissions@fabacademy.org</strong></a></p><br></h4>
	    	</div> <!-- col -->
	    	
		    	
	    	</div> <!-- col -->
	    </div> <!-- row -->
	</div> <!-- container -->
</section> <!-- fab academy -->
<br>
<!-- =============================================================================================================-->
    
<div class="container" id="separator"></div>

<!-- ======== Fab Academy Video ============================================= Fab Academy Video ============ -->

<section id="fab-academy-video">	  
	<div class="container">
		<div class="row">
			
			
			<div class="col-md-6" id="fab-academy-video-text">
			    <h3>Diploma / Individual Fab Academy Certificates:</h3>
			    <br>
			    <p>The diploma combines 19 certificates provide familiarity with technical options and capabilities, hands-on experience, and direction for further study. The certificates are:</p>
			    <br>
			    <ol style="list-style-type:disc">
				    <li>Digital fabrication principles and practices – 1 week</li>
				    <li>Computer-aided design, manufacturing, and modeling – 1 week</li>
				    <li>Computer-controlled cutting – 1 week</li>
				    <li>Electronics design and production – 2 weeks</li>
				    <li>Computer-controlled machining – 1 week</li>
				    <li>Embedded programming – 1 week</li>
				    <li>3D molding and casting – 1 week</li>
				    <li>3D scanning and printing – 1 week</li>
				    <li>Sensors, actuators, and displays – 2 weeks</li>
				    <li>Interface and application programming – 1 week</li>
				    <li>Embedded networking and communications – 1 week</li>
				    <li>Machine design – 2 weeks</li>
				    <li>Digital fabrication applications and implications – 1 week</li>
				    <li>Invention, intellectual property, and business models – 1 week</li>
				    <li>Digital fabrication project development – 2 weeks</li>
			    </ol>
                <br>
                <p>&rarr;&nbsp;&nbsp;Check the <a target="_blank" href="http://academy.cba.mit.edu"><strong>Fab Academy content archive</strong></a> for more information.</p>

		    </div> <!-- col -->
			
		    <div class="col-md-6" id="fab-academy-video-embed"> 
			    
			    
			    <iframe src="https://www.youtube.com/embed/hbG6DZZhvgU" width="500" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
			    
			    <iframe src="https://www.youtube.com/embed/hw_7jKjXg6M" width="500" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
			    				
		    </div> <!-- col -->

		    
		    
		</div> <!-- row -->

	
	</div> <!-- container -->  	
</section> <!-- fab academy video -->        
<br>
<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-bottom"></div>    

<!-- =============================================================================================================-->


<section id="fab-academy-info">	  
	<div class="container">
		<div class="row">
			
		    <div class="col-md-6">
			    
			    <h3>Learn to Turn Codes into Things</h3>
			    <br>
			    <p>Just as communications and computation went from analog to digital, resulting in PCs and the Internet, the digitization of fabrication is leading to personal fabricators that will allow anyone to make almost anything, anywhere. The development of digital fabrication is based on creating codes that don’t just describe things, they are things, much as proteins are coded in molecular biology. This research roadmap is ultimately aiming at a Star Trek-style replicator, but prototype versions of these capabilities are already available in field fab labs.</p>
			    <br>
			    <p>At the Fab Academy, you will learn how to envision, prototype and document your ideas through many hours of hands-on experience with digital fabrication tools. We take a variety of code formats and turn them into physical objects.</p>
			    <br>
			    <p>The Fab Academy is a fast paced, hands-on learning experience where students plan and execute a new project each week. Each individual documents their progress for each project, resulting in a personal portfolio of technical accomplishments.</p>
			    <br>
			    <h4>Students at the Fab Academy learn:</h4>
			    <br>
			    <p>- How to use a Fab Lab’s digital fabrication tools for rapid prototyping</p>
			    <br>
			    <ul>
				    <li>Epilog Mini Lasercutter</li>
			        <li>Roland MDX-20 Milling Machine</li>
			        <li>3D printer</li>
			        <li>Roland CAMM-1 Servo GX-24 Desktop Vinyl Cutter</li>
			        <li>ShopBot</li>
			    </ul>
			    <br>
			    <p>- Electronics design and production by producing circuit boards using a variety of sensors and output devices.</p>
			    <br>
			    <p>- How to program AVR microcontrollers on the boards they have produced.</p>
			    <br>
			    <ul>
				    <li>Molding and casting</li>
			        <li>3D scanning and printing</li>
			    </ul>
			    			    			    
		    </div> <!-- col -->
		    
		    <div class="col-md-6">
			    
			    <h3>How It Works</h3>
			    <br>
			    
			    <p>Each lab that participates in the Fab Academy program is part of a global Fab Lab / Fab Academy network. The local branches of the Fab Academy work with other participating Fab Labs and experts from around the wold via a distributed educational model where we pool our knowledge to provide a unique educational experience.</p>
			    <br>
			    <p>We view and participate in global lectures broadcast from MIT on Wednesdays at 9:00 am – 12:00 pm EST. The lectures are recorded and available to students throughout the semester. In addition to the lectures, there are two lab days each week where students have access the digital fabrication equipment and personal help with projects.</p>			    
			    <br>
			    <img src="{{sitebase.url}}/img/fab_academy/fab_academy_2.JPG" alt="Fab Academy"/>
			    <br><br>
			    <p>Fab Academy faculty who are leaders in their respective fields provide global video lectures, supervise academic content, and guide research. Hands-on instruction in the labs is provided by instructors who supervise and evaluate Certificates, develop and disseminate instructional material, and assist with projects.</p>
			    <br>
			    <p>For more information please check: <a href="http://fabacademy.org/diploma/">http://www.fabacademy.org/diploma</a></p>

		    </div>
		    
		</div>
	</div>
</section>

<!-- =============================================================================================================-->

{% include footer.html %} 