---
layout: default
---

<header>
    {% include nav.html %}
</header><!-- site-header -->

<section id="latest-news-banner">
	<div class="container">
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform" target="blank">
			<img src="{{site.baseurl}}/img/fabricademy/fabri19.jpg" class="img-responsive"/>
		</a>
	</div> 
</section>  

<div class="container">
	<div class="separator-solid"> 
		<div class="row">
			<div class="col-md-6">		
				<h3>WHAT IS FABRICADEMY?</h3>
			</div>
		</div>
	</div>
</div>

<section id="news">
	<div class="container">
		<p>
			<strong>
				<a href="http://textile-academy.org/join/">Fabricademy</a>
			</strong>
			is a transdisciplinary course that focuses on the development of new technologies applied in the textile industry, in its broad range of applications, from the fashion industry to the upcoming wearable market.
		</p>
		<p><strong><a href="http://textile-academy.org/join/">Fabricademy</a></strong> is a two-phase program that covers 6 months: approximately 3 months of seminars and learning modules plus 3 months focusing on individual in-depth applied project research.</p>
		<p>The possibilities to conduct experimental research in an open laboratory give students the physical and mental space for innovative re-thinking and reframing of today's realities, offering the resources for visions to be materialized, tested, developed and fabricated, no as a linear process, but as a spiral iteration and implementation into reality. Through the program, we are developing and implementing a new approach on to how to create, produce and distribute textile and fashion elements, by using distributed manufacturing infrastructures and knowledge networks. </p>
		<p>Along with experts from the field, the participants will investigate how the textile and fashion industry can benefit from new technologies, processes and business models. We are experimenting with the human body, culture and mindset by recycling, hacking and sensing it, creating feedback loops with project development, where materials, aesthetics, sustainability and customization play equal and important roles. The Fabricademy offers a cross-disciplinary education and research platform, where production and culture through advanced technologies are making impact in the way we think and act towards the textile industry and all of its application fields. Working locally, while creating connected communities globally. We are not waiting for things to change, we are changing them from the ground up.</p>
	</div>
</section> 

<section id="latest-news-banner">
	<div class="container">	    
		<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform"><img src="{{site.baseurl}}/img/news_banner/banner_fabry3_.jpg" class="img-responsive"/>  </a>
	</div> <!-- container --> 
</section> <!-- section -->  

<div class="container">
	<div class="separator-solid"> 
		<div class="row">
			<div class="col-md-6">		
				<h3>FABRICADEMY IN BARCELONA</h3>	            
			</div>
		</div>
	</div>
</div>

<section id="news">
	<div class="container">
		<p><strong><a href="https://fablabbcn.org/index.html" target="blank">Fab Lab Barcelona</a></strong> was the first Fab Lab to open in the EU back in 2007, and this year celebrates ten years of innovation, collaboration and invention.</p> 
		<br/>
		<p>Based in the heart of the <strong><a href="https://goo.gl/maps/q8L1CRTutDs" target="blank">vibrant Poblenou district</a></strong>, the Fab Lab Barcelona is also a bustling maker community and incubation hub. The Fab Lab is located within the Institute for <strong><a href="https://iaac.net/">Institute for Advanced Architecture of Catalonia (IAAC)</a></strong>, where architecture students come from all over the world, adding an exciting international flavour to the mix. <br/><br/> Fab Lab Barcelona has also been instrumental in exciting new research projects such as <strong><a href="https://fablabbcn.org/0000/01/06/smart-citizen.html" target="blank">Smart Citizen</a></strong> and <strong><a href="http://fab.city/" target="blank">Fab City</a></strong>, among others which aim to use citizen data and local manufacturing to transform the cities of the future. To this end, Poblenou offers an ideal urban space to experiment with new ideas and innovation.</p>
		<p style="font-size:18px;text-align:center;"><em>The Fabricademy in Barcelona provides a unique and fully immersive experience in one of the founding Fab Labs, as well as opportunities to learn at one of Europe’s leading research and innovation hubs.</em></p>
		<br/>
		<p>The Fab Lab Barcelona works in tandem with the <strong><a href="http://greenfablab.org/" target="blank">Green Fab Lab</a></strong>, a digital fabrication space dedicated to innovation in agro-ecology, forestry and conservation. Located in Valldaura on the hills above Barcelona, the Green Fab Lab offers an opportunity to learn directly from nature in order to develop a more sustainable and ecological solutions for 21st-century cities.</p> 
		<br/>
		<p>Over the last decade, Fab Lab Barcelona has established itself as a vital node in the global Fab Lab movement. Today it continues to help coordinate and expand this ever-growing network, as well as develop its educational impact through the <strong><a href="http://fabacademy.org/" target="blank">Fab Academy</a></strong>, <strong><a href="http://textile-academy.org/" target="blank">Fabricademy</a></strong>, <strong><a href="https://iaac.net/fab-labs/bio-academy/bioacademy/" target="blank">BioAcademy</a></strong> and <strong><a href="http://academany.org/" target="blank">Academany</a></strong> programs. Students from these programs have gone on to create new Fab Labs around the world, and many continue actively developing <strong><a href="http://fablabbcn.org/projects.html" target="blank">award-winning projects</a></strong>.</p>
		<br/>
		<h3>Join us!</h3>
		<p>
			<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdI4FeDxY5kiNt6qTU1j-0Fm_Hpp8TcODgGhxre5IynFnxPlA/viewform">
				<u>
					<h3>APPLY HERE</h3>
				</u>
			</a>
		</p>
		<br>

		<section id="latest-news-banner">
	    <div class="container">	        
	        <p><h3><strong>Short selection of Fabricademy BCN Final Projects</strong></h3></p>	        
	        <br/>
					<br/>	        
					<iframe src="https://player.vimeo.com/video/262355545" width="500"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<iframe src="https://player.vimeo.com/video/262355447" width="500"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<br/><br/>
					<p>
						<a href="https://vimeo.com/262355545">Laura Civetti (Fabricademy BCN Graduated)</a>
						/       
						<a href="https://vimeo.com/262355447">Carolin Vogler (Fabricademy BCN Graduated)</a>
					</p>

					<br/><br/>
					<iframe src="https://player.vimeo.com/video/262356246" width="500"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<iframe src="https://player.vimeo.com/video/262378570" width="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<br/><br/>
					<p>   <a href="https://vimeo.com/262356246">Clara Davis (Fabricademy BCN Graduated)</a>       /       <a href="https://vimeo.com/262378570">Zoe Powell (Fabricademy BCN Graduated)</a></p>
					<br/><br/>
			</div> <!-- container --> 
    </section> <!-- section -->  
	</div> <!-- container -->	     			   		 
</section> <!-- section -->

 
<div class="container">
	<div class="separator-solid"> 
		<div class="row">
			<div class="col-md-6">		
				<h3>TUITION FEES</h3>
			</div>
		</div>
	</div>
</div>

<section id="news">
		
	<div class="container">

		<p>
			<h4>
				&rarr; The tuition fee for 2019-2020 edition of Fabricademy BCN is
				<strong>5000€</strong> + IVA (21%) - to apply click 
				<strong>
					<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdI4FeDxY5kiNt6qTU1j-0Fm_Hpp8TcODgGhxre5IynFnxPlA/viewform">HERE</a>
				</strong>
			</h4>
		</p>
		<br>
		<br>
		<p><h4>Need more information? click <strong><a target="_blank" href="http://textile-academy.org/about/">HERE</a></strong></h4></p>  <br>
	</div> <!-- container -->	   
</section> <!-- section -->

<section id="latest-news-banner">
		<div class="container">
			<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform"><img src="{{site.baseurl}}/img/news_banner/banner_fabry1_.jpg" class="img-responsive"/>  </a>	    
	</div> <!-- container --> 
</section> <!-- section -->  
    
<div class="container">
	<div class="separator-solid"> 	
		<div class="row">
			<div class="col-md-6">		
					<h3>THE FABRICADEMY PROGRAM</h3>
			</div>
		</div>
	</div>
</div>
    
<section id="news">
	<div class="container">
		<p>
			Fabricademy starts on Mid-September 2019. The first phase will run classes until December and the 2nd phase will take place from January to May.
		</p>
		<p>
			Fabricademy Graduation will take place in August, during the annual FabLab Conference. 2019-20 students will graduate in the FAB16 Conference, in Canada.
		</p>

		<h5>The Program:</h5>
		<ul style="font-weight:bold;">
			<li>State of the art, project management and documentation</li>
			<li>Digital Bodies</li>
			<li>Circular Open Source Fashion</li>
			<li>Bio dyes & Biofabrics</li>
			<li>E-textiles & Wearables </li>
			<li>Computational Couture</li>
			<li>Textile as Scaffold</li>
			<li>Open source Hardware- from fibers to fabric</li>
			<li>E-textiles & Wearables II</li>
			<li>Implications and applications</li>
			<li>Soft Robotics</li>
			<li>Skin electronics</li>
			<li>Final presentations of weekly assignments and project plan</li>
		</ul>

		<br/>

		<h4>Need more information?</h4>
		<p>
			Click 
			<a target="_blank" href="http://textile-academy.org/program/">HERE</a>
		</p>
		<p>
			or Email us:
			<a href="mailto:info@fablabbcn.org"><strong>info@fablabbcn.org</strong></a>
		</p>	

		<p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform"><u><h3>Register HERE</u></a> </p><br>

		<section id="latest-news-banner">
			<div class="container">
				<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform"><img src="{{site.baseurl}}/img/news_banner/banner_fabry2_.jpg" class="img-responsive"/>  </a>
			</div> <!-- container --> 
		</section> <!-- section -->  

	</div>
</section>
	        

{% include footer.html %}
