---
layout: default
---

<header>
	{% include nav.html %}
</header><!-- site-header -->

<section id="latest-news-banner">
	<div class="container">
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSdI4FeDxY5kiNt6qTU1j-0Fm_Hpp8TcODgGhxre5IynFnxPlA/viewform" target="blank">
			<img src="{{site.baseurl}}/img/fabricademy/fabri19.jpg" class="img-responsive"/>
		</a>
	</div>
</section>

<section id="news">
	<div class="container">
		<div class="row">
			<div class="col-md-6 align-items-flex-start">
				<div><img src="{{site.baseurl}}/img/fabricademy/01.jpg" class="img-responsive"/></div>
			</div>
			<div class="col-md-6 align-items-flex-start">
				<h2>A Journey at the Intersection of Textiles, Digital Fabrication and Biology.</h2>
				<br/>
				<p>Fabricademy is a transdisciplinary course that focuses on the development of new technologies for the textile industry, including the fashion industry and the upcoming wearable market.</p>
				<br/>
				<p>The six month program is divided into two learning phases: three months of seminars and learning modules delivered via the distributed Textile Academy network and three months of mentored individual project development.</p><br/>
				<button class="cta-button">
					<a style="color: white" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdI4FeDxY5kiNt6qTU1j-0Fm_Hpp8TcODgGhxre5IynFnxPlA/viewform">
						<u><h4>APPLY HERE</h4></u>
					</a>
				</button>
				<p>See more information about the global academy program
					<a target="_blank" href="http://textile-academy.org/about/"><strong>here.</strong></a>
				</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="separator-solid"><h3>WHAT IS FABRICADEMY?</h3></div>
	</div>
	<div class="container">
		<iframe style="width: 1080px; height: 640px" src="https://www.youtube.com/embed/RtBYWS2txjs?autoplay=1&loop=1&playlist=RtBYWS2txjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen muted autoplay loop playsinline></iframe>
	</div>
	<br/>
	<div class="container">
		<p>The textile industry is in need of more humane, ecologically sound and efficient ways of working. Fabricademy at Fab Lab Barcelona equips students with the skills and knowledge to be key players in shaping this emerging future of textiles.</p>
		<br/>
		<p>The Fabricademy program asks students to rethink industrial processes in an open and experimental laboratory. Merging tradition and advanced technologies, students learn a range of skills from digital fabrication to synthetic biology, and will work across the creation, production and distribution of textile and fashion elements to help them establish their career as future textile professionals. Learning is supported by experts from the field who help students investigate how the textile and fashion industry can benefit from new technologies, processes and business models.</p>
		<br/>
	</div>
	<br/>
	<div class="container">
		<img src="{{site.baseurl}}/img/fabricademy/05.jpg" class="img-responsive"/>
	</div>
	<br/>
	<div class="container">
		<p>Working in an open laboratory, students experiment with the human body and culture by recycling, hacking and sensing. Rapid prototyping is used to create real-time feedback loops for project development, in which materials, aesthetics, sustainability and customization play equal and important roles. Students use acquired knowledge to develop a final project which may intersect multiple sectors of the future textile and fashion industry.</p>
	</div>
</section>

<section id="news">
	<div class="container">
		<div class="separator-solid">
			<h3>FABRICADEMY IN BARCELONA</h3>
		</div>
	</div>
	<div class="container">
		<p>Studying at Fab Lab Barcelona, students are mentored by Anastasia Pistofidou, leader of Material and Textile research body FabTextiles and the co-founder and director of the global Fabricademy program. With dedicated biomaterial labs, access to two professional Fab Labs and a third Green Fab Lab at Valldaura Campus of IAAC in the Collserola National Park, Fabricademy Barcelona provides an unprecedented experience for students to study in a unique environment. The international IAAC environment welcomes students from 68 countries and over 200 disciplines, which provides all students on campus the opportunity to expand their professional and personal experiences. Alumni of the program have used their future-skills to build leading roles in the global Fab Lab network, established their own design studios and become entrepreneurs in the innovation and new materials fields.</p><br/>
	</div>
</section>

<div class="container">
	<h3><strong>Program Competencies</strong></h3>
	<br/>
	<p>The Fabricademy program aims to train motivated and passionate professionals with the critical, analytic and practical skills needed to rethink and redesign the systems at play in the global textile industry. Working collaboratively and motivated individually, students learn and practice new skills weekly and apply this knowledge to the development of a final project. Students are trained to be enterprising creative workers capable of innovating for change. Students undertake twenty weeks of core competancies:</p>
	<br/>
	<ul>
		<li>State of the art, project management and documentation</li>
		<li>Digital Bodies</li>
		<li>Circular Open Source Fashion</li>
		<li>Bio dyes & Biofabrics</li>
		<li>E-textiles & Wearables</li>
		<li>Computational Couture</li>
		<li>Textile as Scaffold</li>
		<li>Open source Hardware- from fibers to fabric</li>
		<li>E-textiles & Wearables II</li>
		<li>Implications and applications</li>
		<li>Soft Robotics</li>
		<li>Skin electronics</li>
	</ul>

	<button class="cta-button">
		<a style="color: white" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdI4FeDxY5kiNt6qTU1j-0Fm_Hpp8TcODgGhxre5IynFnxPlA/viewform">
			<u><h4>APPLY HERE</h4></u>
		</a>
	</button>
	<p>See more information about the global academy program
		<a target="_blank" href="http://textile-academy.org/about/"><strong>here.</strong></a>
	</p>
</div>

<section>
	<div class="container">
		<div class="separator-solid">
			<h3>PROGRAM DETAILS</h3>
		</div>
	</div>

	<div class="container">
		<p><h3><strong>Program director</strong></h3></p>
		<br/>
		<div>
			<div><img style="max-width:150px;" class="rounded-circle" src="{{site.baseurl}}/img/team/anastasia__.jpg" alt=""></div>
			<br/>
			<h4>Anastasia Pistofidou</h4>
		</div>
		<p>Anastasia is co-founder and directorial faculty of the Fabricademy program and director of Fab Textiles at Fab Lab Barcelona, where she is using advanced technologies to influence the way we think and act towards the fashion industry. She is an expert in digital fabrication and has a practice dedicated to developing and advocating for new materials such as bioplastics. Her work has been featured in VICE Spain, serves on the Scientific Committee of Reshape, is a faculty member of IAAC's Master of Design in Emergent Futures and is a regular curatorial contributor to the global Fab Lab network's Textile Academy annual exhibition.</p>
		<br/>
	</div>

	<div class="container">
		<h3><strong>Program assistant</strong></h3>
		<br/>
		<div>
			<div><img style="max-width:150px;" class="rounded-circle" src="{{site.baseurl}}/img/team/ana_correa__.png" alt=""></div>
			<br/>
			<h4>Ana Correa</h4>
		</div>
		<p>Ana is a Colombian Industrial Designer with experience in creation of textile products for fashion and branding, and project managing. Passionate for digital fabrication technologies focusing in research of 3D printing on textiles as an innovative and sustainable process in the Fashion Industry. She is a member of Fabtextiles at FabLab Barcelona.</p><br/>
	</div>

	<div class="container">
		<h3><strong>Program details</strong></h3>
		<br/>
		<ul>
			<li><strong>Duration:</strong> 6 months full time</li>
			<li><strong>Phase 1:</strong> Mid-September to December 2019</li>
			<li><strong>Phase 2:</strong> January to May 2020</li>
			<li><strong>Assignments:</strong> Weekly for the first three months</li>
			<li><strong>Final project:</strong> Delivered May 2020</li>
			<li><strong>Graduation:</strong> Fabricademy Graduation will take place in August, during the annual FabLab Conference. 2019-20 students will graduate in the FAB16 Conference, in Canada.</li>
			<li><strong>Application Fee:</strong> No fee attributed</li>
			<li><strong>Course Fee:</strong> 6.500 Dollars</li>
		</ul>
		<button class="cta-button">
			<a style="color: white" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdI4FeDxY5kiNt6qTU1j-0Fm_Hpp8TcODgGhxre5IynFnxPlA/viewform">
				<u><h4>APPLY HERE</h4></u>
			</a>
		</button>
		<p>See more information about the global academy program
			<a target="_blank" href="http://textile-academy.org/about/"><strong>here.</strong></a>
		</p>
	</div>
</section>

<section>
	<div class="container">
		<div class="separator-solid"><h3>CHECK LAST YEARS FABRICADEMY BCN PROJECTS</h3></div>
	</div>

	<div class="container">
		<h4><strong>2018 - 2019</strong></h4>
		<div class="row">
			<!-- If you need to add or remove a video in class 2018-2019, it is done in this repos _data/fabricademy-slider-2018.yml file! -->
			{% for item in site.data.fabricademy-slider-2018 %}
			<div class="col-md-6">
				<iframe width="640" height="360" frameborder="0" allow="autoplay; fullscreen" src="{{site.baseurl}}{{item.video}}"></iframe>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="container">
		<h4><strong>2017 - 2018</strong></h4>
		<div class="row">
			<!-- If you need to add or remove a video in class 2017-2018, it is done in this repos _data/fabricademy-slider-2017.yml file! -->
			{% for item in site.data.fabricademy-slider-2017 %}
			<div class="col-md-6">
				<iframe width="640" height="360" frameborder="0" allow="autoplay; fullscreen" src="{{site.baseurl}}{{item.video}}"></iframe>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<div class="container">
	<h4>Fabricademy Barcelona has initiated a collaboration with EURECAT technological center and the program of REIMAGINE textiles allowing students to use work at their premises of Canet de Mar.</h4>
	<br/>
	<div class="row justify-content-around">
		<div><a href="https://eurecat.org/"><img style="max-width:150px;" src="{{site.baseurl}}/img/collaborations/logo-eurecat.jpg" alt=""></a></div>
		<div><a href="https://reimaginetextile.com/"><img style="max-width:150px;" src="{{site.baseurl}}/img/collaborations/logo-reimagine.png" alt=""></a></div>
	</div>
</div>

{% include footer.html %}
