---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="latest-news-banner">
	    <div class="container">
		    
		    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform" target="blank"><img src="{{site.baseurl}}/img/news_banner/banner_fabBRICADEMY18_.jpg" class="img-responsive"/> </a>
		    
		</div> 
    </section>  
   
 <!-- <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
             <a href="fab_academy.html"> <h2 class="page-title">Fab Academy</h2>  </a>    
							
	    </div> 								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> -->

<!-- ======== pages-social-icons ===========-->


    {% include social.html %} 


<!-- <div class="container" id="separator-pages-top"></div> -->

<!-- ======== Fab Academy =========== MOVED IMAGE BELOW INTO .header-pages-blog SECTION ABOVE / DEACTIVATED SECTION BELOW ============ -->

<!--
    
    <section id="latest-news-banner">
	    <div class="container">
		    
		    <a href="https://form.jotformeu.com/71832813940356" target="blank"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy18.jpg" class="img-responsive"/>  </a>
		    
		</div> 
    </section>  

</ul></ul></ul></ul>  REDUNDANT CODE? 

--> 

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>WHAT IS FABRICADEMY?</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ======== ================-->

	<section id="news">
		
	    <div class="container">
	        
 <!--       <p><strong><a href="http://fabacademy.org/">Fab Academy</a></strong> is an intensive six month program that teaches students to design, prototype and invent almost anything using digital fabrication tools and machines.<br/><br/>The course is directed by <strong>Neil Gershenfeld</strong> from <strong><a href="http://cba.mit.edu/">MIT’s Center For Bits and Atoms</a></strong> and based on MIT’s rapid prototyping course: How to Make (Almost) Anything. Since 2001, they have been at the cutting edge of the global maker movement; enabling innovation and democratising the use of digital fabrication technology through the growing network of Fab Labs around the world.</p>

            <br/>

            <p style="font-size:18px;text-align:center;"><em>“Digital fabrication consists of much more than 3-d printing. It is an evolving suite of capabilities to turn data into things and things into data. Many years of research remain to complete this vision, but the revolution is already well under way.”<br/>Neil Gershenfeld</em></p>

            <br/>

            <p>The Fab Academy brings together a multi-disciplinary and hands-on learning experience that can be taken in any number of participating Fab Labs around the world. At it’s core, Fab Academy empowers students to learn by doing, inspires them to make stuff locally, and to become active participants in sustainable cities and communities.</p>-->
            
            
            
<p><strong><a href="http://textile-academy.org/join/">Fabricademy</a></strong> is a transdisciplinary course that focuses on the development of new technologies applied in the textile industry, in its broad range of applications, from the fashion industry to the upcoming wearable market.</p>

<p><strong><a href="http://textile-academy.org/join/">Fabricademy</a></strong> is a two-phase program that covers 6 months: approximately 3 months of seminars and learning modules plus 3 months focusing on individual in-depth applied project research.</p>

<br/>

<p>The possibilities to conduct experimental research in an open laboratory give students the physical and mental space for innovative re-thinking and reframing of today's realities, offering the resources for visions to be materialized, tested, developed and fabricated, no as a linear process, but as a spiral iteration and implementation into reality. Through the program, we are developing and implementing a new approach on to how to create, produce and distribute textile and fashion elements, by using distributed manufacturing infrastructures and knowledge networks. </p>

<br/>

<p>Along with experts from the field, the participants will investigate how the textile and fashion industry can benefit from new technologies, processes and business models. We are experimenting with the human body, culture and mindset by recycling, hacking and sensing it, creating feedback loops with project development, where materials, aesthetics, sustainability and customization play equal and important roles. The Fabricademy offers a cross-disciplinary education and research platform, where production and culture through advanced technologies are making impact in the way we think and act towards the textile industry and all of its application fields. Working locally, while creating connected communities globally. We are not waiting for things to change, we are changing them from the ground up.</p>

	    </div> 	   
	      			   		 
	</section> 


	<!-- =============================================================================================================-->  

	<!-- =============================================================================================================-->			
	<section id="latest-news-banner">
	    <div class="container">
	        
<iframe src="https://player.vimeo.com/video/262355545" width="320"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<iframe src="https://player.vimeo.com/video/262355447" width="320"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<iframe src="https://player.vimeo.com/video/262356246" width="320"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<br/>

<p><a href="https://vimeo.com/262355545">Laura Civetti (Fabricademy18 BCN Graduated)</a> / <a href="https://vimeo.com/262355447">Carolin Vogler (Fabricademy18 BCN Graduated)</a> / <a href="https://vimeo.com/262356246">Clara Davis (Fabricademy18 BCN Graduated)</a></p>

<br/>
		    
		    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform"><img src="{{site.baseurl}}/img/news_banner/banner_fabry3_.jpg" class="img-responsive"/>  </a>
		    
		</div> <!-- container --> 
    </section> <!-- section -->  
    
	<!-- =============================================================================================================-->

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>FABRICADEMY IN BARCELONA</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ======== ================-->

	<section id="news">
		
	    <div class="container">
	        
        <p><strong><a href="https://fablabbcn.org/index.html" target="blank">Fab Lab Barcelona</a></strong> was the first Fab Lab to open in the EU back in 2007, and this year celebrates ten years of innovation, collaboration and invention.</p> 

            <br/>

        <p>Based in the heart of the <strong><a href="https://goo.gl/maps/q8L1CRTutDs" target="blank">vibrant Poblenou district</a></strong>, the Fab Lab Barcelona is also a bustling maker community and incubation hub. The Fab Lab is located within the Institute for <strong><a href="https://iaac.net/">Institute for Advanced Architecture of Catalonia (IAAC)</a></strong>, where architecture students come from all over the world, adding an exciting international flavour to the mix. <br/><br/> Fab Lab Barcelona has also been instrumental in exciting new research projects such as <strong><a href="https://fablabbcn.org/0000/01/06/smart-citizen.html" target="blank">Smart Citizen</a></strong> and <strong><a href="http://fab.city/" target="blank">Fab City</a></strong>, among others which aim to use citizen data and local manufacturing to transform the cities of the future. To this end, Poblenou offers an ideal urban space to experiment with new ideas and innovation.</p>

            <br/>

        <p style="font-size:18px;text-align:center;"><em>The Fabricademy in Barcelona provides a unique and fully immersive experience in one of the founding Fab Labs, as well as opportunities to learn at one of Europe’s leading research and innovation hubs.</em></p>

        <br/>

        <p>The Fab Lab Barcelona works in tandem with the <strong><a href="http://greenfablab.org/" target="blank">Green Fab Lab</a></strong>, a digital fabrication space dedicated to innovation in agro-ecology, forestry and conservation. Located in Valldaura on the hills above Barcelona, the Green Fab Lab offers an opportunity to learn directly from nature in order to develop a more sustainable and ecological solutions for 21st-century cities.</p> 

        <br/>

        <p>Over the last decade, Fab Lab Barcelona has established itself as a vital node in the global Fab Lab movement. Today it continues to help coordinate and expand this ever-growing network, as well as develop its educational impact through the <strong><a href="http://fabacademy.org/" target="blank">Fab Academy</a></strong>, <strong><a href="http://textile-academy.org/" target="blank">Fabricademy</a></strong>, <strong><a href="https://iaac.net/fab-labs/bio-academy/bioacademy/" target="blank">BioAcademy</a></strong> and <strong><a href="http://academany.org/" target="blank">Academany</a></strong> programs. Students from these programs have gone on to create new Fab Labs around the world, and many continue actively developing <strong><a href="http://fablabbcn.org/projects.html" target="blank">award-winning projects</a></strong>.</p>

        <br/>
        
        <h3>Join us!</h3>

<p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform"><u><h3>APPLY HERE</u></a> </p><br>


<!--TUITION FEES


→ The tuition fee for 2018-2019 edition of Fabricademy BCN is 5000€ + IVA (21%) - to apply click HERE (https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform)


Fab Lab Barcelona was the first Fab Lab to open in the EU back in 2007, and this year celebrates ten years of innovation, collaboration and invention.

Based in the heart of the vibrant Poblenou district, the Fab Lab Barcelona is also a bustling maker community and incubation hub. The Fab Lab is located within the Institute for Institute for Advanced Architecture of Catalonia (IAAC), where architecture students come from all over the world, adding an exciting international flavour to the mix. 

Fab Lab Barcelona has also been instrumental in exciting new research projects such as Smart Citizen and Fab City, among others which aim to use citizen data and local manufacturing to transform the cities of the future. To this end, Poblenou offers an ideal urban space to experiment with new ideas and innovation.

The Fabricademy in Barcelona provides a unique and fully immersive experience in one of the founding Fab Labs, as well as opportunities to learn at one of Europe’s leading research and innovation hubs.

The Fab Lab Barcelona works in tandem with the Green Fab Lab, a digital fabrication space dedicated to innovation in agro-ecology, forestry and conservation. Located in Valldaura on the hills above Barcelona, the Green Fab Lab offers an opportunity to learn directly from nature in order to develop a more sustainable and ecological solutions for 21st-century cities.

Over the last decade, Fab Lab Barcelona has established itself as a vital node in the global Fab Lab movement. Today it continues to help coordinate and expand this ever-growing network, as well as develop its educational impact through the Fab Academy, Fabricademy, BioAcademy and Academany programs. Students from these programs have gone on to create new Fab Labs around the world, and many continue actively developing award-winning projects.

Join us.


APPLY HERE!
Register button:  https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform

More info about the course: http://textile-academy.org/about/


TUITION FEES


→ The tuition fee for 2018-2019 edition of Fabricademy BCN is 5000€ + IVA (21%) - to apply click HERE (https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform)-->  



</div> <!-- container -->	   
	      			   		 
	</section> <!-- section -->

 
 	<!-- =============================================================================================================-->  

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>TUITION FEES</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ========  ================-->
 <section id="news">
		
	    <div class="container">
	        
	        
	        <p><h4>&rarr; The tuition fee for 2018-2019 edition of Fabricademy BCN is <strong><a href="http://fabacademy.org/application-form/prices/">5000€</a></strong> + IVA (21%) - to apply click <strong><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform">HERE</a></strong></h4></p>  <br><br>
	        
	        <p><h4>Need more information? click <strong><a target="_blank" href="http://textile-academy.org/about/">HERE</a></strong></h4></p>  <br>

<!--<p><h4>&rarr; The tuition fee for this year's edition of Fab Academy BCN is <strong><a href="http://fabacademy.org/application-form/prices/">6000€</a></strong> - to apply click <a target="_blank" href="https://form.jotformeu.com/71832813940356">HERE</a></strong></h4></p>  <br><br>

Fab Academy will grant <strong>4 contest-based scholarships, (two 50% scholarships and two 25% scholarships)</strong>, to the best participants presenting projects in the lines of the following topics: <strong>Energy</strong>, <strong>Food</strong>, <strong>Education</strong>, <strong>Community</strong>. To find out more information about how to enter the contest please click <strong><a href="https://fablabbcn.org/fab_academy_18_Scholarship.html">HERE</a></strong> <br><br>


<h4>Need more information? Email us!<a href="mailto:admissions@fabacademy.org"><br>
	                        <strong>admissions@fabacademy.org</strong></a></p><br></h4>-->

	    </div> <!-- container -->	   
	      			   		 
	</section> <!-- section -->
	
	
	<!-- =============================================================================================================-->			
	<section id="latest-news-banner">
	    <div class="container">
		    
		    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform"><img src="{{site.baseurl}}/img/news_banner/banner_fabry1_.jpg" class="img-responsive"/>  </a>
		    
		</div> <!-- container --> 
    </section> <!-- section -->  
    
	<!-- =============================================================================================================-->

<!--
<p>The aim of the course is to <strong>create figures capable of managing and understanding the various aspects of digital production</strong>, <strong>stimulating students with a comprehensive and multisectoral vision through a methodology focused on the transmission of concepts bound to the use and experimentation of digital tools and applications</strong>.</p><br>
<p>The movement of makers, digital artisans, fablabs or hackerspace, thanks to exponential growth in recent years, is now creating a new digital economy.</p><br>
<p><strong>The Academy's goal is to shape and stimulate future professionals in this new digital revolution</strong>.
<p>Diploma / Individual Fab Academy Certificates:</p><br>
<p>The <strong>diploma combines 19 certificates</strong> provide familiarity with technical options and capabilities, hands-on experience, and direction for further study. The certificates are:</p><br>

<p>Digital fabrication principles and practices – 1 week</p>
<p>Computer-aided design, manufacturing, and modelling – 1 week</p>
<p>Computer-controlled cutting – 1 week</p>
<p>Electronics design and production – 2 weeks</p>
<p>Computer-controlled machining – 1 week</p>
<p>Embedded programming – 1 week</p>
<p>3D molding and casting – 1 week</p>
<p>3D scanning and printing – 1 week</p>
<p>Sensors, actuators, and displays – 2 weeks</p>
<p>Interface and application programming – 1 week</p>
<p>Embedded networking and communications – 1 week</p>
<p>Machine design – 2 weeks</p>
<p>Digital fabrication applications and implications – 1 week</p>
<p>Invention, intellectual property, and business models – 1 week</p>
<p>Digital fabrication project development – 2 weeks</p><br>

-->


<!-- =============================================================================================================-->
    
    <div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>THE FABRICADEMY PROGRAM</h3>
	            
			
			</div>
		</div>
	</div>
</div>
    
	<!-- =============================================================================================================-->
	
<section id="news">
    <div class="container">
        
        <p><strong>Fabricademy</strong> starts on <strong>September 25th 2018</strong>. The first phase will run classes until December 19th, and the 2nd phase will take place from January to May.</p>

<p><strong>Fabricademy Graduation</strong> will take place in August, during the <strong>FAB15 conference, in Cairo, Egypt</strong>.</p>

<br/>
   
<p>The Program:</p>
<br/>
        <ul style="font-weight:bold;">

<p><li>State of the art, project management and documentation</li>
<li>Digital Bodies</li>
<li>Circular Open Source Fashion</li>
<li>Bio dyes & Biofabrics</li>
<li>E-textiles & Wearables </li>
<li>Computational Couture</li>
<li>Textile as Scaffold</li>
<li>Open source Hardware- from fibers to fabric</li>
<li>E-textiles & Wearables II</li>
<li>Implications and applications</li>
<li>Soft Robotics</li>
<li>Skin electronics</li>
<li>Final presentations of weekly assignments and project plan</li></p></ul>

<br/>

<p><h4>Need more information? click <strong><a target="_blank" href="http://textile-academy.org/program/">HERE</a></strong></h4> or Email us > <a href="mailto:info@fablabbcn.org"><strong>info@fablabbcn.org</strong></a></p><br>

<br/>

<p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform"><u><h3>Register HERE</u></a> </p><br>


	<!-- =============================================================================================================-->			
	<section id="latest-news-banner">
	    <div class="container">
		    
		    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDjKOh7ETMgDi0iXgchvjgM1xEhXhEnIk2jqfHJYDXG59J-A/viewform"><img src="{{site.baseurl}}/img/news_banner/banner_fabry2_.jpg" class="img-responsive"/>  </a>
		    
		</div> <!-- container --> 
    </section> <!-- section -->  
    
	<!-- =============================================================================================================-->
        
        
        
       	<!-- <p>The Fab Academy is completed by combining 19 certificates that demonstrate familiarity and experience with various topics and technologies covered. The course is organised by week:</p>
        
        <br/>
        
        <ul style="font-weight:bold;">
            <li>Week 1: Digital fabrication principles and practices</li>
            <li>Week 2: Computer-aided design, manufacturing, and modelling</li>
            <li>Week 3: Computer-controlled cutting</li>
            <li>Week 4: Electronics production</li>
            <li>Week 5: 3D scanning and printing</li>
            <li>Week 6: Electronics Design</li>
            <li>Week 7: Computer Controlled Machining</li>
            <li>Week 8: Embedded Programming</li>
            <li>Week 9: Mechanical Design</li>
            <li>Week 10: Output Devices</li>
            <li>Week 11: Machine Design</li>
            <li>Week 12: 3D Molding and Casting</li>
            <li>Week 13: Input Devices</li>
            <li>Week 14: Composites</li>
            <li>Week 15: Networking and Communications</li>
            <li>Week 16: Interface and Application Programming</li>
            <li>Week 17: Digital Fabrication Applications and Implications</li>
            <li>Week 18: Invention, Intellectual Property, and Business Models</li>
            <li>Week 19: Digital Fabrication Project Development</li>
            <li>Week 20: Project Presentation</li>
        </ul>

        <p>Check the <strong><a href="http://archive.fabacademy.org/" target="blank">Fab Academy content archive</a></strong> for more information on the evolution of the academy curriculum. See last year's <strong><a href="http://archive.fabacademy.org/archives/2017/master/schedule.html" target="blank">class schedule here</a></strong>.</p>

        <h3>Fab Diploma</h3> 

        <p style="font-size:18px;"><em>The Fab Diploma is awarded by the Fab Academy upon completion of the course requirements. This is earned by demonstrating progress rather than just finishing the course calendar. To receive the Fab Diploma, each student must demonstrate to have completed each week’s requirements, receiving their certificate for the relevant technical topics. For their final evaluation, students must build, demonstrate and document a final project that integrates the various tools and techniques covered by the course.</em></p>-->
        
        
    </div>
</section>
	        
	<!-- ==========================================================================================================-->        
	        
		
<!--<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>A UNIQUE LEARNING EXPERIENCE</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ======== A UNIQUE LEARNING EXPERIENCE ====================================================================-->

<!--	<section id="news">
		
	    <div class="container">
	        
	    <p>Fab Academy offers a unique and collaborative learning experience. The Fab Lab provides the space, inventory and machines for students to pursue their own project goals while participating in an interactive global classroom where they can share their progress, ideas, problems and solutions. Fab Academy teaches a <strong>“learning to learn”</strong> approach, where students share methods and best practices in an open-source and collaborative environment.</p> 
            
            <br/>
            
        <p>Students are supported by <strong><a href="https://fablabbcn.org/about_us.html" target="blank">local instructors</a></strong> who guide students in the various assignments and topics covered. Every week is introduced via an <strong><a href="https://vimeo.com/201139985" target="blank">interactive video stream</a></strong> guided by Neil Gershenfeld, where students share their progress, ask questions and receive feedback. The course is complimented by a series of <strong><a href="https://vimeo.com/207127508" target="blank">live recitations</a></strong> each week from experts and professionals from various fields, all who are using digital fabrication to innovate in new and exciting ways.</p>
        
            <br/>
            
        <p>The course is divided into a <strong><a href="http://archive.fabacademy.org/archives/2017/master/schedule.html" target="blank">20 week program</a></strong>, with each week or two covering a different technology and skill. There is no global accreditation for these skills. Instead, <strong>each student builds an individual web portfolio to document their progress</strong>, trials and errors; integrating what they have learnt into a final project that gets evaluated together with their overall progress in the course.</p>   
            
            <br/>
            
        <p>Check the <strong><a href="http://archive.fabacademy.org/" target="blank">Fab Academy content archive</a></strong> for more information.</p>
    
    	    </div> <!-- container -->	   
	      			   		 
<!--	</section> <!-- section -->
	
<!-- =============================================================================================================-->			
		
<!--		<section id="latest-news-banner">
	    <div class="container">
		    
		    <a target="_blank" href="https://form.jotformeu.com/71832813940356"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy4.jpg" class="img-responsive"/>  </a>
		    
		</div> <!-- container --> 
  <!--  </section> <!-- section -->  
	        
<!-- ======== [HOW] FAB ACADEMY WORKS? ====================================================================-->	                
	        

<!--<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>WHO CAN DO FAB ACADEMY?</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ======== [WHO CAN DO] FAB ACADEMY? =========================================================== [WHO CAN DO] FAB ACADEMY? ================-->

<!--	<section id="news">
		
	    <div class="container">

		    
		    <p>The Academy course is open to any type of professional, student or creative individual willing to learn. Over the years, the academy has been attended by engineers, designers, musicians, computer scientists, artists, and people from many more backgrounds. The course is unconventional in the sense that it caters to a wide diversity of interests and abilities. One does not have to have a formal background in any of the subjects covered.</p>
		    
		        <br/>
		    
		    <p style="font-size:18px;text-align:center;">The possibilities of digital fabrication are limitless, all that is required is the dedication to learn.</p>
		    
		        <br/>

            <p>Thanks to the open course orientation, each participant can create their own trajectory and learning process within the academy, as well as adapt the final project to their own needs and experience. The versatility of the program shows in the diversity of topics and projects presented annually by students.</p>
            
                <br/>
                
            <p>Find out more about some of <strong><a href="https://fablabbcn.org/news/2017/11/07/fabacademy17story.html" target="blank"> 2017 Academy student stories</a></strong> and some of the amazing projects they came up with during the Fab Academy</p>
		    
	    </div> <!-- container -->	   
	      			   		 
<!--	</section> <!-- section -->

<!--
<p>The Academy course is open to any type of professionals, students or curious individuals.</p><br>
<p>Over the years, the Academy was attended by children, engineers, designers, musicians, computer scientists and students. Thanks to the open course orientation, each participant can create within the Academy an own research path aimed at producing a final project that covers the topics discussed in the course.</p><br>
<p>The versatility of the program is in fact evidenced by the diversity of topics and proposals presented annually by students. All, as always, can be seen online.</p><br>
<p>To subscribe to the <strong><a href="http://fabacademy.org/">Fab Academy</a></strong> <a target="_blank" href="https://form.jotformeu.com/71832813940356"><u><h3>APPLY HERE</u></a> </p><br> -->

	
			<!-- =============================================================================================================-->			  
	<!-- =============================================================================================================-->	<!--		<section id="latest-news-banner">
<!--	    <div class="container">
		    
		    <a target="_blank" href="https://form.jotformeu.com/71832813940356"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy2.jpg" class="img-responsive"/>  </a>
		    
		</div> <!-- container --> 
   <!-- </section> <!-- section -->  
    
	<!--
<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>[HOW] FAB ACADEMY [WORKS]?</h3>
	            
			
			</div>
		</div>
	</div>
</div>

-->

<!--

	<section id="news">
		
	    <div class="container">

<p><strong>Each lab that participates in the Fab Academy program is part of a global Fab Lab / Fab Academy network</strong>. The local branches of the <strong><a href="http://fabacademy.org/">Fab Academy</a></strong> work with other participating Fab Labs and experts from around the wold via a distributed educational model in which we pool our knowledge to provide a unique educational experience.</p><br>
<p>We watch and participate in global lectures broadcasted from <strong><a href="http://cba.mit.edu/">MIT</a> on Wednesdays at 9:00 am – 12:00 pm EST</strong>. The lectures are recorded and available to students throughout the semester. In addition to the lectures, there are two lab days each week where students have access the digital fabrication equipment and personal help with projects.</p><br>

<p><strong><a href="http://fabacademy.org/">Fab Academy</a></strong> faculty who are leading professionals in their respective fields provide global video lectures, supervise academic content, and guide research. Hands-on instruction in the labs is provided by instructors who supervise and evaluate Certificates, develop and disseminate instructional material, and assist with projects.</p><br>

<p>For more information please check: <a target="_blank" href="http://fabacademy.org/about/diploma/">http://www.fabacademy.org/diploma</a></p><br>
		    

	    </div> 	   
	      			   		 
	</section> 
	
-->
	
	<!-- 		
	
	
	<section id="latest-news-banner">
	    <div class="container">
		    
		    <a target="_blank" href="https://form.jotformeu.com/71832813940356"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy3.jpg" class="img-responsive"/>  </a>
		    
		</div>  
    </section> 
    
    
    -->		


<!-- /////////////////////////////////////////////////////////////////////////////////////// -->	

{% include footer.html %} 