---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <h2 class="page-title">Groups</h2>                  
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

<section id="pages-social">
	<div class="container" id="pages-social-icons">
		<li>
			{% include social.html %}
		</li>
	</div>
</section>

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- =============================================================================================================-->

<section id="open-days">
	<div class="container">
		<div class="row">
			
			<div class="col-md-5">
			    <img src="{{sitebase.url}}/img/join_us/join_us_1.jpg" alt="Join us!"/>
			    <img src="{{sitebase.url}}/img/join_us/join_us_2.jpg" alt="Join us!"/>
			</div> <!-- col --> 	

			
			<div class="col-md-6 col-md-offset-1" id="learn-text">	
				<br>			
		        <h3>Pop up Fab lab</h3>
		        <br>
		        <p>Bring our mobile Fab Lab to your Event, School, Festival, etc. <a target="_blank" href="{{site.baseurl}}/popup_fab_lab.html"><strong>Pop up Fab Lab</strong></a> is a small-scale production lab, which size allows movement and transportation to any location.</p> 
		        <br>	
		        
		        <h3>Organize an activity</h3>
		        <br>
		        <p>Organize activities for your students, employees, clients, etc. and offer them our expertise on digital fabrication and innovation.</p> 
		        <br>
		        
		        <h3>Hosting</h3>
		        <br>
		        <p>IaaC, Fab Lab Barcelona or Green Fab Lab can be the place to organize an amazing event. <a target="_blank" href="mailto:info@fablabbcn.org"><strong>Contact us for more information.</strong></a></p> 
		        <br>        
			    			
			</div>   <!-- col -->			
				
		</div>  <!-- row -->	        
	</div>  <!-- container -->
</section>  <!-- open days -->

<!-- =============================================================================================================-->

{% include footer.html %} 
