---
layout: default
meta: One of the leading laboratories of the worldwide network of Fab Labs
---

<div class="container">

  <section>
    <div id="carousel-container">
      <div id="carousel-fade" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner">
          {% include carousel-slider.html %}
        </div> <!-- carousel-inner -->

        <div class="carousel-caption">
          <img id="main-logo" src="{{site.baseurl}}/img/logos/logo_fablab_bcn_medium_color.png"/>
          <br><br>
          <p>One of the leading laboratories of the worldwide network of Fab Labs</p>	
          <br>
          {% include social.html %}
        </div> <!-- carousel-caption -->

      </div> <!-- carousel-fade -->
    </div> <!-- carousel-container -->
  </section> <!-- hero -->


  <section>
    <div class="my-4">
      <a target="_blank" href="https://barcelona.makerfaire.com/contact/convocatoria-makers/">
        <img src="{{site.baseurl}}/uploads/makerfair.gif" class="img-fluid"/>
      </a>
    </div>

    <div class="my-4">
      <a target="_blank" href="https://iaac.net/educational-programmes/masters-programmes/master-in-design-for-emergent-futures-mdef/">
        <img src="{{site.baseurl}}/uploads/MDEF.gif" class="img-fluid"/>
      </a>
    </div>

    <div class="my-4">
      <a target="_blank" href="https://fablabbcn.org/fabricademy.html">
        <img src="{{site.baseurl}}/img/fabricademy/fabri19.jpg" class="img-fluid"/>
      </a>
    </div>

    <div class="my-4">
      <a target="_blank" href="http://fab.city/">
        <img src="{{site.baseurl}}/img/news_banner/banner_fab_city_m.jpg" class="img-fluid"/>
      </a>
    </div>
  </section>

  {% include eu_projects.html %}

  <section>
    <div class="my-4">
      <a target="_blank" href="https://drive.google.com/file/d/0B1vdN85eXUFEbzQzejhLRXlJZGc/view">
        <img src="{{site.baseurl}}/img/news_banner/internshipbanner.png" class="img-fluid"/>
      </a>
    </div>
  </section>

  {% include content_blocks.html %}

  <div class="container">
    <div id="separator"></div>
  </div>

  {% include collaborators.html %}

</div>

{% include footer.html %}
