---
layout: default
meta: One of the leading laboratories of the worldwide network of Fab Labs
---

<div class="container">

  <section>
    <div id="carousel-container">
      <div id="carousel-fade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-caption" style="top: 15%;">
          <div class="img-fluid mt-4" ><img id="main-logo" src="{{site.baseurl}}/img/logos/logo_fablab_bcn_medium_color.png" /></div>
          <div class="d-none d-lg-block text-white mt-4"><h4>One of the leading laboratories of the<br>worldwide network of Fab Labs</h4></div>
          <div class="d-none d-lg-block mt-4">
            {% include social.html %}
          </div>
        </div> <!-- carousel-caption -->

        <div class="carousel-inner bg-black mt-4">
          {% include carousel-slider.html %}
        </div> <!-- carousel-inner -->
      </div> <!-- carousel-fade -->
    </div> <!-- carousel-container -->
  </section> <!-- hero -->

  {% include latest_blog.html %}

  <section>

    <div class="my-4">
      <a href="{{site.baseurl}}/fabricademy">
        <img src="{{site.baseurl}}/img/fabricademy/fabricademy2020.png" class="img-fluid"/>
      </a>
    </div>

    <div class="my-4">
      <a target="_blank" href="https://iaac.net/educational-programmes/masters-programmes/master-in-design-for-emergent-futures-mdef/">
        <img src="{{site.baseurl}}/uploads/MDEF.gif" class="img-fluid"/>
      </a>
    </div>

    <div class="my-4">
      <a href="{{site.baseurl}}/fab_academy">
        <img src="{{site.baseurl}}/img/fab_academy/Fab-Academy-Barcelona-2020.jpg" class="img-fluid"/>
      </a>
    </div>

    <div class="my-4">
      <a target="_blank" href="http://fab.city/">
        <img src="{{site.baseurl}}/img/news_banner/banner_fab_city_m.jpg" class="img-fluid"/>
      </a>
    </div>
  </section>

  {% include eu_projects.html %}

  <section>
    <div class="my-4">
      <a target="_blank" href="https://drive.google.com/file/d/0B1vdN85eXUFEbzQzejhLRXlJZGc/view">
        <img src="{{site.baseurl}}/img/news_banner/internshipbanner.png" class="img-fluid"/>
      </a>
    </div>
  </section>

  {% include content_blocks.html %}

  {% include collaborators.html %}

</div>

{% include footer.html %}
