---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <a href="join_us.html"> <h2 class="page-title">Join Us</h2>  </a>                    
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

    {% include social.html %} 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- =============================================================================================================-->

<section id="join-us">
	<div class="container">
		<div class="row">
			
			<div class="col-md-5">
			    <img src="{{sitebase.url}}/img/join_us/join_us_1.jpg" alt="Join us!"/>
			    <img src="{{sitebase.url}}/img/join_us/join_us_2.jpg" alt="Join us!"/>
			</div> <!-- col --> 	
			
			<div class="col-md-7" id="join-us-text">				
	   			
				<h4>Education is one of the main activities of Fab Lab Barcelona</h4>
		
		        <p>Our Fab Lab offers an engaging learning space, with an accent on knowledge development, not only with the brain but by engaging all senses. We are home to digital fabrication machines, classrooms, event spaces, designers, makers, and inspiring projects.</p> 
		        <br>
		        <h4>How to Join</h4>
	        
			        <p>If you are an <strong>individual</strong> and want to know more or learn:</p><br>
	         		<ul>
					<li>Visit us: <a target="_blank" href="https://docs.google.com/a/iaac.net/forms/d/1MJAREBja3GWx8qnD0lgA_QXMdN3wVR_UNkfZn3Ms-sU/viewform"> Open Days at Fab Lab</a></li>
					<li>Become a guru: <a target="_blank" href="http://fablabbcn.org/fab_academy.html">Fab Academy (6 months)</a></li>
					<li>Learn: Bootcamp  (1 week)</li>
					<li>Learn more: Workshop (2 days)</li>
					<li><h3>Work with us: <a target="_blank" href="https://d1qmdf3vop2l07.cloudfront.net/moss-gazelle.cloudvent.net/raw/uploads/programa de practicas fab lab bcn_2015-16.pdf"> Internship Program</a>, fill the online form <a target="_blank" href="https://docs.google.com/a/iaac.net/forms/d/1blhPL7ObMhZx1UkZYzlkvCv2UQWYoYssskpmMqPAyfQ/viewform"> HERE</a></li><h3>
					</ul><br>
					
					<p>If you represent a <strong>group (small business, corporate organisation, school or university)</strong></p><br>
					
					<ul>
					<li>Bring our mobile Fab Lab to your Event, School, Festival, etc.</li>
					<li>Rent our space for your class or event</li>
					<li>Organize activities for your students, employees, clients, etc. and offer then our expertise on digital fabrication and innovation.</li>
					</ul>
					
					<br>
					<p><strong>Contact us:</strong> <a href="mailto:info@fablabbcn.org"><u>info@fablabbcn.org</u></a></p>
					
				</div>   <!-- col -->
			
				
			</div>  <!-- row -->
	        
	         
	</div>
</section>

<!-- =============================================================================================================-->

{% include footer.html %} 
