---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

 <!--   <section id="latest-news-banner">
	    <div class="container">
		    
		    <a href="https://form.jotformeu.com/71832813940356" target="blank"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy18.jpg" class="img-responsive"/> </a>
		    
		</div> 
    </section>  -->
   
 <!-- <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
             <a href="fab_academy.html"> <h2 class="page-title">Fab Academy</h2>  </a>    
							
	    </div> 								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> -->

<!-- ======== pages-social-icons ===========-->


    {% include social.html %} 


<!-- <div class="container" id="separator-pages-top"></div> -->

<!-- ======== Fab Academy =========== MOVED IMAGE BELOW INTO .header-pages-blog SECTION ABOVE / DEACTIVATED SECTION BELOW ============ -->

<!--
    
    <section id="latest-news-banner">
	    <div class="container">
		    
		    <a href="https://form.jotformeu.com/71832813940356" target="blank"><img src="{{site.baseurl}}/img/news_banner/banner_fabacademy18.jpg" class="img-responsive"/>  </a>
		    
		</div> 
    </section>  

</ul></ul></ul></ul>  REDUNDANT CODE? 

--> 

<div class="container">
	<div class="separator-solid"> 
		
		<div class="row">
			<div class="col-md-6">		
	
	            <h3>LEGAL NOTICE AND DISCLAIMER</h3>
	            
			
			</div>
		</div>
	</div>
</div>

<!-- ========  LEGAL NOTICE ===========================================================  ================-->

	<section id="news">
		
	    <div class="container">
	        
	        
	        
	        <p><strong>INFORMATION SOCIETY SERVICES LAW (LSSI)</strong></p>

<br/>

<p>INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA, responsible for the website, hereinafter RESPONSIBLE, makes this document available to users, which aims to comply with the obligations set out in Law 34/2002, of July 11, Services of the Information Society and Electronic Commerce (LSSICE), BOE No. 166, and inform all users of the website about the conditions of use.</p>

<br/>

<p>Any person who accesses this website assumes the role of user, committing to the observance and strict compliance with the provisions set forth herein, as well as any other legal provision that may be applicable.</p>

<br/>

<p>INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA reserves the right to modify any type of information that may appear on the website, without any obligation to notify or inform users of such obligations, understood as sufficient with the publication on the website of INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA.</p>

<br/>

<p><strong>IDENTIFICATION DATA</strong></p>

<br/>

<p>Domain name: www.fablabbcn.org<br/>
Trade name: IAAC<br/>
Company name: INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA<br/>
NIF: G63322614<br/>
Registered office: Pujades, 102 08005-BARCELONA<br/>
Telephone: 93 320 95 20<br/>
e-mail: info@iaac.net.<br/>
Spanish Register of Associations and Foundations (registration number):  1892</p>

<br/>

<p><strong>INTELLECTUAL AND INDUSTRIAL PROPERTY RIGHTS</strong></p>

<br/>

<p>The website, including but not limited to programming, editing, compilation and other elements necessary for its operation, designs, logos, text and / or graphics, are the property of the responsible or, if applicable, has been expressly licensed or authorized by the authors. All the contents of the website are duly protected by intellectual and industrial property laws and registered in the corresponding public registers.</p>

<br/>

<p>Regardless of the purpose for which they were intended, the total or partial reproduction, use, exploitation, distribution and marketing, requires in any case the prior written authorization of the responsible. Any unauthorised use is considered a serious breach of the author’s intellectual or industrial property rights.</p>

<br/>

<p>The designs, logos, text and / or graphics outside the RESPONSIBLE and that may appear on the website, belong to their respective owners, being themselves responsible for any possible controversy that may arise with respect to them. The PERSON RESPONSIBLE expressly authorises third parties to redirect directly to the specific contents of the website, and in any case to redirect to the main website of www.iaac.net.</p>

<br/>

<p>The PERSON RESPONSIBLE acknowledges in favour of their owners the corresponding intellectual and industrial property rights, and their mere mention or appearance on the website does not imply the existence of any rights or responsibility whatsoever over them, nor does it imply any endorsement, sponsorship or recommendation by the same.</p>

<br/>

<p>To make any kind of observation regarding possible breaches of intellectual or industrial property rights, as well as any of the contents of the website, you can do so via email info@iaac.net.</p>
	        
	        
 <br/><br/>
	        
        

