---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <h2 class="page-title">Machines</h2>                      
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

    {% include social.html %} 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- ======== Machines ========================================================= Machines ================== -->

<section id="machines">
	<div class="container">
		<div class="row">			

<!--------------------------------- machine list item ----------------------------->			
			
			<div class="col-md-6"><a name="multicam-2000"></a>
			<br>
				<img src="{{site.baseurl}}/img/machines/machines_1.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6">
				<h3> Multicam 2000 </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Multicam</li>
					<li><strong>Power:</strong> 400</li>
					<li><strong>Work area:</strong> 1500mm x 3000mm</li>
					<li><strong>Materials:</strong> wood (30mm), methacrylate or perspex (30mm), cardboard (40mm), paper, fabrics, non-PVC acrylics and other organic materials.</li>
					<li><strong>File type:</strong> Autocad, JPG & BMP for rastering</li>
					<li><strong>Applications:</strong> real scale project development such as furniture, structures etc.</li>
					<li><strong>About the use:</strong><a target="_blank" href="http://wiki.fablabbcn.org/Multicam_Laser_Cutter">  FabLabWiki</a></li><br><br><br>
					
				</ul>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div> 
			
<!--------------------------------- machine list item ----------------------------->			
			
			<div class="col-md-6"><a name="precix-11100"></a>
			<br>
				<img src="{{site.baseurl}}/img/machines/machines_2.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6">
				<h3> Milling machine – 3 axis Precix 11100 Series </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Precix</li>
					<li><strong>Technology:</strong> 3 axis CNC milling machine with interchangeable rotary tool</li>
					<li><strong>Power:</strong> 3hp</li>
					<li><strong>Work area:</strong> 1500mm x 3000mm x 300mm</li>
					<li><strong>Materials:</strong> Polyurethane foams, cork, wax, wood, MDF, soft materials that can be milled</li>
					<li><strong>File type:</strong> GC, CAM</li>
					<li><strong>Applications:</strong> Milling of 3-D models, full scale furniture parts, molding and casting, architectural elements, etc.</li>
					<li><strong>About the use:</strong><a target="_blank" href="http://wiki.fablabbcn.org/Precix_Milling">  FabLabWiki</a></li><br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div> 
						
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><a name="milling-shopbot"></a>
				<br>
				<img src="{{site.baseurl}}/img/machines/machines_3.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6">
				<h3> Milling machine –  3 axis ShopBot </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> ShopBot</li>
					<li><strong>Technology:</strong> Computerized numerical control (CNC) milling, 3 axis, interchangeable rotary tool</li>					
					<li><strong>Work area:</strong> 4270 x 2310 x 1730 mm</li>
					<li><strong>Materials:</strong> Polyurethane foams, cork, wax, wood, MDF, soft materials that can be milled</li>
					<li><strong>File type:</strong> GC, CAM</li>
					<li><strong>Applications:</strong> Milling of 3-D models, full scale furniture parts, molding and casting, architectural elements, etc.</li>
					<li><strong>About the use:</strong><a target="_blank" href="http://wiki.fablabbcn.org/ShopBot">  FabLabWiki</a></li><br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div> 
						
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><a name="monofab-srm-20"></a>
				<br>
				<img src="{{site.baseurl}}/img/machines/machines_14.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6"><br><br>

				<h3> Milling machine Monofab SRM 20 </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Roland Monofab SRM 20</li>					
					<li><strong>Work area:</strong> 203.2 x 152.4 x 60.5 mm</li>
					<li><strong>Materials:</strong> wood, plastics, HD foam, Wax, copper for circuits, etc.</li>					<li><strong>Applications:</strong> Jewellery, milling wax molds, copper circuits printing , scanning three-dimensional objects, etc.</li><br><br><br><br>
					
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><a name="vinil-cutter"></a>
				<br>
				<img src="{{site.baseurl}}/img/machines/machines_5.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6"><br>

				<h3> Vinyl cutter GX-24 Camm Servo </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Roland GX-24 camm-1 servo</li>
					<li><strong>Technology:</strong> Precision blades</li>					
					<li><strong>Cutting length:</strong> 25 m (max)</li>
					<li><strong>Cutting width:</strong> 50-700 mm</li>
					<li><strong>Cutting force:</strong> 30 to 250gf</li>
					<li><strong>Materials:</strong> Vinyl, Flexible Copper Paper, Cloth, plastic sheets and other materials</li>
					<li><strong>Applications:</strong> Signage, cutting flexible electronic circuits, cutting patterns, etc.</li><br><br><br>

			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><br>
				<a  name="epilog-xt-36"><img src="{{site.baseurl}}/img/machines/machines_6.jpg"/></a><br>
			</div> <!-- col -->
			
			<div class="col-md-6"><br><br>
				<h3> Laser cutter Epilog XT Legend 36 75w </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Epilog XT Legend 36</li>
					<li><strong>Power:</strong> 100w</li>					
					<li><strong>Work area:</strong> 450mm x 950mm</li>
					<li><strong>Materials:</strong> wood (5mm),  methacrylate or perspex (5mm), cardboard (8mm) , paper, fabrics, non-PVC acrylics and other organic materials.</li>
					<li><strong>File type:</strong> Autocad, JPG, and BMP  for raster.</li>
					<li><strong>Applications:</strong> Signs, cutting pieces of models, raster, cut patterns, etc.</li><br>
					<br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><br>
				<img src="{{site.baseurl}}/img/machines/machines_7.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6"><br>
				<h3> Laser cutter Trotec Speedy 100 </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Trotec Speedy 100</li>
					<li><strong>Power:</strong> 12-60 watts</li>					
					<li><strong>Work area:</strong> 610 x 305 mm</li>
					<li><strong>Materials:</strong> wood (5mm),  methacrylate or perspex (5mm), cardboard (8mm) , paper, fabrics, non-PVC acrylics and other organic materials.</li>
					<li><strong>File type:</strong> Autocad, JPG, and BMP  for raster.</li>
					<li><strong>Applications:</strong> Signs, cutting pieces of models, raster, cut patterns, etc.</li><br>
					<br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><br>
				<img src="{{site.baseurl}}/img/machines/machines_8.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6">
				<h3> Laser cutter Trotec Speedy 400 </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Trotec Speedy 400</li>
					<li><strong>Power:</strong> 40-120 watts</li>					
					<li><strong>Work area:</strong>  1000 x 610 mm</li>
					<li><strong>Materials:</strong> wood (5mm),  methacrylate or perspex (5mm), cardboard (8mm) , paper, fabrics, non-PVC acrylics and other organic materials.</li>
					<li><strong>File type:</strong> Autocad, JPG, and BMP  for raster.</li>
					<li><strong>Applications:</strong> Signs, cutting pieces of models, raster, cut patterns, etc.</li><br><br>
					<br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><br>
				<img src="{{site.baseurl}}/img/machines/machines_9.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6"><br>
				<h3> 3D printer Formlabs </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Formlabs</li>
					<li><strong>Dimensions:</strong> 125×125×165 mm</li>					
					<li><strong>Definition:</strong>  300 microns</li>
					<li><strong>Materials:</strong> liquid photopolymer resin</li>
					<li><strong>File type:</strong> STL, OBJ</li>
					<li><strong>Applications:</strong> Printing prototypes directly from 3D modeling, molding small objects, jewelry prototypes, etc.</li>
					<br><br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><br>
				<img src="{{site.baseurl}}/img/machines/machines_10.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6"><br>
				<h3> 3D printer Zcorp Z510 </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> ZCorp</li>
					<li><strong>Technology:</strong> Manufacturing system by adding layers</li>					
					<li><strong>Volume:</strong> 200mm x 250mm x 350mm</li>
					<li><strong>Materials:</strong> Special high resolution plaster , with binder</li>
					<li><strong>File type:</strong> STL, WRML, 3DS, ZPR</li>
					<li><strong>Applications:</strong> Printing prototypes directly from 3D modeling, molding small objects, jewelry prototypes, etc.</li>
					<br><br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><br>
				<img src="{{site.baseurl}}/img/machines/machines_11.jpg"/><br>
			</div> <!-- col -->
			
			<div class="col-md-6"><br>
				<h3> 3D printer MakerBot </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> MakerBot Replicator 2</li>
					<li><strong>Technology:</strong> Fused Deposition Modeling</li>					
					<li><strong>Volume:</strong> 285mm x 153mm x 155mm</li>
					<li><strong>Definition:</strong> 100 microns</li>
					<li><strong>Materials:</strong> PLA filament</li>
					<li><strong>File type:</strong> stl, obj, thing</li>
					<li><strong>Applications:</strong> Printing prototypes directly from 3D modeling, molding small objects, jewelry prototypes, etc.</li>
					<br><br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><br>
				<img src="{{site.baseurl}}/img/machines/machines_12.jpg"/><br><br><br>
			</div> <!-- col -->
			
			<div class="col-md-6"><br><br>
				<h3> Janome Digital Embroidery Machine </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Janone</li>
					<li><strong>Technology:</strong> Digital embroidery system</li>					
					<li><strong>Work area:</strong> 240mm x 200mm</li>
					<li><strong>File type:</strong> EOF ( Embird), JEF, PTN  y SEW</li>
					<li><strong>Applications:</strong> embroidery patterns on fabrics , bags , accessories, etc.</li>
					<br><br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->
			
			<div class="col-md-6"><br>
				<img src="{{site.baseurl}}/img/machines/machines_13.jpg"/><br><br><br>
			</div> <!-- col -->
			
			<div class="col-md-6"><br><br>
				<h3> 6 Axis Robotic Arm </h3>
				<br>
				<ul style="list-style: outside;">
					<li><strong>Brand:</strong> Kuka Robots</li>
					<li><strong>Model:</strong> KR 150 L110–2</li>					
										<br><br>
			</div> <!-- col -->

<!--------------------------------- machine list item ----------------------------->

<div class="container" id="separator-pages-top"></div>
			
<!--------------------------------- machine list item ----------------------------->


			
		</div> <!-- container -->
	</div> <!-- container -->
</section>  <!-- machines -->


<!-- =============================================================================================================-->


{% include footer.html %} 