---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <h2 class="page-title">Open Days</h2>                  
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

    {% include social.html %} 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- =============================================================================================================-->

<section id="open-days">
	<div class="container">
		<div class="row">
			
			<div class="col-md-5">
			    <img src="{{sitebase.url}}/img/join_us/join_us_1.jpg" alt="Join us!"/>
			    <img src="{{sitebase.url}}/img/join_us/join_us_2.jpg" alt="Join us!"/>
			</div> <!-- col --> 	
			<br>
			<br>
			<br>
			
			<div class="col-md-6 col-md-offset-1" id="open-days-text-1">				
		
		        <p>Un viernes al mes Fab Lab Barcelona abre sus puertas a la ciudad para dar conocer las posibilidades que ofrece la Fabricación Digital y el mundo de los Fab Labs.</p> 
		        <br>	        
			    <p>*Las visitas guiadas se haran en castellano.</p><br>					
			    <p><strong>Para participar en las proximas fechas, <a target="_blank" href="https://docs.google.com/a/iaac.net/forms /d/1MJAREBja3GWx8qnD0lgA_QXMdN3w VR_UNkfZn3Ms-sU/viewform">apuntate aqui!</a></strong></p>
			
			<br>

			<hr>

			<br>			
		
		        <p>One Friday a month Fab Lab Barcelona opens its doors to the city to learn about the possibilities offered by Digital Manufacturing and the world of Fab Labs.</p> 
		        <br>	        
			    <p>* Guided tours are done in Spanish.</p><br>
					
			    <p><strong>If you want to join for the upcoming dates, <a target="_blank" href="https://docs.google.com/a/iaac.net/forms /d/1MJAREBja3GWx8qnD0lgA_QXMdN3w VR_UNkfZn3Ms-sU/viewform">sign up here!</a></strong></p>
			    <br>
			</div>   <!-- col -->			
				
		</div>  <!-- row -->	        
	</div>  <!-- container -->
</section>  <!-- open days -->

<!-- =============================================================================================================-->

{% include footer.html %} 
