---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <h2 class="page-title">Fab Lab Visits</h2>                  
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

    {% include social.html %} 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- =============================================================================================================-->

<section id="open-days">
	<div class="container">
		<div class="row">
			
			<div class="col-md-5">
			    <img src="{{sitebase.url}}/img/join_us/join_us_1.jpg" alt="Join us!"/>
			    <img src="{{sitebase.url}}/img/join_us/join_us_2.jpg" alt="Join us!"/>
			</div> <!-- col --> 	
			<br>
			<br>
			<br>
			
			<div class="col-md-6 col-md-offset-1" id="open-days-text-1">				
		
		
		        <p>The last Friday of every month, Fab Lab Barcelona opens its doors for free tours under appointment, please contact us here:<a href="mailto:marco@fablabbcn.org"><strong>&nbsp; marco@fablabbcn.org</strong></a></p><br>
		        
		        <p>If you want to visit Fab Lab Barcelona another day, please check the rates:</p><br>
		        
		        <p>- Ticket: 9€;</p><br>
<p>- Students and Groups (over 15 people): 6€;</p><br>
<p>- Inhabitants Barcelona: 7€;</p><br>
		        
		        <p>To make an appointment please contact us here:<a href="mailto:visitfablab@iaac.net "><strong>&nbsp; visitfablab@iaac.net </strong></a></p><br>
		            
		         
			</div>   <!-- col -->			
				
		</div>  <!-- row -->	        
	</div>  <!-- container -->
</section>  <!-- open days -->

<!-- =============================================================================================================-->

{% include footer.html %} 
