---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <a href="popup_fab_lab.html"> <h2 class="page-title">Pop-Up Fab Lab</h2> </a>                     
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

    {% include social.html %} 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- =============================================================================================================-->
<section id="pop-up-fab-lab-content"
	<div class="container">
	
		<h3>Pop-Up Fab Lab <br>
		<small>Mobile Fab Lab on tour</small></h3>
		
		<div class="row">
			<div class="col-md-4">
				
				<img src="{{site.baseurl}}/img/pop_up_fab_lab/popup_fablab_1.jpg" alt="Pop-Up Fablab"/>
				
		    </div> <!-- col -->	
		    
		    <div class="col-md-4">
			    
				<img src="{{site.baseurl}}/img/pop_up_fab_lab/popup_fablab_2.jpg" alt="Pop-Up Fablab"/>
				
		    </div> <!-- col -->	
		    
		    <div class="col-md-4">
			    
				<img src="{{site.baseurl}}/img/pop_up_fab_lab/popup_fablab_3.jpg" alt="Pop-Up Fablab"/>
				
		    </div> <!-- col -->	
		    
		</div> <!-- row -->	
		
		
		<div class="row" id="pop_up_fab_lab_text">
			<div class="col-md-6">
			
			<p>The Pop Up Fab Lab is a mobile Fab Lab, a basic infrastructure for small-scale production which small size allows movement and transportation to any location.</p><br>
				 
			<p>The Pop Up Fab Lab concept  is to bring the Fab Lab to the public when the public cannot reach the Fab Lab. Pop up Fab Lab seeks to expand the potential of Fab Labs beyond spaces that can perceived as “for connoisseurs” and reach a wider audience. The Pop Up Fab Lab is inserted into the logic of a larger project called <strong>Fab City.</strong></p><br>
			
			<p>The Fab Lab Barcelona has long worked in the <strong>Fab City</strong> project, an ambitious bet that aims to provide tools to enable citizens to actively participate in economic, cultural and symbolic production and thus transform the public from passive consumer to active producer.</p>
				
		    </div> <!-- col -->	
			
			<div class="col-md-6">
							
			<p>Through tools and digital fabrication techniques the public can contact the objects from the beginning of their pregnancy, from idea and raw materials, and explore a wider and meaningful way than just consumption. Production, innovation, participation and action are now at your fingertips.</p><br>
			
			<p><strong>More info:</strong><a href="mailto:info@fablabbcn.com"> <u>info@fablabbcn.com</u></a></p>
			
			</div> <!-- col -->	
	
		</div>
	</div>
</section>


{% include footer.html %} 