---
layout: default
---

<header>

  {% include nav.html %} 

</header><!-- site-header -->

<section id="pages-social">
  <div class="container" id="pages-social-icons">
    <li>
      {% include social.html %}
    </li>
  </div>
</section>

<div class="container">
  <div class="separator-solid">

    <div class="row">
      <div class="col-md-6">

        <h3>PRIVACY POLICY</h3>


      </div>
    </div>
  </div>
</div>

<!-- ==== PRIVACY POLICY ==== -->

<section id="news">

  <div class="container">


    <h4>USER INFORMATION</h4>

    <p>
    <strong>INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA</strong>,
    hereinafter RESPONSIBLE, is the person responsible for the processing of the User’s personal data and informs you that these data will be processed in accordance with the provisions of Regulation (EU) 2016/679 of 27 April 2016 (GDPR) on the protection of individuals with regard to the processing of personal data and on the free movement of such data, and therefore the following information about the processing of such data is provided to you:<br/>
    Purpose of treatment: to maintain a commercial relationship with the User.
    </p>

    <br/>

    <h4>The operations planned for processing are</h4>
    <ul>
      <li>● Sending of commercial advertising communications by email, fax, SMS, MMS, social communities or any other present or future electronic or physical means that makes it possible to carry out commercial communications. These communications will be made by the RESPONSIBLE and they are related to their products and services, or their partners or suppliers with whom it has reached a promotion agreement. In this case, third parties will never have access to personal data.</li>
      <li>● Conduct statistical studies.</li>
      <li>● To process orders, requests or any type of request that is made by the user through any of the contact forms that are made available.</li>
      <li>● Submit the newsletter from the website.</li>
    </ul>

    <br/>
    <p><strong>Data retention criteria</strong>: they shall be retained as long as there is a mutual interest in maintaining the purpose of processing and when no longer necessary for that purpose, they shall be deleted with appropriate security measures to ensure the pseudonymisation or total destruction of the data.</p>
    <br/>
    <p><strong>Communication of data</strong>: The data will not be communicated to third parties, unless legally obliged to do so.</p>
    <br/>

    <h4>Rights of the User</h4>
    <ul>
      <li> ● Right to withdraw consent at any time.</li>
      <li> ● Right of access, rectification, portability and deletion of your data and the limitation or opposition to their processing.</li>
      <li> ● Right to lodge a complaint with the supervisory authority (agpd.es) if you consider that the treatment does not comply with current legislation.</li>
    </ul>

    <br/>

    <h4>Contact information to exercise your rights</h4>
    <p> Postal address: INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA FUNDACIÓ PRIVADA. PUJADES, 102 08005 BARCELONA (BARCELONA). Email: info@iaac.net.  </p>

    <p><strong>MANDATORY OR OPTIONAL NATURE OF THE INFORMATION PROVIDED BY THE USER</strong></p>
    <br/>
    <p>The Users, by means of the ticking of the corresponding boxes and the entry of data in the fields, marked with an asterisk (*) in the contact form or presented in download forms, accept expressly and in a free and unequivocal way, that their data are necessary to meet their request, by the provider, being voluntary the inclusion of data in the remaining fields. The User guarantees that the personal data provided to the PERSON RESPONSIBLE are true and is responsible for communicating any changes.</p>
    <br/>
    <p>The PERSON RESPONSIBLE informs and expressly guarantees users that their personal data will not be transferred to third parties under any circumstances, and that whenever any type of transfer of personal data is made, the express, informed and unequivocal consent of the Users will be requested in advance. All data requested through the website are mandatory, as they are necessary for the provision of an optimal service to the User. In the event that not all the data is provided, there is no guarantee that the information and services provided will be completely adjusted to their needs.</p>
    <br/>
    <p><strong>SECURITY MEASURES</strong></p>
    <br/>
    <p>That in accordance with the provisions of the current regulations on the protection of personal data, the PERSON RESPONSIBLE is complying with all the provisions of the GDPR regulations for the processing of the personal data for which he or she is responsible, and clearly with the principles described in article 5 of the GDPR, by which they are processed in a lawful, fair and transparent manner in relation to the data subject and appropriate, relevant and limited to what is necessary in relation to the purposes for which they are processed.</p>
    <br/>
    <p>The RESPONSIBLE guarantees that he/she has implemented appropriate technical and organisational policies to implement the security measures established by the GDPR in order to protect the rights and freedoms of Users and has communicated to them the appropriate information to enable them to exercise them.</p>
  </div>
</section>
