---
layout: section
meta: Shop unique products produced at Fab Lab Barcelona!
---
    
<!-- ======== Navbar ================================================================= Navbar ============== -->

<header>
	
    {% include store_nav.html %}

</header>

<!-- ======== go back ================================================================= go back ============== -->

<div class="container" id="go-back-to-fablabbcn">
	<div class="row">
		<div class="col-md-12">

			<p><a target="_blank" href="http://fablabbcn.org/" ><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> back to fablabbcn.org</a></p> 
    	
		</div> <!-- col -->
	</div> <!-- row -->
</div> <!-- container -->

<!-- ======== Product ================================================================= Product ============== -->


<section id="product-description">
	<div class="container">
		<div class="row">
			
			<div class="col-md-8">
				<div class="flexslider">
					<ul class="slides">
					    <li data-thumb="{{site.baseurl}}/img/store/taska/taska_1_thumb.jpg">
					        <img src="{{site.baseurl}}/img/store/taska/taska_1.jpg" />
					    </li>
					    <li data-thumb="{{site.baseurl}}/img/store/taska/taska_2_thumb.jpg">
					        <img src="{{site.baseurl}}/img/store/taska/taska_2.jpg" />
					    </li>
					    <li data-thumb="{{site.baseurl}}/img/store/taska/taska_3_thumb.jpg">
					        <img src="{{site.baseurl}}/img/store/taska/taska_3.jpg" />
					    </li>
					    <li data-thumb="{{site.baseurl}}/img/store/taska/taska_4_thumb.jpg">
					        <img src="{{site.baseurl}}/img/store/taska/taska_4.jpg" />
					    </li>
					</ul>
				</div>
			</div>
			
			<div class="col-md-4">
				<h2>Taska <br><small>by XXXXX XXXX</small></h2>
				<h3>€ 65</h3>
				<p>Availability: In stock</p>
				<br>
				<div class="btn-group" role="group" aria-label="...">
			    <a href="https://snipcart.com/#!/cart">
                <button type="button" class="btn btn-default">Add to cart</button>
				</a>
				<br>
				<br>				
				<hr>
				<br>
				<h4>Description:</h4>
				<p>Taska is a open source source multifinctional bag, designed to carry everything, from your laptop to your camping gear. Ad quem iisque eruditi usu, no nam adhuc luptatum sadipscing, his omnes omittantur ei. Inani disputando cum no, an iudico vocibus duo. Ei quaeque impedit tacimates cum. Nostrum constituam delicatissimi cu vix, sit voluptua appareat evertitur ea, eu has mollis tractatos. Eligendi sapientem appellantur nec cu, sea id primis volutpat elaboraret, inani laudem dolorum vim ea.</p>
				
			</div> <!-- col -->	 
			
		</div> <!-- row -->		
	</div> <!-- container -->
</section>

<!-- =============================================================================================================-->			    

<div class="container"><hr></div>
<!-- =============================================================================================================-->	

<section id="product-info">
	<div class="container" >
		
		<div class="row" id="product-info-container">
			
			<div class="col-md-6" id="product-info-col">
				<img src="{{site.baseurl}}/img/store/taska/taska_7.jpg"/>
			</div>
			<br>
			<div class="col-md-6" id="product-info-col-text">
				<h1>"Textiles and wood from all over the world take the form of Taska, embracing culture and local production"</h1>
			</div>
			<br>
			<div class="col-md-12" id="product-info-col">
				<img src="{{site.baseurl}}/img/store/taska/taska_8.jpg"/>
			</div>
			
			<div class="col-md-6" id="product-info-col-text">
				<h1>"A multifunctional bag designed to carry everything, from your laptop to all your camping gear"</h1>
			</div>
			
			<div class="col-md-6" id="product-info-col">
				<img src="{{site.baseurl}}/img/store/taska/taska_6.jpg"/>
			</div>
			
		</div>

	</div> <!-- container -->
</section> <!-- product info -->

<!-- ====================================================================================================== -->

<div class="container"><hr></div>

    {% include store_footer.html %}
