---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <h2 class="page-title">Projects</h2>                      
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

    <section id="pages-social">
	    
	    <div class="container" id="pages-social-icons">

	            <li>
					<li>
							<a target="_blank" href="https://www.facebook.com/FabLab.BCN"><i class="fa fa-facebook-square fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://twitter.com/fablabbcn"><i class="fa fa-twitter fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://vimeo.com/fablabbcn"><i class="fa fa-vimeo fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://picasaweb.google.com/103318428572698589743"><i class="fa fa-camera fa"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://instagram.com/fablabbcn/"><i class="fa fa-instagram fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="http://wiki.fablabbcn.org/Main_Page"><i class="fa fa-globe fa"></i></a>
						</li>
				</li>
	    </div>
	    				
    </section>


<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>  
<br> 

<!-- ======== Project showcase ========================================================== Project showcase  ================= --> 
 
    <section id="project-showcase"> 
	    <div class="container">
	        <div class="row">
		  
<!-- Project item ---------------------------------------->	
	  
	            <div class="col-md-4 project-item">
	                
	                <a href="project_post.html"><img class="img-responsive" src="{{site.baseurl}}/img/projects/projects_fab_house.jpg" alt=""></a>
	                <h3><a href="project_post.html">Fab Lab House</a></h3>  
	                <p>The Fab Lab House Project lead by the Institute for Advanced Architecture of Catalonia, the Center for Bit and Atoms of the MIT and a world wide network of fab labs have been chosen as one of participants in Solar Decathlon Europe competition, which took place in Madrid in June 2010.</p>
	                
	            </div> <!-- col-->
	            
<!-- Project item ---------------------------------------->	
	            
	            <div class="col-md-4 project-item">
	                
	                <a href="project_post.html"><img class="img-responsive" src="{{site.baseurl}}/img/projects/projects_beehive.jpg" alt=""></a>
	                <h3><a href="project_post.html">Open Source Beehives</a></h3>  
	                <p>The Open Source Beehives project is a network of citizen scientists tracking bee decline. We use sensor enhanced beehives and data science to study honeybee colonies throughout the world. All of our technology and methods, from the hive and sensor kit designs to the data, are documented and made openly available for anyone to use.</p>
	                
	            </div> <!-- col-->
	            
<!-- Project item ---------------------------------------->	            

	            <div class="col-md-4 project-item">
	                
	                <a href="project_post.html"><img class="img-responsive" src="{{site.baseurl}}/img/projects/projects_valldaura.jpg" alt=""></a>
	                <h3><a href="project_post.html">Valldaura Labs</a></h3>  
	                <p>The  is a research center for self-sufficient habitats, located on an historic 130 hectare farm in the 20 minutes from downtown Barcelona.  Valldaura Labs is a testing ground allowing to learn directly from nature in order to apply this understanding to the regeneration of XXIst century cities.</p>
	                
	            </div> <!-- col-->
	            
<!-- row ---------------------------------------->
	        
	        </div> <!-- row -->
	
	        <div class="row">
	            
<!-- Project item ---------------------------------------->	            

	            <div class="col-md-4 project-item">
	                
	                <a href="project_post.html"><img class="img-responsive" src="{{site.baseurl}}/img/projects/projects_fab_condenser.jpg" alt=""></a>
	                <h3><a href="project_post.html">Fab Condenser</a></h3>  
	                <p>Pavilion for the FAB10 Symposium. Barcelona, July 2nd to 8th, 2014. Initial design by Margen-Lab, produced by IAAC and collaborative designed, build, and customized by the FabLab Network.</p>
	                
	            </div> <!-- col-->
	            
<!-- Project item ---------------------------------------->

	            <div class="col-md-4 project-item">
	                
	                <a href="project_post.html"><img class="img-responsive" src="{{site.baseurl}}/img/projects/projects_hyperhabitat.jpg" alt=""></a>
	                <h3><a href="project_post.html">IoT - HyperHabitat</a></h3>  
	                <p>Hyperhabitat is a research project that explores the potential of information technology to reorganize the habitability of the world.

From a single small object to the planet itself.

Hyperhabitat, reprogramming the world is the biggest Internet Zero network ever built.
</p>
	                
	            </div> <!-- col-->
	            
<!-- Project item ---------------------------------------->	            

	            <div class="col-md-4 project-item">
	                
	                <a href="project_post.html"><img class="img-responsive" src="{{site.baseurl}}/img/projects/projects_smart_citizen.jpg" alt=""></a>
	                <h3><a href="project_post.html">Smart Citizen</a></h3>  
	                <p>Smart Citizen is a platform, founded by Tomas Diez – IaaC | Fab Lab Barcelona – and Alex Posada – MID, Hangar – for the generation of social participatory processes in urban areas. Connecting data, people and knowledge, the objective of the platform is to serve as a node for building productive and open indicators, and distributed tools, bringing thereafter to the collective construction of the city for and by its own inhabitants.
		            <br>
		            The project is in constant expansion with more than 1000 kits in the world. Check the project live on smartcitizen.me
</p>
	                
	            </div> <!-- col-->
	            
<!-- row ---------------------------------------->
	
	        </div> <!-- row -->
	        
	        <div class="row">
		        
<!-- Project item ---------------------------------------->	            

	            <div class="col-md-4 project-item">
	                
	                <a href="project_post.html"><img class="img-responsive" src="{{site.baseurl}}/img/projects/projects_ft_dresselate.jpg" alt=""></a>
	                <h3><a href="project_post.html">Fab Textiles - Dresselate</a></h3>  
	                <p>Dressellate explores folding techniques by transforming a 2D pattern and a piece of fabric, into a 3D volume. The prototype, made from thin plastic sheets is a study of the volumetry of the body. The final piece is a double sided organic fabric covered with a natural resin that provides rigidness.</p>
	                
	            </div> <!-- col-->
	            
<!-- Project item ---------------------------------------->

	            <div class="col-md-4 project-item">
	                
	                <a href="project_post.html"><img class="img-responsive" src="{{site.baseurl}}/img/projects/projects_ft_hemp_fiber.jpg" alt=""></a>
	                <h3><a href="project_post.html">Fab Textiles - Hemp Fibre Fashion</a></h3>  
	                <p>The Barcelona Fab textiles based in the Stigmergic Fibers (A new approach to material behaviour) designed by Jean Akanish, Jin Shihui, Alexander Dolan and Ali Yerdel in the Master for Advanced Architecture (IAAC 2012-2013_Digital Tectonics – Fabrication Ecologies) is working in a new technology for fashion design related with natural hemp fibers.</p>
	                
	            </div> <!-- col-->
	            
<!-- Project item ---------------------------------------->	            

	            <div class="col-md-4 project-item">
	                
	                <a href="project_post.html"><img class="img-responsive" src="{{site.baseurl}}/img/projects/projects_ft_seamless.jpg" alt=""></a>
	                <h3><a href="project_post.html">Fab Textiles - Seamless</a></h3>  
	                <p>Using digital computing and fabrication methods we are able to rapidly prototype and assemble new designs. You can use any 2D or 3D software to create patterns ready for cutting. The machines allow a us a wide range of possibilities, so try to take advantage of the accuracy, precision, and repetitions these machines can achieve. <br>If you don’t have them, these tools can be found at your local Fab Lab, tech shop, or digital fabrication laboratory (if you don’t have them at home, and aside from the laser cutter, you probably will) book a time slot for fabrication with your local fablab or tech shop.</p>
	                
	            </div> <!-- col-->
	            
<!-- row ---------------------------------------->
	
	        </div> <!-- row -->
<hr>
	
<!-- Pagination --------------------------------->

	        <div class="row text-center">
	            <div class="col-lg-12">
		            		            
	                <ul class="pagination">
	                    <li><a href="#">&laquo;</a></li>
	                    <li class="active"><a href="#">1</a></li>
	                    <li><a href="#">2</a></li>
	                    <li><a href="#">3</a></li>
	                    <li><a href="#">4</a></li>
	                    <li><a href="#">5</a></li>
	                    <li><a href="#">&raquo;</a></li>
	                </ul> <!-- pagination -->
	                	                
	            </div> <!-- col -->
	        </div> <!-- row -->
	        
	        
	    </div>  <!-- containter -->   
    </section> <!-- project-showcase -->
    
<!-- =============================================================================================================-->


{% include footer.html %} 