---
layout: default_store
meta: Shop unique products produced at Fab Lab Barcelona!
---
    
<!-- ======== Navbar ================================================================= Navbar ============== -->

<header>
	
    {% include store_nav.html %}

</header>

<!-- ======== go back ================================================================= go back ============== -->

<div class="container" id="go-back-to-fablabbcn">
	<div class="row">
		<div class="col-md-12">

			<p><a target="_blank" href="http://fablabbcn.org/" ><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> back to fablabbcn.org</a></p> 
    	
		</div> <!-- col -->
	</div> <!-- row -->
</div> <!-- container -->

<!-- ======== Shop featured ================================================================= shop featured ============== -->

<section id="store-featured">	
	<div class="container">
	    <div class="row">
		    		    
		    <div class="col-md-4">
			    
					<div class="button-fade">
						<a href="{{site.baseurl}}/product.html">
						<img src="img/store/store_featured/taska.jpg"/>
						<div class="mask">	
							
							<div id="mask-text">					
							<h1>Taska</h1>
						    <p>One backpack for all your needs</p>						    
						    <h3>65€</h3>
							</div>
						
						</div> <!-- mask -->
					    </a>
					</div> <!-- button fade -->
				</a> <!-- featured button -->
		    </div> <!-- col -->
		    
		    <div class="col-md-8">
			    
			    <a href="#"><img src="img/store/store_featured/L1-2.jpg"/></a>
		    </div>
		    
		    
	    </div> <!--row-------------------------->	
	    
	    <div class="row">
		    
		    
		    <div class="col-md-6">
			    			    
			    <a href="#"><img src="img/store/store_featured/store_feature_6.png"/></a>
		    </div>
		    
		    <div class="col-md-3">
			    <a href="#"><img src="img/store/store_featured/s1.jpg"/></a>
		    </div>
		    
		    <div class="col-md-3">
			    <a href="#"><img src="img/store/store_featured/s2.jpg"/></a>
		    </div>
		    
		    
	    </div> <!--row-------------------------->
	    
	    <div class="row">
		    
		    
		    <div class="col-md-4">
			    <a href="#"><img src="img/store/store_featured/store_feature_4.png"/></a>
		    </div>
		    
		    <div class="col-md-4">
			    <a href="#"><img src="img/store/store_featured/L3-2.jpg"/></a>
		    </div>
		        
		    <div class="col-md-4">
			    <a href="#"><img src="img/store/store_featured/store_feature_3.png"/></a>
		    </div>
		    
		    
	    </div> <!--row-------------------------->
	    
	    <div class="row">
		    		   
		    
		    <div class="col-md-3">
			    <a href="#"><img src="img/store/store_featured/s2.jpg"/></a>
		    </div>
		    
		    <div class="col-md-6">
			    <a href="#"><img src="img/store/store_featured/store_feature_5.png"/></a>
		    </div>
		    
		     <div class="col-md-3">
			    <a href="#"><img src="img/store/store_featured/s1.jpg"/></a>
		    </div>
		    
		    
	    </div> <!--row-------------------------->
	         	    
	</div> <!--container-->	
</section> <!--shop featured-->	

<!-- ====================================================================================================== -->

<div class="container"><hr></div>


    {% include store_footer.html %}
   
   


