---
title: Tags
permalink: "/tags/"
layout: default
---

<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h1>Tags</h1>
      <div id="archives">
        {% for category in site.categories %}
        <div class="archive-group">
          {% capture category_name %}{{ category | first  }}{% endcapture %}
          <div id="{{ category_name | slugize  }}"></div>
          <p></p>

          <h3 class="category-head">{{ category_name  }}</h3>
          <a name="{{ category_name | slugize  }}"></a>
          {% for post in site.categories[category_name] %}
          <article class="archive-item">
            <h4><a href="{{ site.baseurl  }}{{ post.url  }}">{{post.title}}</a></h4>
          </article>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-fixed">
        {% include blog_sidebar.html %}
      </div>
    </div>

  </div>
</div>
