---
layout: default
---

<header>
	
	{% include nav.html %} 	
	
</header><!-- site-header -->

<!-- ======== Hero ==================================================================== Hero ============-->

    <section id="header-pages-blog">
	    <div class="container" id="header-pages-blog-title">
            
            <h2 class="page-title">Work With Us</h2>                  
							
	    </div> <!-- container -->								        	        	                  	      	                     	            	            		                  			   		   	  		                                                                                          
    </section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

    {% include social.html %} 

<!-- =============================================================================================================-->
    
<div class="container" id="separator-pages-top"></div>   

<!-- =============================================================================================================-->

<section id="open-days">
	<div class="container">
		<div class="row">
			
			<div class="col-md-5">
			    <img src="{{sitebase.url}}/img/join_us/join_us_1.jpg" alt="Join us!"/>
			    <img src="{{sitebase.url}}/img/join_us/join_us_2.jpg" alt="Join us!"/>
			</div> <!-- col --> 	
			<br>
			<br>
			<br>
			<br>
			<br>
			
			<div class="col-md-6 col-md-offset-1" id="learn-text">				
		        <h3>Internship program</h3>
		        <br>
		        <p>Fab Lab Barcelona ofrece Prácticas Laborales no remuneradas para jóvenes, estudiantes y profesionales dispuestos a colaborar con las actividades de Fab Lab.</p> 
		        <br>	        
			    <p><strong>Mas Informacion <a target="_blank" href="https://d1qmdf3vop2l07.cloudfront.net/moss- gazelle.cloudvent.net/raw/uploads/programa de practicas fab lab bcn_2015-16.pdf">aquí</a> / More information <a target="_blank" href="https://d1qmdf3vop2l07.cloudfront.net/moss- gazelle.cloudvent.net/raw/uploads/programa de practicas fab lab bcn_2015-16.pdf">here</a></strong></p>
			    <br>
			    <p><strong>Inscribete <a target="_blank" href="https://docs.google.com/a/iaac.net/forms/d/1blhPL7 ObMhZx1UkZYzlkvCv2UQWYoYssskpmMqPAyfQ /viewf orm">aquí</a> / Apply <a target="_blank" href="https://docs.google.com/a/iaac.net/forms/d/1blhPL7 ObMhZx1UkZYzlkvCv2UQWYoYssskpmMqPAyfQ /viewf orm">here</a></strong></p>
			    <br>					
			
			</div>   <!-- col -->			
				
		</div>  <!-- row -->	        
	</div>  <!-- container -->
</section>  <!-- open days -->

<!-- =============================================================================================================-->

{% include footer.html %} 
