---
layout: default
---

<header>

  {% include nav.html %}

</header>

<section id="header-pages-blog">
  <div class="container" id="header-pages-blog-title">

    <h2 class="page-title">Work With Us</h2>

  </div>
</section> <!-- hero -->

<section id="pages-social">
  <div class="container" id="pages-social-icons">
    <li>
      {% include social.html %}
    </li>
  </div>
</section>

<div class="container" id="separator-pages-top"></div>

<section id="open-days">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <img src="{{sitebase.url}}/img/join_us/join_us_1.jpg" alt="Join us!"/>
        <img src="{{sitebase.url}}/img/join_us/join_us_2.jpg" alt="Join us!"/>
      </div> <!-- col -->
      <br>

      <div class="col-md-6 col-md-offset-1" id="learn-text">
        <h3>Internship program</h3>
        <br>
        <p>Fab Lab Barcelona ofrece Prácticas Laborales no remuneradas para jóvenes, estudiantes y profesionales dispuestos a colaborar con las actividades de Fab Lab.</p> 
        <br>
        <p><strong>Mas Informacion <a target="_blank" href="https://moss-gazelle.cloudvent.net/uploads/INTERNSHIP PROGRAM.pdf">aquí</a></strong></p>
        <br />
        <p><strong>More information <a target="_blank" href="https://drive.google.com/file/d/1GkjMOr4TMiVh2l2u64cIO7GbXSSIR_ms/view?usp=sharing">here (Google Drive PDF)</a></strong></p>

        <br />
        For more information contact <a href="mailto:info@fablabbcn.org">info@fablabbcn.org</a>
      </div>

    </div>  <!-- row -->
  </div>  <!-- container -->
</section>


{% include footer.html %}
