<!-- Blog Sidebar Widgets Column -->
<div class="">
  <h4>Search</h4>

  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
    </input>
  </div><!-- input-group -->

</div>


<div class="mt-4">
  <h4>Categories</h4>
  <div class="row">
    {% for c in site.categories %}
    <div class="col-lg-6">
      <ul class="list-unstyled">
        <li><a href="/tags#{{c | first}}">{{ c | first }}</a>
        </li>
      </ul>
    </div>
    {% endfor %}
  </div> <!-- row -->
</div>
