<!-- If you need to add or remove a collaborator, it is done in this repos _data/collaborators.yml file! -->
<section id="collaborations">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-2" id="collaborations-text">
                <h2>Collaborators</h2>
                <br>
            </div> <!-- col -->

            <div class="col-md-1 col-sm-1 col-xs-1"></div>

            <div class="col-md-7 col-sm-9 col-xs-12">

                <div class="row">
                    {% for item in site.data.collaborators %}
                    {% if item.place == "above" %}
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <a target="_blank" href={{item.url}}><img src="{{site.baseurl}}{{item.logo}}"/></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div> <!-- row -->

                <hr>

                <div class="row">
                    {% for item in site.data.collaborators %}
                    {% if item.place == "below" %}
                    <div class="col-md-2 col-sm-2 col-xs-6" >
                        <a target="_blank" href={{item.url}}><img src="{{site.baseurl}}{{item.logo}}"/></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- container-->
</section> <!-- section-->