<!-- ===== EU Projects ============================================================== -->

<section class="row text-center">

  {% for post in site.posts limit: 500 %}
  {% if post.type == 'project' and post.subtype == 'eufeatured' %}  

  <div class="col-md-3 col-sm-4 mb-4">
    <a href="{{site.baseurl}}{{post.url}}">
      <img src="{{site.baseurl}}/img/projects/{{post.squareimg}}" class="img-fluid"/>
      <h2 class="">{{post.title}}</h2>
    </a> 
    <div class="ribbon"><span>{{post.ribbon}}</span></div>
  </div>	

  {% endif %}
  {% endfor %}
</section>

<section class="row text-center">
  {% for post in site.posts limit: 500 %}
  {% if post.type == 'project' and post.subtype == 'eu' %}  

  <div class="col-md-3 col-sm-4 mb-3">
    <a href="{{site.baseurl}}{{post.url}}">
      <img src="{{site.baseurl}}/img/projects/{{post.squareimg}}" class="img-fluid"/>
      <h2 class="">{{post.title}}</h2>
    </a> 
    <div class="ribbon"><span>{{post.ribbon}}</span></div>
  </div>	

  {% endif %}
  {% endfor %}
</section>
