<section id="news">
	    <div class="container" id="latest-news">
            <!-- <br><br>
		    <h2>Latest News</h2>-->	    		     
		        <div class="row">			    
			       		{% for latest_news in site.categories.blog_posts %}    			    
			        <div class="col-md-3 col-sm-3">				       		

					    <img src="{{site.baseurl}}/img/blog/{{.image}}latest_news_1.jpg" id="latest-news-picture"/>
					    <br>						    
					    <a href=""><h3>{{news.title}}</h3></a> 
					    <br>
					    <p>{{news.meta}}</p> <br> <a href="blog_post.html" >
						
						<strong>read more</strong> &rarr;</a><br><br>   
					    
			        </div> <!-- col -->	
			        
			        {% endfor %}
		         			        				    
						       		    			    
			       <!-- <div class="col-md-3 col-sm-3">
				    
				        <img src="img/latest_news_2.jpg" id="latest-news-picture"/>
				        <br>
				        <a href="blog_post.html"><h3>Modular Showcase System</h3></a>
				        <br>
				        <p>Beyond Building Barcelona 2015 was the largest reunion of the construction sector and associated industries in Spain, Southern Europe, Northern Africa, and Latin America.
The Pavilion of Innovation 2015 in Beyond Building Barcelona, curated by IaaC | Fab Lab Barcelona, presents new ideas and construction paradigms emerging from international excellence in research and pilot projects, forming the basis of future buildings and cities.</p> <br> <a href="blog_post.html" ><strong>read more</strong> &rarr;</a><br><br>   
				    
				    </div> <!-- col -->
					     					   					        

			       <!-- <div class="col-md-3 col-sm-3">
				    
				        <img src="img/latest_news_3.jpg" id="latest-news-picture"/>
				        <br>
				        <a href="blog_post.html"><h3>Digital Fashion and Wearables Exhibition</h3></a>
				        <br>
				        <p>Fab11_Boston invites you to submit your proposal for the Digital Fashion and Wearables Exhibition that will take place during the Fab Festival, from August 8 and 9 in the cities of Boston, Cambridge and Somerville.</p> <br> <a href="blog_post.html" ><strong>read more</strong> &rarr;</a><br><br>

				    </div> <!-- col -->	
				    
				   <!-- <div class="col-md-3 col-sm-3">
				    
				        <img src="img/latest_news_4.jpg" id="latest-news-picture"/>
				        <br>
				        <a href="blog_post.html"><h3>Fab Academy Barcelona rocks (Session 2)</h3></a>
				        <br>
				        <p>Last week Fab Academy 2015 students presented their last awesome projects!</p><br>
                        <p>Check what’s been cooking at Fab Lab Barcelona’s kitchen and check what Green Fab Lab students achieved!!</p><br>
				        <p>Great job guys!!</p><br> 
				        <p>See you all at FAB11</p><br> 
				        
				        <a href="blog_post.html" ><strong>read more</strong> &rarr;</a><br><br>

				    </div> <!-- col -->			   

			      
			        					   					    			   
			    </div> <!-- row --> 
			    
			    <a href="blog.html" class="btn btn-default btn-lg btn-block">Read more here...</a>
			    			
	    </div> <!-- container -->    
	</section> <!-- section -->