<div class="navbar-wrapper">
		<div class="message-fixed-top"><p><i class="fa fa-exclamation-triangle"></i> Hello, we are on beta. New site coming soon!</p></div>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="{{site.baseurl}}/img/logos/logo_fablab_bcn_small.png" alt="Fab Lab"></a>
				</div> <!-- navbar-header -->
					
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{site.baseurl}}/index.html">Home</a></li>
							<li class="{% if page.url == '/about_us.html' %}active{% endif %}"><a href="{{site.baseurl}}/about_us.html">About Us</a></li>
        
							<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">What We Do <span class="caret"></span></a>
						          <ul class="dropdown-menu">
						            <li class="{% if page.url == '/workshops.html' %}active{% endif %}"><a href="{{site.baseurl}}/workshops.html">Workshops</a></li>
						            <li class="{% if page.url == '/projects.html' %}active{% endif %}"><a href="{{site.baseurl}}/projects.html">Projects</a></li>
						            <li class="{% if page.url == '/machines.html' %}active{% endif %}"><a href="{{site.baseurl}}/machines.html">Machines</a></li>
						            <li class="{% if page.url == '/fab_academy.html' %}active{% endif %}"><a href="{{site.baseurl}}/fab_academy.html">Fab Academy</a></li>
						            <li class="{% if page.url == '/fab_academy.html' %}active{% endif %}"><a target="_blank" href="http://bio.academany.org/">HTGAA</a></li>
						            <li class="{% if page.url == '/fab_academy.html' %}active{% endif %}"><a target="_blank" href="http://iaac.net/educational-programs/master-in-advanced-architecture/about/">Master in Advanced Architecture</a></li>
						            <li class="{% if page.url == '/fab_academy.html' %}active{% endif %}"><a target="_blank" href="http://iaac.net/educational-programs/master-in-city-technology/about/">Master in City and Technology</a></li>
						            <li class="{% if page.url == '/fab_pro.html' %}active{% endif %}"><a href="{{site.baseurl}}/fab_pro.html">Fab Pro</a></li>
						            <li class="{% if page.url == '/fab_kids.html' %}active{% endif %}"><a href="{{site.baseurl}}/fab_kids.html">Fab Kids</a></li>
						            <li class="{% if page.url == '/popup_fab_lab.html' %}active{% endif %}"><a href="{{site.baseurl}}/popup_fab_lab.html">Pop Up Fab Lab</a></li>
						            <li class="{% if page.url == '/open_days.html' %}active{% endif %}"><a target="_blank" href="https://docs.google.com/a/iaac.net/forms/d/1MJAREBja3GWx8qnD0lgA_QXMdN3wVR_UNkfZn3Ms-sU/viewform">Open Days</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a target="_blank" href="http://fabacademybcn.simplybook.me/sheduler/manage">IAAC Student Booking</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a target="_blank" href="https://www.fablabs.io/map">Fab Labs Around</a></li>
						          </ul>
						        </li>
							
							<li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="{{site.baseurl}}/blog.html">Blog</a></li>
							<li class="{% if page.url == '/join_us.html' %}active{% endif %}"><a href="{{site.baseurl}}/join_us.html">Join Us</a></li>
							<li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="{{site.baseurl}}/contact.html">Contact</a></li>
						</ul><!-- nav navbar-nav navbar-right -->
					</div><!-- navbar-collapse collapse -->
					
			</div><!-- container -->
		</div><!-- navbar navbar-inverse navbar-fixed-top-->
    </div><!-- navbar-wrapper -->