---
layout: news
---    
    
    {{% for news in site.categories.blog_post %}}
<div class="row">
    <div class="col-md-3 col-sm-3">				       		

                    
	    <img src="{{site.baseurl}}/img/blog/{{blog_post.image}}" id="latest-news-picture"/>
	    <br>						    
	    <a href=""><h3>{{blog_post.title}}</h3></a> 
	    <br>
	    <p>{{blog_post.meta}}</p> <br> <a href="blog_post.html" >
		
		{{% endfor %}}
		
		<strong>read more</strong> &rarr;</a><br><br>   
	
					    					    
	 </div> <!-- col -->		      
			        					   					    			   
 </div> <!-- row -->