<ul class="list-inline text-white" style="font-size: 2em">
  <li class="list-inline-item"><a class="text-white" target="_blank" href="https://twitter.com/fablabbcn"><i class="fa fa-twitter fa"></i></a></li>
  <li class="list-inline-item"><a class="text-white" target="_blank" href="https://vimeo.com/fablabbcn"><i class="fa fa-vimeo fa"></i></a></li>
  <li class="list-inline-item"><a class="text-white" target="_blank" href="https://www.facebook.com/FabLab.BCN"><i class="fa fa-facebook-square fa"></i></a></li>
  <li class="list-inline-item"><a class="text-white" target="_blank" href="https://www.flickr.com/people/fablabbcn/"><i class="fa fa-flickr fa"></i></a></li>
  <li class="list-inline-item"><a class="text-white" target="_blank" href="https://instagram.com/fablabbcn/"><i class="fa fa-instagram fa"></i></a></li>
  <li class="list-inline-item"><a class="text-white" target="_blank" href="http://wiki.fablabbcn.org/Main_Page"><i class="fa fa-book  fa"></i></a></li>
  <li class="list-inline-item"><a class="text-white" target="_blank" href="https://github.com/fablabbcn"><i class="fa fa-github fa"></i></a></li>
</ul>
