<section id="pages-social">
	    
	    <div class="container" id="pages-social-icons">

	            <li>
					<li>
							<a target="_blank" href="https://www.facebook.com/FabLab.BCN"><i class="fa fa-facebook-square fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://twitter.com/fablabbcn"><i class="fa fa-twitter fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://vimeo.com/fablabbcn"><i class="fa fa-vimeo fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://picasaweb.google.com/103318428572698589743"><i class="fa fa-camera fa"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://instagram.com/fablabbcn/"><i class="fa fa-instagram fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="http://wiki.fablabbcn.org/Main_Page"><i class="fa fa-globe fa"></i></a>
						</li>
				</li>
	    </div>
	    				
    </section>
