   <section id="footer">
	   <div class="container">	
		   
		   <div class="row">
		        <div class="col-md-4">
			        <p></p>
			        <p><strong>Fab Lab Barcelona Store</strong></p>
			        <p><a target="_blank" href="https://www.google.com/maps/place/Carrer+de+Pujades,+102,+08005+Barcelona,+Spain/@41.404561,2.198381,6801m/data=!3m1!1e3!4m2!3m1!1s0x12a4a31760f562b9:0xc0677813fce3e9fb!6m1!1e1?hl=en"><strong>C/Pujades 102 baixos, Poble Nou, Barcelona 08005 Spain</strong></a></p>
		            <p><a href="mailto:store@fablabbcn.org">store@fablabbcn.org</a></p>
		            <p>Tel: (+34) 933 209 520</p>
		       </div> <!--col-->
		       
		       <div class="col-md-8 text-right">
			        <p>Designed & Developed by<a target="_blank" href="http://edgaar.net">&nbsp;&nbsp;<strong>edgaar</strong></a>
		       </div> <!--col-->
		       
		   </div> <!--row--> 	  
        
        </div> <!--container-->	   
   </section> <!--footer-->