/* COLOR REFERENCE

BlueGreen:		#29dcd9

*/

/* ==== GENERAL ===============================================================  GENERAL =================== */ 

body {
	padding-top: 91px;
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 13px;
	color: #3d3d3d;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

/* ==== GLOBAL ================================================================  GLOBAL =================== */ 

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}



a:link  {
	color: #333;
}



a:visited{
	color: #29dcd9;
}

a:hover {
	text-decoration: none;
	color: #29dcd9;
}

img {
	max-width: 100%;
}

.container-fluid {
	padding: 0;
	z-index: 1;
}


.container{
	padding: 0 30px 0 30px;
}


ul {
   list-style: none;
}

ol {
	list-style: none;
}

/* ==== LAYOUT IDs =============================================================  LAYOUT IDs =============== */ 


/* ======= hero ===================== */

#hero {
	padding-top 30px;
	padding-bottom: 23px;
}


/* ======= about/social ============= */

#about {
	border-top: 1px solid rgba(0, 0, 0, 0.87);
	border-bottom: 1px solid rgba(0, 0, 0, 0.87);	
	color: #494949;
	margin-bottom: 30px;
}

#social_icons {
	padding: 20px 0 20px 0;
	list-style: none;
}

#page-title-text {
	padding-top: 19px;
}


/* ======= content ================== */

.page-content {
	padding: 30px 0 0 0;
}

.features {
	background: white;
	padding:0;
	border: 0;
}

.features-content {
	padding-bottom: 23px;
}


/* ======= newsletter signup ======== */

#optin {
	background-image: url('../img/newsletter_banner.jpg');
	min-height: 140px;
	margin-top: 30px;
}

#subscribe {
	font-size: 1.5em;
	font-weight: bold;
	text-align: right;
	color: #ffffff;
	padding-top: 55px;
}

.form-inline {
	padding-top: 55px;
}

.form-inline .form-control {
    display: inline-block;
    width: 250px;
    vertical-align: middle;
    border: none;
    border-radius: 0;
}

.btn {
	margin-left: 30px;
	border-radius: 5px;
}


/* ======= partners ================ */

#partners {
    margin-top: 30px;
	background: rgba(0, 0, 0, 0.87);
}

#partners-content{
	padding-top: 45px;
	padding-bottom: 60px;
}

#partners-text {
	padding-left: 23px;
	padding-top: 29px;
}

#partners-logos{
	padding-top: 30px;
	
}

.partners-icons {
	padding: 23px 0 23px 0;	
}

/* ======= footer ================== */

#footer {
	background: white;
}

#visit-us {
	padding-top: 40px;
	padding-bottom: 40px;

}

#about-us-footer {
	padding-top: 74px;
    padding-bottom: 40px;

}

#copy-footer {
	padding-top: 65px;
	padding-bottom: 40px;
 }
 
#fablab-global {
	padding: 0px;
}

#copy-edgaar {
	padding-top: 105px;
	padding-bottom: 40px;

}

/* === CUSTOM ICON SPRITES === */

/* ==== BLOG ==== */


/* ==== GENERAL LINK STYLES  ==================================================== GENERAL LINK STYLES  ===== */ 

/* ==== HEADER ================================================================= HEADER ==================== */ 

/* ==== NAVIGATION =============================================================  NAVIGATION =============== */ 

.navbar{
	border-radius: 0;

}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.87);
    border-top: 1px solid #0e0e0e ;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}
.navbar-fixed-top {
    top: 20px;
    border-width: 0px 0px 0px;
}

.navbar-brand > img {
	height: 25px;
}

.navbar-nav > li > a {
    margin: 18px 0 0px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color:  #d630cb;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #29DCD9;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #29DCD9;
  background-color: transparent;
}

/* ==== collapsed ===== */

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 5px;
}

.navbar-inverse .navbar-toggle {
    border-color: rgba(0, 0, 0, 0.87);    
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0.87);


/* ==== HERO =============================================================  HERO =============== */ 


.col-xs-12 col-md-8{
	margin: 20px 0 20px 0;
}

.col-xs-6 col-md-4{
    margin: 20px 0 20px 0;
}

/* ==== SUBSCRIBE  ============================================================== SUBSCRIBE  =============== */

/* ==== PARTNERS  =============================================================== PARTNERS  ================ */

/* ==== FOOTER  ================================================================= FOOTER  ================== */

/* ==== LAYOUT ==== */

/* ======================================================== */

.feature-image {	
	display: table;
	width: 100%;
}

.feature-image-default {
	background: url('../img/stuff-feature.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-alt {
	background: url('../img/hipster-stuff.jpg') no-repeat;
	background-size: cover;
}

.feature-image h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

/* ======================================================== */





/* === COMMENTS === */

/* === RESOURCES === */

/* === WIDGETS === */

/* ==== MEDIA QUERIES ==== */

@media screen and (max-width : 991px){
	
#visit-us {
	padding-top: 0;

}

#about-us-footer {
	padding-top: 10px;

}

#copy-footer {
	padding-top: 10px;
 }

#copy-edgaar {
	padding-top: 20px;

}
	
	
	
	
}



@media screen and (max-width : 768px) {
	
	#visit-us {
	padding-top: 0;

}

#about-us-footer {
	padding-top: 10px;

}

#copy-footer {
	padding-top: 10px;
 }

#copy-edgaar {
	padding-top: 20px;

}
	
	
}




@media screen and (max-width : 568px) {
	
#visit-us {
	padding-top: 0;

}

#about-us-footer {
	padding-top: 10px;

}

#copy-footer {
	padding-top: 10px;
 }

#copy-edgaar {
	padding-top: 20px;

}
	


}
