---
layout: default
---

<section id="project-post">
  <div class="container" id="project-body">

    <h2>{{page.title}}</h2>

    {% if page.author %}
    <p class="lead">by <a href="#">{{page.author}}</a></p>
    {% endif %}

    {% if page.url and page.niceurl %}
    <div class="project-link">
      <a href="{{page.externalurl}}">{{page.niceurl}}</a>
    </div>
    {% endif %}


    <p class="claim">{{page.meta}}</p> 


    {{content}}
  </div> <!-- container -->

</section> <!-- project-post -->


{% include footer.html %}
